.col {
  float: left;
  padding: 0;
  text-align: center;
  &.col-order {
    width: 1.5%;
  }
  &.col-type {
    width: 2%;
    .story-type-name {
      margin-right: 0;
      margin-top: -2px;
    }
  }
  &.col-status {
    width: 4%;
    .story-status {
      padding: 5px 4px 2px;
      border-radius: 4px;
      font-size: 13px;
      font-weight: bold;
    }
  }
  &.col-mod-epic {
    width: 20%;
    text-align: left;
    padding: 0 15px;
  }
  &.col-name {
    width: 24%;
    text-align: left;
    padding: 0 15px;
  }
  &.col-statement {
    width: 37%;
    text-align: left;
    padding: 0 15px;
  }
  &.col-sp {
    width: 3%;
  }
  &.col-vp {
    width: 3%;
  }
  &.col-buttons {
    width: 4%;
  }
}

.backlog {
  margin-top: 60px;

  .fab-story-container {
    margin-top: 0;
    margin-bottom: -63px;
    margin-left: 54px;
    position: relative;
    width: 300px;
    top: -60px;
    left: 30px;
  }

  .sprint-container {
    .panel-show-sprint {
      .panel-heading {
        cursor: pointer;
        overflow: hidden;
        &:hover {
          background-color: darken($gray, 10%);
        }
        .sprint-name {
          font-size: 15px;
          vertical-align: middle;
          display: inline-block;
          width: 67%;
          padding-left: 5px;
        }
        .sprint-status {
          padding: 4px 7px;
          border-radius: 17px;
          vertical-align: middle;
          margin-left: 10px;
        }
        .btn-save-sprint {
          float: right;
          font-size: 19px;
          padding: 0 11px;
        }
      }
      .panel-body {
        overflow: hidden;
        height: auto;
        padding: 15px;
        transition: all 0.1s ease-in;
        &.as-list {
          height: 0;
          padding: 0;
        }
      }
    }
  }

  .sprint-status {
    @include sprint-status-backgrounds();
  }

  .sprint-dates {
    overflow: hidden;
    margin-bottom: 20px;
    text-align: center;
    .working-days {
      display: inline-block;
      .fa {
        font-size: 22px;
      }
      .number {
        font-size: 22px;
        display: inline-block;
        margin: 0 25px;
      }
      .label {
        font-size: 12px;
        display: block;
      }
    }
    .start-date, .end-date {
      padding: 4px 10px;
      border-radius: 3px;
      font-size: 18px;
      font-weight: bold;
      margin-top: 5px;
      position: relative;
      .date {
        display: inline-block;
        font-weight: normal;
        width: 110px;
        text-align: right;
        background-color: $gray;
        padding: 2px 4px 0 0;
        color: $gray-lighter;
        border-radius: 3px;
      }
    }
    .start-date {
      float: left;
    }
    .end-date {
      float: right;
    }
  }

  .sprint-objective {
    margin: 0;
    height: 69px;
  }

  .sprint-stories {
    //height: 250px;
    padding: 10px;
    background-color: $gray;
    border-radius: 5px;

  }

  .story-header {
    width: 100%;
    overflow: hidden;
    .title {
      display: inline-block;
      line-height: 36px;
    }
    .btn-create-story {
      i {
        margin-right: 5px;
      }
    }
    .sprint-point {
      text-align: center;
      background-color: $gray-light;
      display: inline-block;
      padding: 2px 5px;
      font-size: 11px;
      border-radius: 4px;
      border: 1px solid $gray-darker;
      float: right;
      .value {
        font-size: 18px;
        display: block;
      }
    }
  }

  .popup-complete-sprint {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    background-color: rgba(76,76,76,0.8);
    position: fixed;
    z-index: 1032;
    &.opened {
      display: block;
    }
    .panel-edit-sprint, .panel-edit-kanban {
      position: absolute;
      top: 60px;
      left: 10px;
      bottom: -5px;
      right: 10px;

      .panel-heading {
        display: inline-block;
        width: 100%;
        .form-group {
          margin-bottom: 0;
        }
        label {
          font-weight: normal;
          font-size: 18px;
          display: block;
          margin-right: 10px;
        }
        .sprint-team {
          button {
            background: transparent;
            font-size: 18px;
            border: none;
          }
          ul {
            li {
              cursor: pointer;
            }
          }
        }
        .sprint-name {
          vertical-align: middle;
          width: 100%;
          display: inline-block;
          padding: 2px 7px;
          font-size: 16px;
          height: 32px;
          color: $gray-lighter;
          background: $gray-dark none;
          border: 1px solid $gray-light;
          border-radius: 4px;
          box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
          &::placeholder {
            color: #DDD;
          }
        }
        .sprint-status {
          span {
            padding: 3px 10px;
            border-radius: 3px;
          }
          .col-md-10 {
            padding-left: 0;
          }
          .col-md-2 {
            padding-right: 0;
          }
        }
        .badge {
          float: right;
          font-size: 17px;
          margin-top: 4px;
        }
      }

      .panel-body {
        padding: 10px;
        position: absolute;
        top: 55px;
        left: 0;
        right: 0;
        bottom: 64px;

        .dropdown {
          position: absolute;
          &.date {
            td {
              &.day {
                &.disabled {
                  background-color: $gray-light;
                  color: $gray;
                }
              }
            }
            &.open {
              &.start {
                top: 120px;
                left: 35px;
              }
              &.end {
                top: 120px;
                right: 350px;
              }
            }
          }
        }

        .sprint-information {
          overflow: hidden;
        }

        .sprint-dates {
          position: relative;
          overflow: hidden;
          margin-bottom: 0;
          text-align: center;
          .start-date, .end-date {
            padding: 6px 8px 0 10px;
            label {
              margin: 0;
              vertical-align: super;
            }
            .input-group {
              .form-control {
                padding: 0 10px;
                height: 30px;
                text-align: right;
                color: $gray-darker;
              }
              .input-group-addon {
                padding: 3px 11px;
                line-height: normal;
                .fa {
                  color: $gray-lighter;
                  font-size: 18px;
                }
              }
            }
            .date {
              padding: 0;
              width: 150px;
              background: transparent;
            }
          }
          .start-date {
            float: left;
          }
          .end-date {
            float: right;
          }
        }

        .sprint-objective {
          height: auto;
          margin-top: 10px;
          textarea {
            &::placeholder {
              color: #DDD;
            }
            width: 100%;
            max-width: 100%;
            background: transparent;
            border: none;
          }
        }

        .sprint-stories {
          overflow-y: auto;
          position: absolute;
          top: 80px;
          left: 10px;
          bottom: 10px;
          right: 10px;

          &.list-group {
            li {
              div {
                &.col {
                  padding: 0;
                }
              }
            }
          }
        }

        .btn-expand {
          float: right;
          margin-left: 8px;
          margin-top: 2px;
        }

        &.expanded {
          .story-header {
            margin-top: -17px;
          }
          .sprint-information {
            height: 0;
          }
          .sprint-stories {
            top: 40px;
          }
        }
      }

      .panel-footer {
        text-align: center;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }

    .panel-edit-sprint {
      .panel-body {
        .sprint-stories {
          top: 215px;
        }
      }
    }
  }

  .popup-stories {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    background-color: rgba(76,76,76,0.8);
    position: fixed;
    z-index: 1032;
    &.opened {
      display: block;
    }
    .panel-stories {
      margin: 1% 3%;
      .panel-heading {
        display: inline-block;
        width: 100%;
        .icelog-title {
          padding-top: 6px;
          span {
            font-size: 18px;
          }
        }
        .form-group {
          margin-bottom: 0;
        }
        .select-story-type {
          padding-left: 7px;
        }
        .search-stories {
          width: 25%;
          padding: 2px 9px;
          height: 35px;
          float: right;
        }
        label {
          font-weight: normal;
          font-size: 18px;
          display: block;
          margin-right: 10px;
        }
        .sprint-name {
          vertical-align: middle;
          width: 100%;
          display: inline-block;
          padding: 2px 7px;
          font-size: 16px;
          height: 32px;
          color: $gray-lighter;
          background: $gray-dark none;
          border: 1px solid $gray-light;
          border-radius: 4px;
          box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        }
        .badge {
          float: right;
          font-size: 17px;
          margin-top: 4px;
        }
      }
      .panel-body {
        padding: 20px;
        height: 83vh;
        zoom: 1;
        overflow: auto;
        position: relative;
        .sprint-stories {
          height: 100%;
          overflow: hidden;
          li {
            .story-name {
              width: 140px;
              display: inline-block;
            }
            .story-statement {
              margin: 0;
              font-size: 16px;
              height: auto;
              width: 67%;
              margin-right: 28px;
              margin-top: -6px;
              padding: 7px 12px;
            }
            .btn-remove-item {
              margin-left: 5px;
            }
          }
        }
      }
      .panel-footer {
        text-align: center;
        overflow: hidden;
      }
    }
  }

}

.btn-add-sprint, .btn-add-kanban {
  margin-left: 10px;
}


.table-sprint {
  th {
    text-align: center;
  }
  tbody {
    tr {
      border-bottom: 2px solid #FAFAFA;
      td {
        vertical-align: middle;
        padding: 2px 10px;
        cursor: pointer;
      }
    }
  }
  .col-team {
    width: 4%;
  }
  .col-status {
    width: 5.8%;
    text-align: center;
    .sprint-status {
      padding: 3px 10px;
      border-radius: 3px;
    }
  }
  .col-name {
    width: 21.8%;
  }
  .col-points {
    text-align: center;
    width: 4%;
    .value {
      text-align: center;
      background-color: $gray-light;
      display: inline-block;
      padding: 2px 7px;
      font-size: 15px;
      border-radius: 4px;
      border: 1px solid $gray-darker;
    }
  }
  .col-stories {
    text-align: center;
    width: 4%;
  }
  .col-date {
    text-align: center;
    width: 8%;
  }
  .col-action {
    text-align: center;
    width: 3%;
  }
}