
.backlog {
  margin-top: 80px;
  .sprint-container {
    .panel-edit-sprint {
      .panel-heading {
        overflow: hidden;
        .sprint-name {
          font-size: 15px;
          vertical-align: middle;
          display: inline-block;
          width: 60%;
          padding-left: 5px;
        }
        .btn-save-sprint {
          float: right;
          font-size: 19px;
          padding: 0 11px;
        }
      }
    }
  }

  .sprint-dates {
    overflow: hidden;
    margin-bottom: 20px;
    text-align: center;
    .working-days {
      display: inline-block;
      .fa {
        font-size: 22px;
      }
      .number {
        font-size: 22px;
        display: inline-block;
        margin: 0 25px;
      }
      .label {
        font-size: 12px;
        display: block;
      }
    }
    .start-date, .end-date {
      padding: 4px 10px;
      border-radius: 3px;
      font-size: 18px;
      font-weight: bold;
      margin-top: 5px;
      .date {
        display: inline-block;
        font-weight: normal;
        width: 110px;
        text-align: right;
        background-color: $gray;
        padding: 2px 3px 0 0;
      }
    }
    .start-date {
      float: left;
      background-color: $brand-success;
    }
    .end-date {
      float: right;
      background-color: $brand-danger;
    }
  }

  .sprint-objective {
    margin: 0;
    height: 60px;
  }

  .sprint-stories {
    height: 250px;
    padding: 10px;
    background-color: $gray;
    border-radius: 5px;
    li {
      background-color: $gray;
      color: #222;
      border-color: #222;
      width: 97%;
      cursor: pointer;
      &:hover {
        background-color: $gray-darker;
      }
      .story-type-name {
        display: inline-block;
        padding: 0;
        width: 27px;
        height: 27px;
        background-position: 6px 5px;
        background-color: $gray-dark;
      }
      &.new-item {
        background-color: #5e7162;
        color: #9bb299;
        cursor: pointer;
        overflow: hidden;
        &:hover {
          background-color: darken(#5e7162, 15%);
        }
        .btn-add-item, .btn-remove-item {
          float: right;
          padding: 5px 10px;
          font-size: 15px;
          margin-top: 0;
          margin-left: 5px;
        }
      }
      .fa {
        margin: 0;
      }
      .btn-remove-item {
        margin-top: -5px;
        float: right;
        padding: 5px 10px;
        font-size: 15px;
      }
    }
  }

  .story-header {
    width: 100%;
    overflow: hidden;
    .title {
      display: inline-block;
      line-height: 36px;
    }
    .sprint-point {
      text-align: center;
      background-color: $gray-light;
      display: inline-block;
      padding: 2px 5px;
      font-size: 11px;
      border-radius: 4px;
      border: 1px solid $gray-darker;
      float: right;
      .value {
        font-size: 18px;
        display: block;
      }
    }
  }

  .popup-complete-sprint {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    background-color: rgba(76,76,76,0.8);
    position: fixed;
    z-index: 1032;
    &.opened {
      display: block;
    }
    .panel-edit-sprint {
      margin: 3% 20%;
      .panel-heading {
        height: 55px;
        label {
          font-weight: normal;
          font-size: 18px;
          vertical-align: text-top;
          margin-right: 10px;
        }
        .sprint-name {
          vertical-align: middle;
          width: 80%;
          display: inline-block;
          padding: 2px 7px;
          font-size: 16px;
          height: 32px;
          color: $gray-lighter;
          background: $gray-dark none;
          border: 1px solid $gray-light;
          border-radius: 4px;
          box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        }
        .sprint-project {
          .btn-group {
            &.dropdown {
              button {
                font-size: 16px;
              }
            }
          }
          li {
            cursor: pointer;
          }
        }
        .badge {
          float: right;
          font-size: 17px;
          margin-top: 4px;
        }
      }
      .panel-body {
        padding: 20px;
        height: 69vh;
        zoom: 1;
        overflow: auto;
        position: relative;

        .dropdown {
          position: absolute;
          &.date {
            td {
              &.day {
                &.disabled {
                  background-color: $gray-light;
                  color: $gray;
                }
              }
            }
            &.open {
              &.start {
                top: 120px;
                left: 35px;
              }
              &.end {
                top: 120px;
                right: 350px;
              }
            }
          }
        }

        .sprint-dates {
          position: relative;
          overflow: hidden;
          margin-bottom: 20px;
          text-align: center;
          .start-date, .end-date {
            padding: 6px 8px 0 10px;
            label {
              margin: 0;
              vertical-align: super;
            }
            .input-group {
              .form-control {
                padding: 0 10px;
                height: 30px;
                text-align: right;
              }
              .input-group-addon {
                padding: 3px 11px;
                line-height: normal;
                .fa {
                  color: $gray-lighter;
                  font-size: 18px;
                }
              }
            }
            .date {
              padding: 0;
              width: 150px;
              background: transparent;
            }
          }
          .start-date {
            float: left;
            background-color: $brand-success;
          }
          .end-date {
            float: right;
            background-color: $brand-danger;
          }
        }
        .sprint-objective {
          height: auto;
          textarea {
            width: 100%;
            max-width: 100%;
            background: transparent;
            border: none;
          }
        }
        .sprint-stories {
          height: 30vh;
          overflow: hidden;
          li {
            .sprint-statement {
              margin: 0;
              font-size: 16px;
              height: auto;
              float: right;
              width: 67%;
              margin-right: 28px;
              margin-top: -6px;
              padding: 7px 12px;
            }
            .btn-remove-item {
              margin-left: 5px;
            }
          }
        }
      }
      .panel-footer {
        text-align: center;
        overflow: hidden;
      }
    }
  }




  .popup-stories {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    background-color: rgba(76,76,76,0.8);
    position: fixed;
    z-index: 1032;
    &.opened {
      display: block;
    }
    .panel-stories {
      margin: 5% 20%;
      .panel-heading {
        height: 55px;
        label {
          font-weight: normal;
          font-size: 18px;
          vertical-align: text-top;
          margin-right: 10px;
        }
        .sprint-name {
          vertical-align: middle;
          width: 80%;
          display: inline-block;
          padding: 2px 7px;
          font-size: 16px;
          height: 32px;
          color: $gray-lighter;
          background: $gray-dark none;
          border: 1px solid $gray-light;
          border-radius: 4px;
          box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        }
        .sprint-project {
          .btn-group {
            &.dropdown {
              button {
                font-size: 16px;
              }
            }
          }
          li {
            cursor: pointer;
          }
        }
        .badge {
          float: right;
          font-size: 17px;
          margin-top: 4px;
        }
      }
      .panel-body {
        padding: 20px;
        height: 50vh;
        zoom: 1;
        overflow: auto;
        position: relative;
        .sprint-stories {
          height: 100%;
          overflow: hidden;
          li {
            .story-name {
              width: 140px;
              display: inline-block;
            }
            .story-statement {
              margin: 0;
              font-size: 16px;
              height: auto;
              width: 67%;
              margin-right: 28px;
              margin-top: -6px;
              padding: 7px 12px;
            }
            .btn-remove-item {
              margin-left: 5px;
            }
          }
        }
      }
      .panel-footer {
        text-align: center;
        overflow: hidden;
      }
    }
  }

}