h3 {
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  margin: 0;
}

h4 {
  font-size: 13px;
  margin: 0;
}

.burn-up {
  margin: 5px -15px;
  .col-md-12 {
    padding: 0 5px;
  }
  .panel-default {
    margin-bottom: 0;
    .panel-heading {
      padding: 2px;
    }
    .panel-body {
      padding: 10px;
    }
  }
  .col-md-2 {
    text-align: right;
    line-height: 35px;
    font-size: 15px;
    font-weight: bold;
    padding-right: 15px;
  }
  i {
    font-size: 18px;
    vertical-align: middle;
    color: $gray-lighter;
    margin-right: 10px;
  }
  span {
    display: inline-block;
    width: $graph-part-width;
    height: 30px;
    border: 1px solid #CECECE;
    text-align: center;
    line-height: 29px;
    font-size: 11px;
    font-weight: bold;
    color: #DDD;
    &.day {
      background-color: #DDD;
      color: #999;
      &.passed {
        background-color: #999;
        color: #DDD;
      }
      &.is-today {
        background-color: #00ddff;
        color: #555;
      }
    }
    &.day-1 {
      width: $graph-part-width;
    }
    &.day-2 {
      width: $graph-part-width * 2;
    }
    &.day-3 {
      width: $graph-part-width * 3;
    }
    &.day-4 {
      width: $graph-part-width * 4;
    }
    &.day-5 {
      width: $graph-part-width * 5;
    }
  }
  .points {
    @include story-status-backgrounds();
  }
}

.board {
  height: 73vh;
  overflow: hidden;
  margin-top: 5px;
  &.kanban {
    height: 83vh;
    .column {
      height: 78.4vh;
      &.fini, &.itst, &.rtdp, &.dpyd, &.accp, &.reje {
        height: 36.5vh;
      }
    }
  }
  .column-container {
    &.col-md-3, &.col-md-2 {
      padding: 0 5px;
    }
    .panel-default {
      margin-bottom: 10px;
    }
  }
  .panel-heading {
    overflow: hidden;
    span {
      display: inline-block;
      vertical-align: middle;
      float: left;
      &.stories-length {
        float: right;
        padding: 3px 8px;
        font-size: 13px;
        margin-right: 3px;
      }
      &.badge {
        color: #EEE;
        float: right;
        @include story-status-backgrounds();
      }
    }
  }
  .column {
    height: 68.4vh;
    padding-right: 0;
    &.fini, &.itst, &.rtdp, &.dpyd, &.accp, &.reje {
      height: 31.5vh;
    }
  }
}

.story {
  margin-right: 15px;
  &:hover {
    @include box-shadow(2px 2px 8px 2px rgba(255, 255, 255, 0.8));
  }
  .panel-heading, .panel-footer {
    padding: 5px;
  }
  .panel-heading {
    padding: 5px;
    overflow: hidden;
    cursor: pointer;
    .col-md-12 {
      padding: 2px;
    }
    &:hover {
      background-color: $gray-light;
    }
    .story-type {
      @include story-types();
      background-position: center;
      padding: 0 10px;
      width: 16px;
      height: 16px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      margin-top: 2px;
      cursor: pointer;
      &:hover {
        background-color: $gray-lighter;
      }
    }
    .story-name {
      font-size: 15px;
      vertical-align: middle;
      display: inline-block;
      cursor: pointer;
      width: 80%;
      padding-left: 5px;
      border-radius: 4px;
    }
    .badge {
      float: right;
    }
  }
  .panel-body {
    padding: 5px;
  }
  .panel-footer {
    overflow: hidden;
  }
}

.list-group {
  margin-bottom: 0;
  .list-group-item {
    font-size: 11px;
    .fa {
      cursor: pointer;
      font-size: 15px;
      &.fa-fw {
        margin-right: 5px;
      }
      &:hover {
        color: #000;
      }
    }
  }
}

.btn-go-back-story {
  float: left;
  .minus-margin {
    margin-left: -7px;
  }
}

.story-requester, .story-owner {
  display: inline-block;
  cursor: pointer;
  label {
    cursor: pointer;
    padding: 4px 4px;
    font-size: 12px;
    border-radius: 14px;
    margin: 0 5px 0 10px;
    background-color: $brand-info;
    color: $gray-lighter;
  }
}

.story-owner {
  margin-right: 20px;
  label {
    background-color: $brand-success;
  }
}

.btn-go-forward-story {
  float: right;
  .minus-margin {
    margin-right: -7px;
  }
}
