h3 {
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  margin: 0;
  a {
    text-transform: none;
  }
}

h4 {
  font-size: 13px;
  margin: 0;
}

.burn-up {
  margin: 5px -15px;
  .col-md-12 {
    padding: 0 5px;
  }
  .panel-default {
    margin-bottom: 0;
    .panel-heading {
      padding: 2px;
    }
    .panel-body {
      padding: 5px 10px;
    }
  }
  .col-md-2 {
    text-align: right;
    line-height: 35px;
    font-size: 15px;
    font-weight: bold;
    padding-right: 15px;
  }
  i {
    font-size: 18px;
    vertical-align: middle;
    color: $gray-lighter;
    margin-right: 10px;
  }
  span {
    display: inline-block;
    width: $graph-part-width;
    height: 30px;
    border: 1px solid #CECECE;
    text-align: center;
    line-height: 29px;
    font-size: 11px;
    font-weight: bold;
    color: #DDD;
    &.day {
      background-color: #DDD;
      color: #999;
      &.passed {
        background-color: #999;
        color: #DDD;
      }
      &.is-today {
        background-color: #00ddff;
        color: #555;
      }
    }
    &.day-1 {
      width: $graph-part-width;
    }
    &.day-2 {
      width: $graph-part-width * 2;
    }
    &.day-3 {
      width: $graph-part-width * 3;
    }
    &.day-4 {
      width: $graph-part-width * 4;
    }
    &.day-5 {
      width: $graph-part-width * 5;
    }
  }
  .points {
    @include story-status-backgrounds();
  }
}

.background-modal {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(100, 100, 100, 0.8);
  z-index: 1046;

  &.opened {
   display: block;
  }
}

.board {
  height: 73vh;
  overflow: hidden;
  margin-top: 5px;

  md-tabs {
    height: 84.5vh;
  }

  .md-tab {
    line-height: 20px;
    padding: 0;
  }

  md-tabs-canvas {
    height: 24px;
  }

  md-tabs-content-wrapper {
    top: 26px;
  }

  md-pagination-wrapper {
    height: 21px;
  }

  &.column-expanded {
    md-tab-content {
      display: inline !important;
      position: unset !important;;
    }
  }

  &.kanban {
    height: 83vh;
    .column {
      height: 75.4vh;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #3e7298;
      }

      &.accp, &.reje {
        height: 34.9vh;
      }
    }
  }

  .column-container {
    &.col-md-3, &.col-md-2 {
      padding: 0 5px;
    }

    &.expanded {
      position: fixed;
      z-index: 1047;
      top: 10%;
      right: 20%;
      bottom: 10%;
      left: 20%;
      .column {
        height: 79vh;
        &.accp, &.reje {
          height: 79vh;
        }
      }
    }

    .panel-default {
      margin-bottom: 10px;
    }

    .as-sortable-placeholder {
      background-color: rgba(100, 100, 100, 0.8);
      border-radius: 3px;
      border: 1px dashed #EFEFEF !important;
      margin-bottom: 10px;
    }
  }
  .panel-heading {
    overflow: hidden;
    cursor: pointer;

    &.board-column-heading {
      overflow: unset;
      min-height: 40px;
    }

    &:hover {
      background-color: lighten($gray-dark, 10%);
    }
    .board-column-heading-span {
      display: inline-block;
      vertical-align: middle;
      float: left;

      &.stories-length {
        float: right;
        padding: 3px 8px;
        font-size: 13px;
        margin-right: 3px;
      }

      &.badge {
        color: #EEE;
        float: right;
        @include story-status-backgrounds();
      }
    }
    .board-column-heading-buttons {
      float: right;
      margin-left: 10px;
    }
    .dropdown-add-story {
      float: right;
      margin-left: 10px;
    }
  }
  .column {
    height: 66.1vh;
    padding-right: 0;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: #3e7298;
    }

    &.accp, &.reje {
      height: 31.5vh;
    }
  }
}

.story {
  margin-right: 15px;

  &:hover {
    @include box-shadow(2px 2px 8px 2px rgba(255, 255, 255, 0.8));
  }
  .panel-heading, .panel-footer {
    padding: 5px;
  }
  .panel-heading {
    padding: 5px;
    overflow: hidden;
    cursor: pointer;
    .col-md-12 {
      padding: 2px;
    }
    &:hover {
      background-color: $gray-light;
    }

    .move-story {
      padding: 1px 9px 0;
      &:hover {
        cursor: grab;
      }
    }

    .story-type {
      @include story-types();
      background-position: center;
      padding: 0 10px;
      width: 16px;
      height: 16px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      margin-top: 2px;
      cursor: pointer;
      &:hover {
        background-color: $gray-lighter;
      }
    }
    .story-name {
      font-size: 15px;
      vertical-align: middle;
      display: inline-block;
      cursor: pointer;
      width: 66%;
      padding-left: 5px;
      border-radius: 4px;
    }
    .badge {
      float: right;
    }
  }
  .panel-body {
    padding: 5px;
  }
  .panel-footer {
    overflow: hidden;
  }
}

.btn-go-back-story {
  float: left;
  .minus-margin {
    margin-left: -7px;
  }
}

.story-requester, .story-owner {
  display: inline-block;
  cursor: pointer;
  label {
    cursor: pointer;
    padding: 4px 4px;
    font-size: 12px;
    border-radius: 14px;
    margin: 0 5px 0 10px;
    background-color: $brand-info;
    color: $gray-lighter;
  }
}

.story-owner {
  margin-right: 20px;
  label {
    background-color: $brand-success;
  }
}

.btn-go-forward-story {
  float: right;
  .minus-margin {
    margin-right: -7px;
  }
}

.board-control-panel {
  display: none;
  &.opened {
    display: block;
  }
}

.fab-story-comments {
  position: relative;
  width: 200px;
  top: -2px;
  left: 173px;
}

.comment-file {
  img {
    width: 100%;
  }
}

.comment-textarea {
  background-color: $gray-light;
  color: #FFF;

  &::placeholder {
    color: #EEE;
  }
}

.btn-filter-status {
  @include sprint-status-backgrounds();
  &.active {
    @include sprint-status-backgrounds-darken();
  }
}

.board-need-refresh {
  position: fixed;
  bottom: -200px;
  right: 0;
  left: 0;
  transition: bottom ease-in-out 0.3s;

  &.showed {
    bottom: -20px;
  }

  p {
    margin: 0;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: #DDD;
  }

  .btn-refresh-board {
    padding: 0 9px;
  }

  .alert {
    border-radius: 0;
    background-color: transparentize(darken($brand-warning, 10%), 0.1);
  }
}

.story-task {
  &:hover {
    .talk-in-board {
      display: block;
    }
  }
}

.talk-in-board {
  display: none;
  position: absolute;
  top: 9px;
  right: 5px;
}

.story-tasks, .story-definitions {
  .btn-talk-to-me {
    &.story-popup {
      padding: 6px 9px;
      margin-top: -5px;

      i {
        font-size: 15px !important;
      }
    }
  }
}