.story-type-option {
  background-repeat: no-repeat;
  background-position: 9px 7px;
  padding-left: 34px;
  cursor: pointer;
  @include story-types();
}

li {
  a {
    &.story-type-option {
      padding-left: 34px;
    }
  }
}

.ice-box {
  h4{
    font-size: 25px;
    text-align: center;
  }
  .table{
    .btn{
      background-color: transparent;
      border: none;
    }
    .btn-danger:hover{
      background-color: $btn-danger-bg;
    }
    .btn-primary:hover{
      background-color: $btn-primary-bg;
    }
    > tbody > tr:nth-of-type(odd) {
      background-color: #3e4d45;
      border-radius: 10px;
    }
    > tbody > tr:hover{
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
  .table>thead>tr>th{
    border: none;
  }
  .table>tbody>tr>td{
    border: none;
  }
  .navbreno{
    top: 61px;
    background: #303c36;
    border-bottom: 1px solid white;
    display: inline-flex;
    height: 70px;
    z-index: 300 !important;
    .name-epic{
      top: 23px;
      position: relative;
      left: 23px;
    }
  }
  padding-top: 15px;
  overflow-y: scroll;
  height: 92vh;
  margin-top: 60px;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #3e7298;
  }
  .modules {
    display: flex;
    flex-direction:row;
    .module {
      margin-left: 10px;
    }
    .module-icon {
      border-radius: 3px;
      border: 1px solid;
      display: block;
      text-align: center;
      width: 120px;
      padding: 10px;
      height: 150px;
      &:hover {
        text-decoration: none;
        color: $gray-dark;
        border-color: $gray-dark;
        background-color: $link-color;
      }
      i {
        font-size: 85px;
        display: block;
      }
    }
  }

  .grouped-not-both {
    .table {
      width: 97%;
      margin-left: 20px;
    }
  }

  .grouped-both {
    .table {
      width: 96%;
      margin-left: 28px;
    }
  }

  .fab-story-container {
    position: relative;
    right: 45px;
    float: right;
    .md-fab{
      background-color: #3b739c;
    }
  }

  .fab-general-container {
    position: absolute;
    float: right;
    right: 53px;
  }

  .epic-name {
    text-align: left;
    width: 100%;
    padding: 8px 0 7px 20px;
    margin-bottom: 10px;
    vertical-align: middle;
    height: 81px;
    .name{
      text-align: left;
      padding: 8px 0 7px 20px;
      top: 12px;
      /* float: right; */
      position: relative;
    }
  }

  .story-container {
    .panel-heading {
      cursor: pointer;
      overflow: hidden;
      &:hover {
        background-color: darken($gray, 10%);
      }
      .story-type {
        padding: 6px 18px;
      }
      .story-name {
        font-size: 15px;
        vertical-align: middle;
        display: inline-block;
        width: 63%;
        padding-left: 5px;
      }
      .btn-save-story {
        float: right;
        font-size: 19px;
        padding: 0 11px;
      }
    }
    .panel-body {
      overflow: hidden;
      height: auto;
      padding: 15px;
      transition: all 0.1s ease-in;
      &.as-list {
        height: 0;
        padding: 0;
      }
    }
  }
}

.btn-group-story {
  margin-left: 10px;
}

.table-story {
  th {
    text-align: center;
  }
  tbody {
    tr {
      td {
        vertical-align: middle;
        padding: 2px 10px;
        cursor: pointer;
      }
    }
  }
  .col-module {
    width: 6%;
  }
  .col-epic {
    width: 14%;
  }
  .col-type {
    width: 7.8%;
  }
  .col-name {
    width: 17.8%;
  }
  .col-points {
    text-align: center;
    width: 3.5%;
  }
  .col-requester {
    width: 9.5%;
  }
  .col-action {
    text-align: center;
    width: 3%;
  }
}