.story-type-option {
  background-repeat: no-repeat;
  background-position: 9px 7px;
  padding-left: 34px;
  cursor: pointer;
  @include story-types();
}

li {
  a {
    &.story-type-option {
      padding-left: 34px;
    }
  }
}

.ice-box {
  margin-top: 80px;
  .story-container {
    .panel-heading {
      cursor: pointer;
      overflow: hidden;
      &:hover {
        background-color: darken($gray, 10%);
      }
      .story-name {
        font-size: 15px;
        vertical-align: middle;
        display: inline-block;
        width: 67%;
        padding-left: 5px;
      }
      .btn-save-story {
        float: right;
        font-size: 19px;
        padding: 0 11px;
      }
    }
    .panel-body {
      overflow: hidden;
      height: auto;
      padding: 15px;
      transition: all 0.1s ease-in;
      &.as-list {
        height: 0;
        padding: 0;
      }
    }
  }
}

.btn-group-story {
  margin-left: 10px;
}