.lateral-menu {
  .project-item {
    padding: 0 0 10px;
    &.selected {
      background-color: $gray;
      border-color: $gray-much-darker;
    }

    .project-title {
      overflow: hidden;
      margin: 10px 10px 0;
      button {
        float: right;
        margin-left: 5px;
      }
    }

    .project-dates {
      overflow: hidden;
      margin: 10px 10px 0;

      .date, .working-days {
        display: inline-block;
        width: 32.33%;
        margin: 0;
      }

      .working-days {
        text-align: center;
        vertical-align: super;
      }

      .date-stamp {
        text-align: center;
        background-color: $brand-info;
        border-radius: 3px;
        padding: 2px;
        color: #CCC;
        font-size: 12px;
        .date-box {
          span {
            font-weight: bold;
          }
        }
      }
    }

    .project-control {
      margin: 10px 10px 0;
      padding: 5px;
      border: 1px solid $gray-lighter;
      border-radius: 2px;
      .btn-project-control {
        width: 20%;
        margin: 1% 0;
        padding: 1px 9px 0;
        line-height: 19px;
        font-size: 11px;
        text-align: left;
        &:focus {
          background-color: transparent;
        }
        &.active {
          background-color: $gray-dark;
          &:focus {
            background-color: $gray-dark;
          }
        }

        .fa {
          float: right;
          margin-top: 4px;
        }
      }
    }

  }
}

.project {
  margin: 60px 0 0 0;
  height: 92vh;
  overflow-y: auto;
  padding: 10px 0 0 5px;
  transition: margin 0.5s;

  .story-details, .sprint-details, .kanban-details {
    .list-group {
      li {
        div {
          padding: 0;
        }
      }
    }
  }

  .loading-story {
    position: absolute;
    top: 24px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0.4, 0.4, 0.4, 0.4);
    text-align: center;
    i {
      &.fa-spinner {
        font-size: 50px;
        color: #FFF;
        margin: 41%;
      }
    }
  }

  .panel {
    margin-bottom: 0;
  }

  .panel-project {
    width: 30%;
    margin: 0 0.2%;
    float: left;

    .panel-heading {
      .btn-create-sprint, .btn-create-kanban {
        float: right;
        padding: 0 5px;
        i {
          font-size: 13px;
        }
      }
      .dropdown-add-story {
        float: right;
      }
    }
    .project-stories-list, .project-sprint-list, .project-kanban-list, .project-attachments-list {
      overflow-y: scroll;
      height: 85vh;
      padding-left: 4px;
      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: #3e7298;
      }
      .stories-group-order {
        &:hover {
          background-color: transparent;
        }
        .order-label, .group-label {
          font-family: Open Sans,open-sans,EmojiFontFace,helvetica,arial,sans-serif;
          color: $gray-light;
          font-size: 10px;
          display: inline-block;
          float: left;
          margin: 5px 0 0;
        }
        .order-form-group, .group-form-group {
          padding: 0 2px;
          margin: 0;
          width: 65%;
          display: inline-block;
          float: right;
          select {
            background-color: $gray-dark;
            color: $gray-light;
            padding: 0;
            height: 22px;
            font-size: 12px;
          }
        }
      }

      .attach-image{
        max-height: 150px;
        max-width: 200px;
      }

      .list-attachment-item{
        padding: 8px;
        margin: 6px;
        border-radius: 4px;
        background-color: fade_out(black, 0.9);
        &:hover{
          background-color: fade_out(black, 0.8);
        }
        .btn-remove-attachment{
          float: right;
          top: -43px;
          left: 9px;
          position: relative;
          width: 28px;
        }
      }

      .list-group-item {
        padding: 0;
        &.stories-group-order {
          padding: 3px 0;
        }
        &.animate-story {
          &.ng-enter {
            transition: 0.5s linear all;
            opacity: 0;
          }

          &.ng-enter.ng-enter-active {
            opacity: 1;
          }

          &.ng-leave {
            transition: 0.2s linear all;
            opacity: 1;
          }

          &.ng-leave.ng-leave-active {
            opacity: 0;
          }
        }
        &.no-story {
          padding: 0 5px;
          font-size: 12px;
          color: #BBB;
        }
      }

      .panel-module {
        padding: 0;
        .panel-heading {
          &.module-heading, &.epic-heading {
            color: $gray-lighter;
            background-color: $gray-much-darker;
            .module-chevron {
              float: right;
              display: inline-block;
              margin-right: 5px;
              margin-top: -2px;
              color: $gray-light;
              i {
                font-size: 15px;
              }
            }
          }
          &.epic-heading {
            background-color: $gray-darker;
            font-size: 13px;
          }
          .grouped-total-stories {
            font-size: smaller;
            color: #777;
          }
        }
        .panel-body {
          padding: 0;
          .panel-story {
            .panel-body {
              padding: 0 5px;
            }
          }
        }
      }

      .panel-sprint, .panel-kanban, .panel-story {
        margin: 0;
        padding: 0;
        &:hover {
          border-color: $gray-dark;
        }

        .panel-heading {
          background-color: $gray-dark;

          .btn-add-to-project, .btn-remove-from {
            padding: 0 2px;
            line-height: 13px;
            border-radius: 2px;
            i {
              font-size: 12px;
            }
          }

          .btn-remove-from {
            position: absolute;
            right: 2%;
            top: 5px;
          }

          .story-type {
            background-repeat: no-repeat;
            background-position: center left;
            background-size: 13px;
            display: inline-block;
            padding: 0;
            width: 13px;
            height: 13px;
          }

          input {
            &.story-name, &.sprint-name, &.kanban-name {
              height: 18px;
              border: 1px solid $gray;
              background-color: $gray-dark;
              border-radius: 1px;
              font-family: Open Sans,open-sans,EmojiFontFace,helvetica,arial,sans-serif;
              font-size: 12px;
              padding: 2px;
              width: 80%;
            }
            &.sprint-name, &.kanban-name {
              font-size: 16px;
              background-color: $gray-darker;
              vertical-align: inherit;
            }
          }

          .story-name {
            font-size: 12px;
            vertical-align: middle;
          }

          .story-chevron {
            position: absolute;
            right: 7%;
            top: 2px;
            display: inline-block;
            margin-right: 5px;
            margin-top: -2px;
            color: $gray-light;
            i {
              font-size: 12px;
            }
          }
        }

        .panel-body {
          background-color: #f1f0ea;
          padding: 0 5px;
          .form-sprint, .form-kanban, .form-story{
            padding: 5px 0;
            .statement-save, .sprint-save, .kanban-save {
              overflow: hidden;
              .btn-success {
                margin: 5px 0;
              }
            }

            .sprint-details, .kanban-details, .story-details, .story-tabs, .story-iterations, .story-date {
              overflow: hidden;
              margin-top: 5px;
              border-top: 1px solid #666;
            }

            .list-group {
              &.col-sm-6 {
                padding: 0 5px;
              }
              .list-group-item {
                background-color: #f1f0ea;
                padding: 5px 0;
                .project-story-iteration, .project-story-date {
                  color: #666;
                  font-size: 13px;
                  vertical-align: middle;
                  margin-left: 5px;
                }
                .story-requester, .story-owner {
                  float: right;
                  margin: 0;
                }
                .story-owner-name-initials, .story-requester-name-initials {
                  font-family: Open Sans,open-sans,EmojiFontFace,helvetica,arial,sans-serif;
                  background-color: #a1a4ad;
                  font-size: 10px;
                  display: inline-block;
                  height: 19px;
                  width: 19px;
                  border-radius: 24px;
                  font-weight: bold;
                  text-align: center;
                  line-height: 19px;
                }
                .story-owner-name, .story-requester-name {
                  color: #666;
                  font-size: 12px;
                }
                .form-story-label {
                  font-family: Open Sans,open-sans,EmojiFontFace,helvetica,arial,sans-serif;
                  color: $gray-dark;
                  font-size: 10px;
                  display: inline-block;
                  float: left;
                  margin: 5px 0 0;
                }
                .story-requester {
                  width: 134px;
                  text-align: right;
                }
                .project-story-points {
                  float: right;
                  label {
                    &.btn-xs {
                      padding: 2px;
                      font-size: 11px;
                      font-family: Open Sans,open-sans,EmojiFontFace,helvetica,arial,sans-serif;
                      &.active {
                        background-color: #d8f8b7 !important;
                        color: #666 !important;
                      }
                    }
                  }
                }
                .project-story-status {
                  float: right;
                  .story-status {
                      padding: 4px 5px;
                      border-radius: 2px;
                      font-size: 12px;
                      line-height: 14px;
                  }
                }
                .form-group {
                  display: inline-block;
                  float: right;
                  margin: 0;
                  &.with-select {
                    padding: 0;
                    &.with-story-type, &.with-story-status {
                      width: 67%;
                    }
                    &.with-module, &.with-iteration-filter {
                      width: 73%;
                    }
                    &.with-epic, &.with-requester {
                      width: 82%;
                      margin-left: 4px;
                    }
                    select {
                      background-color: #FFFAFA;
                      color: rgb(102, 102, 102);
                      padding: 0;
                      height: 22px;
                      background-position: 3px center;
                      &.select-story-type {
                        padding-left: 17px;
                      }
                    }
                  }
                }
              }
            }

            .story-tabs {
              padding: 5px 0;
              ul {
                li {
                  background-color: transparent;
                  a {
                    background-color: transparent;
                      padding: 0 5px;
                      font-size: 12px;
                      text-transform: uppercase;
                      border-radius: 3px;
                    &.active {
                      background-color: transparent;
                    }
                  }
                  .btn-save-task, .btn-remove-task, .btn-add-task, .btn-remove-comment, .btn-add-comment, .btn-add-merge, .btn-remove-merge {
                    padding: 0 3px;
                    line-height: 14px;
                    border-radius: 2px;
                    i {
                      font-size: 12px;
                    }
                  }
                }
              }
              .tab-content {
                padding: 0;
                .tab-pane {
                  padding: 0;
                  .fab-story-comments {
                    position: relative;
                    width: 171px;
                    top: -1px;
                    left: 272px;
                    .md-fab-toolbar-wrapper {
                      height: 27px;
                      md-toolbar {
                        min-height: 27px;
                        .md-toolbar-tools {
                          height: 27px;
                          min-height: 27px;
                          .md-fab-action-item {
                            padding: 0;
                            width: 23px;
                            button {
                              margin: -5px 0 0;
                              width: 21px;
                              min-height: 24px;
                              height: 24px;
                              padding: 0;
                              md-icon {
                                font-size: 15px;
                              }
                              .md-ripple-container {
                                padding: 0;
                              }
                            }
                          }
                        }
                      }
                    }
                    .md-button {
                      &.md-fab {
                        &.md-mini {
                          width: 20px;
                          height: 20px;
                          min-height: 20px;
                          md-icon {
                            line-height: 20px;
                            font-size: 10px;
                            min-width: 20px;
                            min-height: 20px;
                            width: 20px;
                            height: 20px;
                            left: -6px;
                          }
                        }
                      }
                    }
                  }

                  .list-group {
                    background-color: transparent;
                    padding: 0;
                    min-height: 80px;
                    &.story-comments {
                      .comment-textarea {
                        background-color: transparent;
                        border-radius: 2px;
                      }
                      .comment-details {
                        font-size: 12px;
                      }
                      .comment-text {
                        padding: 0;
                        width: 97%;
                      }
                      .comment-file {
                        margin-left: -7px;
                        padding-left: 0;
                        font-size: 12px;
                        overflow: hidden;
                        .comment-file-details {
                          padding-left: 0;
                          border-bottom: 1px solid #DDD;
                        }
                        .comment-filename {
                          padding-left: 0;
                          width: 45%;
                          a {
                            text-transform: none;
                            text-decoration: none;
                            font-size: 10px;
                            color: $gray-dark;
                            width: 100%;
                            overflow: hidden;
                            text-align: left;
                          }
                        }
                        .comment-file-description {
                          width: 55%;
                        }
                      }
                      .new-attachment {
                        overflow: hidden;
                        .story-comments-file {
                          height: 23px;
                        }
                      }
                      .with-break-lines {
                        display: block;
                        a {
                          text-transform: none;
                        }
                      }
                    }

                    &.story-merge-requests {
                      .merge-request-details {
                        font-size: 12px;
                      }
                      .with-break-lines {
                        a {
                          text-transform: none;
                        }
                      }
                    }
                    .as-sortable-placeholder {
                      background-color: #FFF;
                      border-radius: 6px;
                      border: 1px dashed #666 !important;
                      height: 21px !important;
                      margin: 2px 0 1px;
                    }
                    .list-group-item {
                      padding: 0;
                      color: #666;
                      i {
                        font-size: 14px;
                        margin-right: 0;
                        vertical-align: middle;
                      }
                      .btn-remove-task, .btn-add-task, .btn-remove-comment, .btn-add-comment, .btn-add-merge, .btn-remove-merge {
                        float: right;
                        margin-top: 2px;
                        padding: 1px;
                      }
                      span, input {
                        font-family: Open Sans,open-sans,EmojiFontFace,helvetica,arial,sans-serif;
                        font-size: 12px;
                        vertical-align: middle;
                      }
                      input {
                        background-color: transparent;
                        padding: 0;
                        height: 15px;
                        color: #666;
                      }
                    }
                  }
                }
              }
            }
          }

          .form-group {
            .sprint-numeric-label {
              font-family: Open Sans,open-sans,EmojiFontFace,helvetica,arial,sans-serif;
              color: $gray-dark;
              font-size: 14px;
            }
            margin: 0;
          }

          .form-control {
            font-family: Open Sans,open-sans,EmojiFontFace,helvetica,arial,sans-serif;
            font-size: 12px;
            line-height: 18px;
            border-radius: 2px;
            border: 1px solid #CCC;
            padding: 0 5px;
            background-color: #FFFAFA;
            color: #666;
          }

          input {
            &.form-control {
              height: 24px;
            }
          }
        }
      }

      .panel-sprint, .panel-kanban {
        padding: 0;
        .panel-heading {
          background-color: $gray-darker;
          padding: 4px 5px;

          .sprint-name, .kanban-name {
            font-size: 16px;
            vertical-align: middle;
          }

          .sprint-chevron, .kanban-chevron {
            float: right;
            display: inline-block;
            margin-right: 5px;
            margin-top: -2px;
            color: $gray-light;
            i {
              font-size: 12px;
            }
          }
        }
        .panel-body {
          padding: 0;

          .form-sprint, .form-kanban {
            padding: 5px;
            .sprint-details, .kanban-details {
              overflow: unset;
              height: 120px;
              .list-group {
                .list-group-item {
                  overflow: unset;
                  height: 30px;
                  .sprint-date {
                    width: 53%;
                    float: right;
                    .form-control {
                      text-align: right;
                      height: 20px;
                      font-size: 12px;
                    }
                    .input-group-btn {
                      .btn-xs {
                        padding: 0 5px;
                        line-height: 18px;
                        i {
                          font-size: 13px;
                        }
                      }
                    }
                  }
                }
              }
              .form-group {
                .sprint-numeric-label {
                  padding: 2px 6px;
                  line-height: 14px;
                  display: block;
                  border-radius: 4px;
                  font-size: 13px;
                  cursor: default;
                }
                .sprint-status {
                  color: #EEE;
                  font-weight: bold;
                }
                .sprint-team, .kanban-team {
                  color: #EEE;
                  background-color: $gray;
                  font-weight: bold;
                }
                .sprint-numeric-label, .kanban-numeric-label {
                  color: #EEE;
                  background-color: $gray;
                  font-weight: bold;
                }
              }
            }
          }

          .panel-sprint-stories, .panel-kanban-stories {
            padding: 0;
            .panel-heading {
              padding: 2px 5px;
              background-color: #434e49;
              .dropdown-add-story {
                padding: 0 5px;
                .btn-xs {
                  padding: 0 5px;
                }
              }
              .dropdown-menu {
                left: -83px;
              }
            }
            .sprint-stories-list, .kanban-stories-list {
              padding: 0;
              height: auto;
              overflow: hidden;
              min-height: 180px;

              .order-form-group, .group-form-group {
                padding: 0 2px;
                margin: 0;
                width: 65%;
                display: inline-block;
                float: right;
                select {
                  background-color: $gray-dark;
                  color: $gray-light;
                  padding: 0;
                  height: 22px;
                  font-size: 12px;
                }
              }

              .panel-story {
                .panel-heading {
                  background-color: $gray-dark;
                }
              }
              .form-story {
                padding: 5px;
              }
            }
          }
        }
      }
    }
    .project-sprint, .project-kanban {
      overflow: initial;
    }
  }

  &.lateral-menu-open {
    margin: 60px 0 0 311px;
  }

  .fab-story-container {
    margin: 0 0 -63px 54px;
    position: relative;
    width: 300px;
    top: -34px;
    left: 76px;
  }

  .list-group-multiple-select {
    background: none;
    &:hover {
      background: none;
    }
  }

  .project-teams-label {
    font-family: Open Sans,open-sans,EmojiFontFace,helvetica,arial,sans-serif;
    color: $gray-dark;
    font-size: 10px;
    margin: 5px 0 0;
  }

  multiple-autocomplete {
    .list-inline {
      li {
        background: none;
        font-size: 12px;
        color: $gray-darker;
        border: 1px solid $gray-dark;
        border-radius: 3px;
        padding: 0 2px 0 4px;
        margin: 0 1px;
        width: 16%;
        input {
          width: 100%;
          padding: 0;
          height: auto;
          font-size: 12px;
          background: none;
          color: $gray-dark;
        }
        span {
          line-height: 18px;
          .remove {
            display: inline-block;
            padding: 0;
            vertical-align: middle;
            float: right;
            margin-top: 1px;
            .glyphicon {
              font-size: 12px;
            }
          }
        }
      }
    }
    .autocomplete-list {
      position: absolute;
      z-index: 100;
      box-shadow: 6px 2px 4px 1px rgba(0,0,0,0.5);
      ul {
        list-style: none;
        padding: 0 13px 0 0;
        margin-left: -5px;
        li {
          background-color: #EEE;
          color: $gray-dark;
          padding: 2px 5px;
          font-weight: normal;
          font-size: 13px;
          width: 150%;
          &:hover {
            background-color: #AAA;
          }
        }
      }
    }
  }
}

.story-tasks, .story-definitions, .story-comments, .story-merge-requests {
  &.as-sortable-dragging {
    &.list-group {
      background-color: transparent;
      padding: 0;
      overflow: hidden;
      .list-group-item {
        padding: 0;
        color: #666;
        background-color: #f1f0ea;
        i {
          font-size: 14px;
          margin-right: 0;
          vertical-align: middle;
        }
        .btn-remove-task, .btn-add-task, .btn-add-merge, .btn-remove-merge {
          display: none;
        }
        span, input {
          font-family: Open Sans,open-sans,EmojiFontFace,helvetica,arial,sans-serif;
          font-size: 12px;
          vertical-align: middle;
        }
        input {
          display: none;
        }
      }
    }
  }
}

.project-modal-body {

  .project-dates {

    overflow: hidden;
    float: left;
    margin-bottom: 24px;

    .working-days {
      display: inline-block;
      text-align: center;
      .fa {
        font-size: 22px;
      }
      .number {
        font-size: 22px;
        display: inline-block;
        margin: 0 25px;
      }
      .label {
        font-size: 15px;
        font-weight: 700;
        display: block;
        margin-bottom: 10px;
      }
    }
  }

  .dropdown {
    &.date {
      td {
        &.day {
          &.disabled {
            background-color: $gray-light;
            color: $gray;
            cursor: not-allowed;
          }
        }
      }
      &.open {
        &.start {
          top: 152px;
          left: 14px;
        }
        &.end {
          top: 152px;
          right: -517px;
        }
        .dropdown-menu {
          width: 282px;
        }
      }
    }
  }
}

.project-modal-footer{
  border: 0;
}
