.timeline {
  margin-top: 62px;
  background-color: $gray;
  text-align: center;
  .btn-scroll-home {
    display: inline-block;
    height: 80px;
    margin: 4px 0;
    font-size: 18px;
    vertical-align: middle;
  }
  .btn-scroll-end {
    display: inline-block;
    height: 80px;
    margin: 4px 0;
    font-size: 18px;
    vertical-align: middle;
  }
  .timeline-events {
    white-space: nowrap;
    padding: 6px 0 0;
    width: 95%;
    height: 90px;
    display: inline-block;
    background-color: $gray-light;
    vertical-align: middle;
    .timeline-event {
      background-color: $gray-lighter;
      width: 230px;
      height: 70px;
      padding: 5px;
      margin: 0 10px;
      display: inline-block;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        background-color: lighten($gray-lighter, 10%);
      }
      &.selected {
        background-color: lighten($gray-lighter, 20%);
      }
      .start-date, .end-date {
        float: left;
        border: 2px solid $brand-info;
        border-radius: 2px;
        text-align: center;
        color: $brand-info;
        width: 35px;
        .month {
          text-transform: uppercase;
          font-size: 9px;
          border-bottom: 2px solid $brand-info;
        }
        .day {
          font-size: 20px;
        }
        .year {
          font-size: 9px;
          border-top: 2px solid $brand-info;
        }
      }
      .sprint-data, .kanban-data {
        float: left;
        color: $brand-primary;
        padding: 0 10px;
        width: 150px;
        text-align: center;
        position: relative;
        .sprint-name, .kanban-name {
          font-weight: bold;
          text-align: center;
        }
        .stories-quantity, .sprint-points, .kanban-quantity, .kanban-points {
          position: absolute;
          top: 20px;
          text-align: center;
          font-size: 10px;
          span {
            font-size: 20px;
            display: block;
          }
        }
        .stories-quantity, .kanban-quantity {
          left: 5px;
        }
        .sprint-points, .kanban-points {
          right: 5px;
        }
        .sprint-status, .kanban-status {
          text-align: center;
          padding-top: 6px;
          span {
            font-size: 14px;
            padding: 3px 5px;
            border-radius: 3px;
            color: #F9F9F9;
            &.sprint-success {
              background-color: $brand-success;
            }
            &.sprint-failure {
              background-color: $brand-danger;
            }
            &.sprint-current {
              background-color: $brand-warning;
            }
            &.sprint-planned {
              background-color: $brand-primary;
            }
          }
        }
        .sprint-points {
          float: right;
        }
      }
      .kanban-data {
        width: 100%;
        .kanban-status {
          //width: 140px;
          span {
            &.kanban {
              background-color: $brand-info;
            }
          }
        }
      }
      .end-date {
        float: right;
      }
    }
  }
}