@import "fontawesome/scss/font-awesome";
@import "variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "login";
@import "timeline";
@import "board";
@import "ice-box";
@import "backlog";

.center {
  text-align: center;
}

.navbar-nav {
  .dropdown-menu {
    li {
      cursor: pointer;
    }
  }
}

.popup-complete-story {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  background-color: rgba(76,76,76,0.8);
  position: fixed;
  z-index: 1032;
  &.opened {
    display: block;
  }
  .panel-complete-story {
    margin: 10% 20%;
    .panel-heading {
      overflow: hidden;
      .story-name {
        font-size: 15px;
        vertical-align: middle;
        display: inline-block;
        width: 75%;
        padding-left: 5px;
        line-height: 25px;
      }
      .badge {
        float: right;
        font-size: 17px;
        margin-top: 4px;
      }
    }
    .panel-body {
      padding: 20px;
      max-height: 405px;
      zoom: 1;
      overflow: auto;
      position: relative;
      .story-statement {
        margin-top: 0;
      }
    }
    .panel-footer {
      text-align: center;
      overflow: hidden;
    }
  }
}

.story-statement, .sprint-objective {
  background-color: $gray;
  color: #FAFAFA;
  padding: 10px 20px;;
  border-radius: 5px;
  margin: 20px 0;
  font-size: 17px;
  height: 90px;
  p {
    margin: 0;
    padding: 0;
  }
}

h4 {
  font-size: 18px;
  margin: 10px 0;
  padding-bottom: 5px;
  color: $gray-lighter;
  border-bottom: 1px solid $gray-lighter;
}
.list-group {
  .list-group-item {
    font-size: 16px;
    .fa {
      font-size: 18px;
    }
  }
}

.panel-heading, .story-data, .board .panel-heading, .backlog .panel-heading {
  .points-null {
    background-color: $gray-dark;
    color: #EEE;
  }
  $index: 1;
  @each $point in $story-points {
    @include story-point-background($point, $index);
    $index: $index + 1;
  }
}

.story-type-name {
  background: $gray no-repeat 5px 3px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: 2px;
  padding: 1px 10px 2px 28px;
  border-radius: 3px;
  color: #FFF;
  @include story-types();
}

.story-status {
  padding: 5px 10px;
  border-radius: 4px;
  @include story-status-backgrounds();
}

.dropdown-toggle {
  &.story-type {
    background-position: 8px 21px;
    padding-left: 34px;
    @include story-types();
  }
}