@import "fontawesome/scss/font-awesome";
@import "variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "notifier";
@import "login";
@import "timeline";
@import "board";
@import "ice-box";
@import "backlog";

.btn-story-view-type {
  margin-left: 20px;
}

.inform-fixed {
  top: 75px;
}

.center {
  text-align: center;
}

.alert-icon {
  width: 150px;
}

.navbar-nav {
  .dropdown-menu {
    li {
      cursor: pointer;
    }
  }
}

.popup-complete-story {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  background-color: rgba(76,76,76,0.8);
  position: fixed;
  z-index: 1032;
  &.opened {
    display: block;
  }
  .panel-complete-story {
    margin: 8% 20%;
    .panel-heading {
      overflow: hidden;
      .story-name {
        font-size: 15px;
        vertical-align: middle;
        display: inline-block;
        width: 75%;
        padding-left: 5px;
        line-height: 25px;
      }
      .badge {
        float: right;
        font-size: 17px;
        margin-top: 4px;
      }
    }
    .panel-body {
      padding: 20px;
      height: 50vh;
      zoom: 1;
      overflow: auto;
      position: relative;
      .btn-save-task {
        float: right;
        display: inline-block;
        margin-top: -5px;
        padding: 5px 11px;
      }
      .story-statement {
        margin-top: 0;
      }
      .story-tasks, .story-definitions {
        height: 30vh;
        overflow: hidden;
      }
    }
    .panel-footer {
      text-align: center;
      overflow: hidden;
    }
  }
}

.story-statement, .sprint-objective {
  background-color: $gray;
  color: #FAFAFA;
  padding: 10px 20px;;
  border-radius: 5px;
  margin: 20px 0;
  font-size: 17px;
  height: 90px;
  p {
    margin: 0;
    padding: 0;
  }
}

li {
  &.list-group-item-success {
    background-color: darken($brand-success, 10%);
  }
  &.list-group-item-warning {
    background-color: darken($brand-warning, 10%);
  }
}

.story-definitions, .story-tasks {
  height: 250px;
  padding: 10px;
  background-color: $gray;
  li {
    background-color: $gray;
    color: #e2e2e2;
    border-color: #222;
    width: 97%;
    overflow: hidden;
    cursor: pointer;
    &.list-group-item-success {
      background-color: darken($brand-success, 10%);
    }
    &.list-group-item-warning {
      background-color: darken($brand-warning, 10%);
    }
    &:hover {
      background-color: lighten(#5e7162, 15%);
    }
    input {
      vertical-align: middle;
      display: inline-block;
      width: 88%;
      padding: 2px 7px;
      font-size: 16px;
      height: 32px;
      color: $gray-lighter;
      background: #5e7162 none;
      border: 1px solid #f1f1f1;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    }
    &.new-item {
      background-color: #5e7162;
      color: #9bb299;
      overflow: hidden;
      &:hover {
        background-color: darken(#5e7162, 15%);
      }
      .btn-add-item, .btn-remove-item {
        float: right;
        padding: 5px 10px;
        font-size: 15px;
        margin-top: 0;
        margin-left: 5px;
      }
    }
    .fa {
      margin: 0;
    }
    .btn-remove-item {
      margin-top: -5px;
      float: right;
      padding: 5px 10px;
      font-size: 15px;
    }
  }
}

h4 {
  font-size: 18px;
  margin: 10px 0;
  padding-bottom: 5px;
  color: $gray-lighter;
  border-bottom: 1px solid $gray-lighter;
}

.list-group {
  .list-group-item {
    font-size: 16px;
    .fa {
      font-size: 18px;
    }
  }
}

.points-null {
  background-color: $gray-dark !important;
  color: #EEE !important;
}

$index: 1;
@each $point in $story-points {
  @include story-point-background($point, $index);
  $index: $index + 1;
}

.story-type-name {
  background: $gray no-repeat 5px 3px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: 2px;
  padding: 1px 10px 2px 28px;
  border-radius: 3px;
  color: #FFF;
  @include story-types();
}

.story-status {
  padding: 5px 10px;
  border-radius: 4px;
  @include story-status-backgrounds();
}

.dropdown-toggle {
  &.story-type {
    background-position: 8px 21px;
    padding-left: 34px;
    @include story-types();
  }
}
.nav-tabs {
  li {
    &.active {
      a {
        background-color: #b9eac7;
      }
    }
  }
}

.btn-open {
  padding: 2px 4px 4px;
  border-radius: 5px;
  background-color: $gray-dark;
  border: 1px solid $gray-dark;
  cursor: pointer;
  &:hover {
    background-color: $gray;
    border: 1px solid $gray-light;
  }
}
