<div class="container-fluid backlog">
  <div class="sprint-container col-md-4" ng-repeat="sprint in sprints">
    <div class="panel panel-default panel-edit-sprint">
      <div class="panel-heading">
        <span class="sprint-name">{{sprint.name | limitTo:65}}{{sprint.name.length > 65 ? '...' : ''}}</span>
        <button class="btn btn-primary btn-sm btn-save-sprint" ng-click="selectSprintToEdit(sprint, $index)"><i class="fa fa-edit"></i></button>
      </div>
      <div class="panel-body">
        <h4>Dates</h4>
        <div class="sprint-dates">
          <span class="start-date">Starts: <span class="date" ng-bind="sprint.startDate"></span></span>
          <div class="working-days">
            <span class="label">working days</span>
            <i class="fa fa-long-arrow-left"></i><span class="number" ng-bind="sprint.workingDays"></span><i class="fa fa-long-arrow-right"></i>
          </div>
          <span class="end-date">Ends: <span class="date" ng-bind="sprint.endDate"></span></span>
        </div>
        <h4>Objective</h4>
        <div class="sprint-objective" ng-scrollable>
          <p ng-bind="sprint.objective"></p>
        </div>
        <h4 class="story-header">
          <span class="title">Stories</span>
          <span class="sprint-point"><span class="value" ng-bind="(sprint.points === undefined || sprint.points === null ? 'N' : sprint.points)"></span>points</span>
        </h4>
        <ul class="list-group sprint-stories" ng-scrollable="scrollOptions">
          <li class="list-group-item" ng-repeat="story in sprint.stories" title="{{story.statement}}" ng-click="toggleCompleteStoryPopup(story)">
            <span class="story-type-name" ng-class="story.type | lowercase" title="{{story.typeName}}"></span>
            <span class="story-name">{{story.name | limitTo: 28}}{{story.name.length > 28 ? '...' : ''}}</span>
            <span class="badge points-{{story.points === undefined || story.points === null ? 'null' : story.points}}">{{story.points === undefined || story.points === null ? 'N' : story.points}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="popup-complete-story" ng-class="{'opened': completeStoryPopupOpened}">
    <div class="panel panel-default panel-complete-story">
      <div class="panel-heading" title="{{selectedStory.statement}}">
        <span class="story-type-name" ng-class="selectedStory.type | lowercase " title="{{selectedStory.typeName}}" ng-bind="selectedStory.typeName"></span>
        <span class="story-name">{{selectedStory.name}}</span>
        <span class="story-status" ng-class="selectedStory.status | lowercase" ng-bind="selectedStory.statusName"></span>
        <span class="badge points-{{selectedStory.points === undefined || selectedStory.points === null ? 'null' : selectedStory.points}}">{{selectedStory.points === undefined || selectedStory.points === null ? 'N' : selectedStory.points}}</span>
      </div>
      <div class="panel-body">
        <div class="story-statement" ng-bind="selectedStory.statement"></div>
        <uib-tabset active="activeJustified" justified="true">
          <uib-tab index="0" heading="Tasks">
            <ul class="list-group story-tasks" ng-scrollable>
              <li class="list-group-item" ng-repeat="task in selectedStory.tasks">
                {{ task.task }}
              </li>
            </ul>
          </uib-tab>
          <uib-tab index="1" heading="DoD">
            <ul class="list-group story-definitions" ng-scrollable>
              <li class="list-group-item" ng-repeat="definition in selectedStory.definitionOfDone">
                {{ definition.definition }}
              </li>
            </ul>
          </uib-tab>
        </uib-tabset>
      </div>
      <div class="panel-footer">
        <button type="button" class="btn btn-primary" ng-click="toggleCompleteStoryPopup(null)">Close</button>
      </div>
    </div>
  </div>

  <form name="formSprint" novalidate ng-submit="saveSelectedSprint(formSprint)">
    <div class="popup-complete-sprint" ng-class="{'opened': completeSprintPopupOpened}" ng-if="selectedSprint !== null">
      <div class="panel panel-default panel-edit-sprint">
        <div class="panel-heading" title="{{selectedSprint.statement}}">
          <div class="col-md-12">
            <input class="sprint-name" ng-model="selectedSprint.name"/>
          </div>
        </div>
        <div class="panel-body">
          <h4>Dates</h4>
          <div class="dropdown start date">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <datetimepicker ng-model="selectedSprint.startDate" datetimepicker-config="{ dropdownSelector: '#dropdownStartDate', minView:'day' }"/>
            </ul>
          </div>
          <div class="dropdown end date">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <datetimepicker ng-model="selectedSprint.endDate" datetimepicker-config="{ dropdownSelector: '#dropdownEndDate', minView:'day' }"/>
            </ul>
          </div>
          <div class="sprint-dates">
            <div class="start-date">
              <label for="inputStartDate">Starts:</label>
              <a class="date dropdown-toggle" id="dropdownStartDate" role="button" data-toggle="dropdown" data-target=".dropdown.start.date">
                <div class="input-group">
                  <input type="text" id="inputStartDate" class="form-control" name="startDate" ng-model="selectedSprint.startDate" date-time-input="YYYY-DD-MM" required/>
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </a>
            </div>

            <div class="working-days">
              <span class="label">working days</span>
              <i class="fa fa-long-arrow-left"></i><span class="number" ng-bind="selectedSprint.workingDays"></span><i class="fa fa-long-arrow-right"></i>
            </div>

            <div class="end-date">
              <label for="inputEndDate">Starts:</label>
              <a class="date dropdown-toggle" id="dropdownEndDate" role="button" data-toggle="dropdown" data-target=".dropdown.end.date">
                <div class="input-group">
                  <input type="text" id="inputEndDate" class="form-control" name="endDate" ng-model="selectedSprint.endDate" date-time-input="YYYY-DD-MM" required/>
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </a>
            </div>
          </div>

          <h4>Objective</h4>
          <div class="sprint-objective">
            <textarea rows="2" ng-model="selectedSprint.objective" required></textarea>
          </div>
          <h4 class="story-header">
            <span class="title">Stories</span>
            <span class="sprint-point"><span class="value" ng-bind="(selectedSprint.points === undefined || selectedSprint.points === null ? 'N' : selectedSprint.points)"></span>points</span>
          </h4>
          <ul class="list-group sprint-stories" ng-scrollable="scrollOptions">
            <li class="list-group-item" ng-repeat="story in selectedSprint.stories">
              <span class="story-type-name" ng-class="story.type | lowercase" title="{{story.typeName}}"></span>
              <span class="story-name">{{story.name}}</span>
              <span class="story-statement">{{story.statement}}</span>
              <button type="button" class="btn btn-default btn-xs btn-remove-item" ng-click="removeSprintStory(selectedSprint, $index)"><i class="fa fa-trash"></i></button>
              <span class="badge points-{{story.points === undefined || story.points === null ? 'null' : story.points}}">{{story.points === undefined || story.points === null ? 'N' : story.points}}</span>
            </li>
            <li class="new-item list-group-item" ng-click="addingStoryToSprint()">
              <span ng-show="!newStoryVisible">Add a story</span>
              <button type="button" class="btn btn-default btn-xs btn-remove-item" ng-show="newStoryVisible" ng-click="cancelAddStoryToSprint($event)"><i class="fa fa-close"></i></button>
              <button type="button" class="btn btn-primary btn-xs btn-add-item" ng-show="newStoryVisible" ng-click="addStoryToSprint($event, selectedSprint)">Add</button>
            </li>
          </ul>
        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-danger" ng-click="cancelSaveSelectedSprint()"><i class="fa fa-close"></i> Cancel</button>
          <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
