<div class="container-fluid backlog">
  <div class="sprint-container col-md-4" ng-repeat="sprint in sprints">
    <div class="panel panel-default panel-edit-sprint">
      <div class="panel-heading" ng-click="selectSprintToEdit($event, sprint, $index)">
        <i class="fa btn-open" ng-class="{'fa-chevron-down': !sprint.opened, 'fa-chevron-up': sprint.opened}" ng-click="toggleOpenSprintPanel($event, sprint)"></i>
        <span class="sprint-team">[{{sprint.team.name}}]</span>
        <span class="sprint-name" title="{{sprint.name}}" ng-bind="sprint.name|limitWithEllipsis:40"></span>
        <button class="btn btn-primary btn-sm btn-save-sprint" ng-click="selectSprintToEdit($event, sprint, $index)"><i class="fa fa-edit"></i></button>
      </div>
      <div class="panel-body as-list" ng-class="{'as-list': !sprint.opened}">
        <h4>Dates</h4>
        <div class="sprint-dates">
          <span class="start-date">Starts: <span class="date" ng-bind="sprint.startDate"></span></span>
          <div class="working-days">
            <span class="label">working days</span>
            <i class="fa fa-long-arrow-left"></i><span class="number" ng-bind="sprint.workingDays"></span><i class="fa fa-long-arrow-right"></i>
          </div>
          <span class="end-date">Ends: <span class="date" ng-bind="sprint.endDate"></span></span>
        </div>
        <h4>Objective</h4>
        <div class="sprint-objective" ng-scrollable>
          <p ng-bind="sprint.objective"></p>
        </div>
        <h4 class="story-header">
          <span class="title">Stories</span>
          <span class="sprint-point"><span class="value" ng-bind="sprint.points|numberOrText"></span>points</span>
        </h4>
        <ul class="list-group sprint-stories" ng-scrollable="scrollOptions">
          <li class="list-group-item" ng-repeat="story in sprint.stories" title="{{story.statement}}" ng-click="toggleCompleteStoryPopup(story)">
            <span class="story-type-name" ng-class="story.type | lowercase" title="{{story.typeName}}"></span>
            <span class="story-name" ng-bind="story.name|limitWithEllipsis:35"></span>
            <span class="badge points-{{story.points|numberOrText:'null'}}" ng-bind="story.points|numberOrText"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <form name="formSprint" novalidate ng-submit="saveSelectedSprint(formSprint)">
    <div class="popup-complete-sprint" ng-class="{'opened': completeSprintPopupOpened}" ng-if="selectedSprint !== null">
      <div class="panel panel-default panel-edit-sprint">
        <div class="panel-heading" title="{{selectedSprint.statement}}">
          <div class="col-md-2 sprint-team">
            <label>Team:</label>
            <div class="btn-group" uib-dropdown keyboard-nav>
              <button type="button" class="btn btn-primary btn-sm" uib-dropdown-toggle>
                {{selectedSprint.team === null ? 'Select a team' : selectedSprint.team.name}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                <li role="menuitem" ng-repeat="team in teams"><a ng-click="setSelectedSprintTeam(team)" ng-bind="team.name"></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-10">
            <label>Name:</label> <input class="sprint-name" ng-model="selectedSprint.name"/>
          </div>
        </div>
        <div class="panel-body">
          <h4>Dates</h4>
          <div class="dropdown start date">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <datetimepicker ng-model="selectedSprint.startDate"
                              datetimepicker-config="{dropdownSelector: '#dropdownStartDate', renderOn: 'end-date-changed', minView:'day'}"
                              on-set-time="startDateOnSetTime()"
                              data-before-render="startDateBeforeRender($dates)"/>
            </ul>
          </div>
          <div class="dropdown end date">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <datetimepicker ng-model="selectedSprint.endDate"
                              datetimepicker-config="{dropdownSelector: '#dropdownEndDate', renderOn: 'start-date-changed', minView:'day'}"
                              data-on-set-time="endDateOnSetTime()"
                              data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"/>
            </ul>
          </div>
          <div class="sprint-dates">
            <div class="start-date">
              <label for="inputStartDate">Starts:</label>
              <a class="date dropdown-toggle" id="dropdownStartDate" role="button" data-toggle="dropdown" data-target=".dropdown.start.date">
                <div class="input-group">
                  <input type="text" id="inputStartDate" class="form-control" name="startDate" ng-model="selectedSprint.startDate" date-time-input="YYYY-MM-DD" required/>
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </a>
            </div>

            <div class="working-days">
              <span class="label">working days</span>
              <i class="fa fa-long-arrow-left"></i><span class="number" ng-bind="selectedSprint.workingDays"></span><i class="fa fa-long-arrow-right"></i>
            </div>

            <div class="end-date">
              <label for="inputEndDate">Starts:</label>
              <a class="date dropdown-toggle" id="dropdownEndDate" role="button" data-toggle="dropdown" data-target=".dropdown.end.date">
                <div class="input-group">
                  <input type="text" id="inputEndDate" class="form-control" name="endDate" ng-model="selectedSprint.endDate" date-time-input="YYYY-MM-DD" required/>
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </a>
            </div>
          </div>

          <h4>Objective</h4>
          <div class="sprint-objective">
            <textarea rows="2" ng-model="selectedSprint.objective" required></textarea>
          </div>
          <h4 class="story-header">
            <span class="title">Stories</span>
            <span class="sprint-point"><span class="value" ng-bind="selectedSprint.points|numberOrText"></span>points</span>
          </h4>
          <ul class="list-group sprint-stories" ng-scrollable="scrollOptions">
            <li class="list-group-item" ng-repeat="story in selectedSprint.stories" ng-click="toggleFormStoryPopupOpened(story, $index)">
              <span class="story-type-name" ng-class="story.type | lowercase" title="{{story.typeName}}"></span>
              <span class="story-name" ng-bind="story.name|limitWithEllipsis:20" title="{{story.name}}"></span>
              <span class="story-statement" title="{{story.statement}}" ng-bind="story.statement|limitWithEllipsis:120"></span>
              <button type="button" class="btn btn-default btn-xs btn-remove-item" ng-click="removeSprintStory(story, $index)"><i class="fa fa-trash"></i></button>
              <span class="badge points-{{story.points|numberOrText:'null'}}" ng-bind="story.points|numberOrText"></span>
            </li>
            <li class="new-item list-group-item" ng-click="addingStoryToSelectedSprint()">
              <span ng-show="!newStoryVisible">Add a story</span>
            </li>
          </ul>
        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-danger" ng-click="cancelSaveSelectedSprint()"><i class="fa fa-close"></i> Cancel</button>
          <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
        </div>
      </div>
    </div>
  </form>

  <div class="popup-stories" ng-class="{'opened': storiesPopupOpened}">
    <div class="panel panel-default panel-stories">
      <div class="panel-heading">
        IceLog Stories
        <input type="text" ng-model="searchStories" class="search-stories form-control" placeholder="Search...">
      </div>
      <div class="panel-body">
        <ul class="list-group sprint-stories" ng-scrollable="scrollOptions">
          <li class="list-group-item" ng-repeat="story in stories|filter:searchStories" title="{{story.statement}}" ng-click="toggleCompleteStoryPopup(story)">
            <checkbox ng-class="{'btn-primary': story.selected}" ng-click="$event.stopPropagation()" ng-model="story.selected"></checkbox>
            <span class="story-type-name" ng-class="story.type|lowercase" title="{{story.typeName}}"></span>
            <span class="story-name" ng-bind="story.name|limitWithEllipsis:12" title="{{story.name}}"></span>
            <span class="story-statement" title="{{story.statement}}" ng-bind="story.statement|limitWithEllipsis:88"></span>
            <span class="badge points-{{story.points|numberOrText:'null'}}" ng-bind="story.points|numberOrText"></span>
          </li>
        </ul>
      </div>
      <div class="panel-footer">
        <button type="button" class="btn btn-danger" ng-click="cancelAddSelectedSprintStories()">Cancel</button>
        <button type="button" class="btn btn-success" ng-click="saveAddSelectedSprintStories()">OK</button>
      </div>
    </div>
  </div>

  <div class="popup-complete-story" ng-class="{'opened': completeStoryPopupOpened}">
    <div class="panel panel-default panel-complete-story">
      <div class="panel-heading" title="{{selectedStory.statement}}">
        <span class="story-type-name" ng-class="selectedStory.type | lowercase " title="{{selectedStory.typeName}}" ng-bind="selectedStory.typeName"></span>
        <span class="story-name">{{selectedStory.name}}</span>
        <span class="story-status" ng-class="selectedStory.status | lowercase" ng-bind="selectedStory.statusName"></span>
        <span class="badge points-{{selectedStory.points|numberOrText:'null'}}" ng-bind="selectedStory.points|numberOrText"></span>
      </div>
      <div class="panel-body">
        <div class="story-statement" ng-bind="selectedStory.statement"></div>
        <uib-tabset active="activeJustified" justified="true">
          <uib-tab index="0" heading="Tasks" select="changeScroll()">
            <ul class="list-group story-tasks" ng-scrollable>
              <li class="list-group-item" ng-repeat="task in selectedStory.tasks">
                {{ task.task }}
              </li>
            </ul>
          </uib-tab>
          <uib-tab index="1" heading="DoD" select="changeScroll()">
            <ul class="list-group story-definitions" ng-scrollable>
              <li class="list-group-item" ng-repeat="definition in selectedStory.definitionOfDone">
                {{ definition.definition }}
              </li>
            </ul>
          </uib-tab>
        </uib-tabset>
      </div>
      <div class="panel-footer">
        <button type="button" class="btn btn-primary" ng-click="toggleCompleteStoryPopup(null)">Close</button>
      </div>
    </div>
  </div>

  <form name="formStory" novalidate ng-submit="saveSelectedStory(formStory)">
    <div class="popup-complete-story" ng-class="{'opened': formStoryPopupOpened}" ng-if="selectedStory !== null">
      <div class="panel panel-default panel-edit-story">
        <div class="panel-heading" title="{{selectedStory.statement}}">
          <div class="col-md-2">
            <label>Module:</label>
            <div class="btn-group story-module" uib-dropdown keyboard-nav>
              <button type="button" class="btn btn-primary btn-sm" uib-dropdown-toggle>
                [{{selectedStory.module === null ? 'Select a module' : selectedStory.module.acronym}}] <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                <li role="menuitem" ng-repeat="module in modules"><a ng-click="setStoryModule(selectedStory, module)">[{{module.acronym}}] - {{module.name}}</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-3">
            <label>Epic:</label>
            <div class="btn-group" uib-dropdown keyboard-nav>
              <button type="button" class="btn btn-primary btn-sm" uib-dropdown-toggle>
                {{selectedStory.epic === null ? 'Select an Epic' : selectedStory.epic.modules ? '[{modules}] {name}'.format(selectedStory.epic) : selectedStory.epic.name}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                <li role="menuitem" ng-repeat="epic in epics|orderBy:['modules', 'name']">
                  <a ng-click="setStoryEpic(selectedStory, epic)">
                    {{epic.modules ? '[{modules}] {name}'.format(epic) : epic.name}}
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-7">
            <label>Name:</label>
            <input class="story-name" ng-model="selectedStory.name" />
          </div>
          <button type="button" class="heading-close" ng-click="cancelSaveSelectedStory()"><i class="fa fa-close"></i></button>
        </div>
        <div class="panel-body">
          <div class="story-data">
            <div class="story-type" ng-class="selectedStory.type | lowercase" ng-bind="selectedStory.typeName"></div>
            <div class="story-requester" title="Requester"><label class="rq-ow">Rq</label>{{selectedStory.requester.name}}</div>
            <div class="story-point">
              <label>SP</label>
              <span class="points-{{selectedStory.points|numberOrText:'null'}}" ng-bind="selectedStory.points|numberOrText"></span>
            </div>
            <div class="story-point">
              <label>VP</label>
              <span class="points-{{selectedStory.valuePoints|numberOrText:'null'}}" ng-bind="selectedStory.valuePoints|numberOrText"></span>
            </div>
          </div>

          <div class="story-statement" ng-scrollable>
            <p ng-bind="selectedStory.statement"></p>
          </div>

          <uib-tabset active="activeJustified" justified="true">
            <uib-tab index="0" heading="Tasks" select="changeScroll()">
              <ul class="list-group story-tasks" ng-scrollable="scrollOptions">
                <li class="list-group-item" ng-repeat="task in selectedStory.tasks" ng-click="toggleEditStoryTask(task)">
                  <input type="text" ng-model="task.task" ng-show="task.editing" focus-me="task.editing" ng-blur="toggleEditStoryTask(task)" ng-keypress="toggleEditStoryTask(task, $event)" />
                  <span ng-bind="task.task" ng-if="!task.editing"></span>
                  <button type="button" class="btn btn-default btn-xs btn-remove-item" ng-if="!task.editing" ng-click="removeStoryTask(selectedStory, $index)"><i class="fa fa-trash"></i></button>
                </li>
                <li class="new-item list-group-item" ng-click="addingTaskToStory()">
                  <span ng-show="!newTaskVisible">Add a task</span>
                  <input type="text" ng-model="newTask.task" ng-show="newTaskVisible" focus-me="newTaskVisible" ng-blur="blurInputTaskFiled($event, selectedStory)" />
                  <button type="button" class="btn btn-primary btn-xs btn-add-item" ng-show="newTaskVisible" ng-click="addTaskToStory($event, selectedStory)">Add</button>
                  <button type="button" class="btn btn-default btn-xs btn-remove-item" ng-show="newTaskVisible" ng-click="cancelAddTaskToStory($event)"><i class="fa fa-close"></i></button>
                </li>
              </ul>
            </uib-tab>
            <uib-tab index="1" heading="DoD" select="changeScroll()">
              <ul class="list-group story-definitions" ng-scrollable="scrollOptions">
                <li class="list-group-item" ng-repeat="definition in selectedStory.definitionOfDone" ng-click="toggleEditStoryDefinition(definition)">
                  <input type="text" ng-model="definition.definition" ng-show="definition.editing" focus-me="definition.editing" ng-blur="toggleEditStoryDefinition(definition)" ng-keypress="toggleEditStoryDefinition(task, $event)" />
                  <span ng-bind="definition.definition" ng-if="!definition.editing"></span>
                  <button type="button" class="btn btn-default btn-xs btn-remove-item" ng-if="!definition.editing" ng-click="removeStoryDefinition(selectedStory, $index)"><i class="fa fa-trash"></i></button>
                </li>
                <li class="new-item list-group-item" ng-click="addingDefinitionToStory()">
                  <span ng-show="!newDefinitionVisible">Add a definition</span>
                  <input type="text" ng-model="newDefinition.definition" ng-show="newDefinitionVisible" focus-me="newDefinitionVisible" ng-blur="addDefinitionToStory($event, selectedStory)" />
                  <button type="button" class="btn btn-default btn-xs btn-remove-item" ng-show="newDefinitionVisible" ng-click="cancelAddDefinitionToStory($event)"><i class="fa fa-close"></i></button>
                  <button type="button" class="btn btn-primary btn-xs btn-add-item" ng-show="newDefinitionVisible" ng-click="addDefinitionToStory($event, selectedStory)">Add</button>
                </li>
              </ul>
            </uib-tab>
            <uib-tab index="2" heading="Comments" select="changeScroll()">
              <ul class="list-group story-comments" ng-scrollable="scrollCommentOptions">
                <li class="list-group-item" ng-repeat="storyComment in selectedStory.comments" ng-click="toggleEditStoryComment(storyComment)">
                  <textarea ng-model="storyComment.comment" ng-show="storyComment.editing" focus-me="storyComment.editing" ng-blur="toggleEditStoryComment(storyComment)"></textarea>
                  <div>
                    <div class="comment-details" ng-if="!storyComment.editing">
                      <div class="col-md-7">
                        Created by: {{storyComment.creator.name}}
                      </div>
                      <div class="col-md-5">
                        Created at: {{storyComment.createdAt}}
                      </div>
                    </div>
                    <span class="with-break-lines" ng-bind="storyComment.comment"></span>
                  </div>
                  <button type="button" class="btn btn-default btn-xs btn-remove-item" ng-if="!storyComment.editing" ng-click="removeStoryComment(selectedStory, $index)"><i class="fa fa-trash"></i></button>
                </li>
                <li class="new-item list-group-item" ng-click="addingCommentToStory()">
                  <span ng-show="!newCommentVisible">Add a comment</span>
                  <textarea ng-model="newComment.comment" rows="3" ng-show="newCommentVisible" focus-me="newCommentVisible" ng-blur="blurInputCommentFiled($event, selectedStory)"></textarea>
                  <button type="button" class="btn btn-primary btn-xs btn-add-item" ng-show="newCommentVisible" ng-click="addCommentToStory($event, selectedStory)">Add</button>
                  <button type="button" class="btn btn-default btn-xs btn-remove-item" ng-show="newCommentVisible" ng-click="cancelAddCommentToStory($event)"><i class="fa fa-close"></i></button>
                </li>
              </ul>
            </uib-tab>
          </uib-tabset>
        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-danger" ng-click="cancelSaveSelectedStory()"><i class="fa fa-close"></i> Cancel</button>
          <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
        </div>
      </div>
    </div>
  </form>

</div>
