<div class="container-fluid">
  <div class="row timeline" ng-if="boards.length > 0">
    <button type="button" class="btn-scroll-home btn btn-default btn-xs" ng-click="scrollOptions.scrollPosX = 0"><i class="fa fa-chevron-circle-left"></i></button>
    <div class="timeline-events" ng-scrollable="scrollOptions" spy-x="scrollOptions.scrollPosX">
      <div class="timeline-event" ng-repeat="board in boards" ng-class="{'selected': selectedSprint.id === board.id, 'current': board.statusSlug == 'sprint-current'}" ng-click="selectSprint(board)">
        <div class="start-date" ng-if="board.type === 'sprint'">
          <div class="month" ng-bind="board.startDateObj.month"></div>
          <div class="day" ng-bind="board.startDateObj.day"></div>
          <div class="year" ng-bind="board.startDateObj.year"></div>
        </div>
        <div class="{{board.type}}-data">
          <div class="{{board.type}}-name" title="{{board.name}}" ng-bind="board.name|limitWithEllipsis:15"></div>
          <div class="stories-quantity"><span ng-bind="board.storiesQuantity"></span>Stories</div>
          <div class="{{board.type}}-status" ng-if="board.type === 'sprint'"><span ng-class="board.statusSlug" ng-bind="board.status"></span></div>
          <div class="{{board.type}}-status" ng-if="board.type === 'kanban'"><span class="kanban">KANBAN</span></div>
          <div class="{{board.type}}-points"><span ng-bind="board.points"></span>Points</div>
        </div>
        <div class="end-date" ng-if="board.type === 'sprint'">
          <div class="month" ng-bind="board.endDateObj.month"></div>
          <div class="day" ng-bind="board.endDateObj.day"></div>
          <div class="year" ng-bind="board.endDateObj.year"></div>
        </div>
      </div>
    </div>
    <button type="button" class="btn-scroll-end btn btn-default btn-xs" ng-click="scrollOptions.scrollPosX = 10000"><i class="fa fa-chevron-circle-right"></i></button>
  </div>

  <div class="row burn-up" ng-if="selectedSprint !== null && selectedSprint.type === 'sprint'">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Burn Up</h3>
        </div>
        <div class="panel-body">
          <div class="col-md-12">
            <i class="fa fa-battery-half fa-2x fa-fw fa-rotate-270"></i><span class="points" ng-class="columnPoint.column | lowercase" ng-repeat="columnPoint in pointsPerColumn">{{columnPoint.point}}</span>
          </div>
          <div class="col-md-12">
            <i class="fa fa-calendar fa-2x fa-fw"></i><span class="day" ng-style="{'width': devDay.points * 20 + 'px'}" ng-class="{'passed': devDay.passed, 'is-today': devDay.isToday}" ng-repeat="devDay in devDays">{{devDay.day}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row board {{selectedSprint.type}}" ng-if="selectedSprint !== null">
    <ng-include ng-repeat="column in columns" src="columnTemplate"></ng-include>

    <div class="popup-complete-story" ng-class="{'opened': completeStoryPopupOpened}">
      <div class="panel panel-default panel-complete-story">
        <div class="panel-heading" title="{{selectedStory.statement}}">
          <div class="col-md-12">
            <span class="story-type-name" ng-class="selectedStory.type | lowercase " title="{{selectedStory.typeName}}" ng-bind="selectedStory.typeName"></span>
            <span class="story-name">{{selectedStory.name}}</span>
            <span class="story-requester" title="Requester"><label class="rq-ow">Rq</label>{{selectedStory.requester.name}}</span>
            <span class="story-owner" title="Owner"><label class="rq-ow">Ow</label>{{selectedStory.owner.name}}</span>
            <span class="story-status" ng-class="selectedStory.status | lowercase" ng-bind="selectedStory.statusName"></span>
            <span class="badge points-{{selectedStory.points}}">{{selectedStory.points}}</span>
          </div>
        </div>
        <div class="panel-body">
          <div class="story-statement" ng-bind="selectedStory.statement"></div>

          <uib-tabset active="activeJustified" justified="true">
            <uib-tab index="0" select="changeScroll()">
              <uib-tab-heading>
                Tasks
                <button type="button" class="btn btn-success btn-sm btn-save-task" ng-click="saveSelectedStoryTasks()"><i class="fa fa-save"></i></button>
              </uib-tab-heading>
              <ul class="list-group story-tasks" ng-scrollable>
                <li class="list-group-item" ng-class="{'list-group-item-success': task.complete, 'list-group-item-warning': !task.complete }" ng-repeat="task in selectedStory.tasks" ng-click="toggleEditStoryTask(task)">
                  <i class="fa fa-fw" ng-click="changeTaskStatus($event, task, $index, selectedStory)" ng-class="{'fa-square-o': !task.changing && !task.complete, 'fa-spinner fa-spin': task.changing, 'fa-check-square-o': !task.changing && task.complete}"></i>
                  <input type="text" ng-model="task.task" ng-show="task.editing" focus-me="task.editing" ng-blur="toggleEditStoryTask(task)" ng-keypress="toggleEditStoryTask(task, $event)" />
                  <span ng-bind="task.task" ng-if="!task.editing"></span>
                  <button type="button" class="btn btn-default btn-xs btn-remove-item" ng-if="!task.editing" ng-click="removeStoryTask($index)"><i class="fa fa-trash"></i></button>
                </li>
                <li class="new-item list-group-item" ng-click="addingTaskToStory()">
                  <span ng-show="!newTaskVisible">Add a task</span>
                  <input type="text" ng-model="newTask.task" ng-show="newTaskVisible" focus-me="newTaskVisible" ng-blur="blurInputTaskField($event)" />
                  <button type="button" class="btn btn-default btn-xs btn-remove-item" ng-show="newTaskVisible" ng-click="cancelAddTaskToStory($event)"><i class="fa fa-close"></i></button>
                  <button type="button" class="btn btn-primary btn-xs btn-add-item" ng-show="newTaskVisible" ng-click="addTaskToStory($event)">Add</button>
                </li>
              </ul>
            </uib-tab>
            <uib-tab index="1" heading="DoD" select="changeScroll()">
              <ul class="list-group story-definitions" ng-scrollable>
                <li class="list-group-item" ng-class="{'list-group-item-success': definition.done, 'list-group-item-warning': !definition.done }" ng-repeat="definition in selectedStory.definitionOfDone">
                  <i class="fa fa-fw" ng-click="changeDefinitionStatus(definition, $index, selectedStory)" ng-class="{'fa-square-o': !definition.changing && !definition.done, 'fa-spinner fa-spin': definition.changing, 'fa-check-square-o': !definition.changing && definition.done}"></i>
                  {{ definition.definition }}
                </li>
              </ul>
            </uib-tab>
          </uib-tabset>
        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-danger btn-go-back-story" ng-click="moveStoryBack(selectedStory)" ng-if="selectedStory.status !== 'PLAN'">
            <i class="fa fa-chevron-left"></i>
            <i class="fa fa-chevron-left minus-margin"></i>
            Go Story Back
          </button>
          <button type="button" class="btn btn-primary" ng-click="toggleCompleteStoryPopup(null)">Close</button>
          <button type="button" class="btn btn-success btn-go-forward-story" ng-click="moveStoryForward(selectedStory)" ng-if="selectedStory.status !== 'REJE'">
            Go Story Forward
            <i class="fa fa-chevron-right minus-margin"></i>
            <i class="fa fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
