<div class="container-fluid">

  <div class="row timeline" ng-if="boards.length > 0">
    <button type="button" class="btn-scroll-home btn btn-default btn-xs" ng-click="scrollOptions.scrollPosX = 0"><i class="fa fa-chevron-circle-left"></i></button>
    <div class="timeline-events" ng-scrollable="scrollOptions" spy-x="scrollOptions.scrollPosX">
      <div class="timeline-event" ng-repeat="board in boards" ng-class="{'selected': selectedSprint.id === board.id, 'current': board.statusSlug == 'sprint-current'}" ng-click="selectSprint(board)">
        <div class="start-date" ng-if="board.type === 'sprint'">
          <div class="month" ng-bind="board.startDateObj.month"></div>
          <div class="day" ng-bind="board.startDateObj.day"></div>
          <div class="year" ng-bind="board.startDateObj.year"></div>
        </div>
        <div class="{{board.type}}-data">
          <div class="{{board.type}}-name" title="{{board.name}}" ng-bind="board.name|limitWithEllipsis:15"></div>
          <div class="stories-quantity"><span ng-bind="board.storiesQuantity"></span>Stories</div>
          <div class="{{board.type}}-status" ng-if="board.type === 'sprint'"><span ng-class="board.statusSlug" ng-bind="board.status"></span></div>
          <div class="{{board.type}}-status" ng-if="board.type === 'kanban'"><span class="kanban">KANBAN</span></div>
          <div class="{{board.type}}-points"><span ng-bind="board.points"></span>Points</div>
        </div>
        <div class="end-date" ng-if="board.type === 'sprint'">
          <div class="month" ng-bind="board.endDateObj.month"></div>
          <div class="day" ng-bind="board.endDateObj.day"></div>
          <div class="year" ng-bind="board.endDateObj.year"></div>
        </div>
      </div>
    </div>
    <button type="button" class="btn-scroll-end btn btn-default btn-xs" ng-click="scrollOptions.scrollPosX = 10000"><i class="fa fa-chevron-circle-right"></i></button>
  </div>

  <div class="row burn-up" ng-if="selectedSprint !== null && selectedSprint.type === 'sprint'">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Burn Up</h3>
        </div>
        <div class="panel-body">
          <div class="col-md-12">
            <i class="fa fa-battery-half fa-2x fa-fw fa-rotate-270"></i><span class="points" ng-class="columnPoint.column | lowercase" ng-repeat="columnPoint in pointsPerColumn">{{columnPoint.point}}</span>
          </div>
          <div class="col-md-12">
            <i class="fa fa-calendar fa-2x fa-fw"></i><span class="day" ng-style="{'width': devDay.points * 20 + 'px'}" ng-class="{'passed': devDay.passed, 'is-today': devDay.isToday}" ng-repeat="devDay in devDays">{{devDay.day}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row board {{selectedSprint.type}}" ng-if="selectedSprint !== null">
    <ng-include ng-repeat="column in columns" src="columnTemplate"></ng-include>

    <div class="popup-complete-story" ng-class="{'opened': completeStoryPopupOpened}">
      <div class="panel panel-default board-panel-story">
        <div class="panel-heading" title="{{selectedStory.statement}}">
          <div class="col-md-12">
            <span class="story-type-name" ng-class="selectedStory.type | lowercase " title="{{selectedStory.typeName}}" ng-bind="selectedStory.typeName"></span>
            <span class="story-name">{{selectedStory.name}}</span>
            <span class="story-requester" title="Requester"><label class="rq-ow">Rq</label>{{selectedStory.requester.name}}</span>
            <span class="story-owner" title="Owner"><label class="rq-ow">Ow</label>{{selectedStory.owner.name}}</span>
            <span class="story-status" ng-class="selectedStory.status | lowercase" ng-bind="selectedStory.statusName"></span>
            <span class="badge points-{{selectedStory.points}}">{{selectedStory.points}}</span>
          </div>
        </div>
        <div class="panel-body">
          <div class="story-statement" ng-bind="selectedStory.statement"></div>

          <uib-tabset active="activeJustified" justified="true">
            <uib-tab index="0" select="changeScroll(0)">
              <uib-tab-heading>
                Tasks
                <button ng-if="selectedStoryCurrentTab === 0" type="button" class="btn btn-success btn-sm btn-save-task" ng-click="saveSelectedStoryTasks()"><i class="fa fa-save"></i></button>
              </uib-tab-heading>
              <ul class="list-group story-tasks" as-sortable ng-model="selectedStory.tasks">
                <li class="list-group-item" ng-class="{'list-group-item-success': task.complete, 'list-group-item-warning': !task.complete }" ng-repeat="task in selectedStory.tasks" ng-click="toggleEditStoryTask(task)" as-sortable-item>
                  <div as-sortable-item-handle>
                    <i class="fa fa-fw" ng-click="changeTaskStatus($event, task, $index, selectedStory)" ng-class="{'fa-square-o': !task.changing && !task.complete, 'fa-spinner fa-spin': task.changing, 'fa-check-square-o': !task.changing && task.complete}"></i>
                    <input type="text" ng-model="task.task" ng-show="task.editing" focus-me="task.editing" ng-blur="toggleEditStoryTask(task)" ng-keypress="toggleEditStoryTask(task, $event)"/>
                    <span ng-bind="task.task" ng-if="!task.editing"></span>
                    <button type="button" class="btn btn-default btn-xs btn-remove-item" ng-if="!task.editing" ng-click="removeStoryTask($index)"><i class="fa fa-trash"></i></button>
                  </div>
                </li>
                <li class="new-item list-group-item" ng-click="addingTaskToStory()">
                  <span ng-show="!newTaskVisible">Add a task</span>
                  <input type="text" ng-model="newTask.task" ng-show="newTaskVisible" focus-me="newTaskVisible" ng-blur="blurInputTaskField($event, selectedStory)"/>
                  <button type="button" class="btn btn-primary btn-xs btn-add-item" ng-show="newTaskVisible" ng-click="addTaskToStory($event, selectedStory)">Add</button>
                  <button type="button" class="btn btn-default btn-xs btn-remove-item" ng-show="newTaskVisible" ng-click="cancelAddTaskToStory($event)"><i class="fa fa-close"></i></button>
                </li>
              </ul>
            </uib-tab>
            <uib-tab index="1" heading="DoD" select="changeScroll(1)">
              <ul class="list-group story-definitions" ng-scrollable>
                <li class="list-group-item" ng-class="{'list-group-item-success': definition.done, 'list-group-item-warning': !definition.done }" ng-repeat="definition in selectedStory.definitionOfDone">
                  <i class="fa fa-fw" ng-click="changeDefinitionStatus(definition, $index, selectedStory)" ng-class="{'fa-square-o': !definition.changing && !definition.done, 'fa-spinner fa-spin': definition.changing, 'fa-check-square-o': !definition.changing && definition.done}"></i>
                  {{ definition.definition }}
                </li>
              </ul>
            </uib-tab>
            <uib-tab index="2" select="changeScroll(2)">
              <uib-tab-heading>
                Comments
                <button ng-if="selectedStoryCurrentTab === 2" type="button" class="btn btn-success btn-sm btn-save-task" ng-click="saveSelectedStoryComments()"><i class="fa fa-save"></i></button>
              </uib-tab-heading>
              <ul class="list-group story-comments" ng-scrollable="scrollCommentOptions">
                <li class="list-group-item" ng-repeat="storyComment in selectedStory.comments" ng-click="toggleEditStoryComment(storyComment)">
                  <textarea ng-model="storyComment.comment" ng-show="storyComment.editing" focus-me="storyComment.editing" ng-blur="toggleEditStoryComment(storyComment)"></textarea>
                  <div>
                    <div class="comment-details" ng-if="!storyComment.editing">
                      <div class="col-md-7">
                        Created by: {{storyComment.creator.name}}
                      </div>
                      <div class="col-md-5">
                        Created at: {{storyComment.createdAt}}
                      </div>
                    </div>
                    <span class="with-break-lines" ng-bind="storyComment.comment"></span>
                  </div>
                  <button type="button" class="btn btn-default btn-xs btn-remove-item" ng-if="!storyComment.editing" ng-click="removeStoryComment(selectedStory, $index)"><i class="fa fa-trash"></i></button>
                </li>
                <li class="new-item list-group-item" ng-click="addingCommentToStory()">
                  <span ng-show="!newCommentVisible">Add a comment</span>
                  <textarea ng-model="newComment.comment" rows="3" ng-show="newCommentVisible" focus-me="newCommentVisible" ng-blur="blurInputCommentFiled($event, selectedStory)"></textarea>
                  <button type="button" class="btn btn-primary btn-xs btn-add-item" ng-show="newCommentVisible" ng-click="addCommentToStory($event, selectedStory)">Add</button>
                  <button type="button" class="btn btn-default btn-xs btn-remove-item" ng-show="newCommentVisible" ng-click="cancelAddCommentToStory($event)"><i class="fa fa-close"></i></button>
                </li>
              </ul>
            </uib-tab>
          </uib-tabset>
        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-danger btn-go-back-story" ng-click="moveStoryBack(selectedStory)" ng-if="selectedStory.status !== 'PLAN'">
            <i class="fa fa-chevron-left"></i>
            <i class="fa fa-chevron-left minus-margin"></i>
            Go Story Back
          </button>
          <button type="button" class="btn btn-primary" ng-click="toggleCompleteStoryPopup(null)">Close</button>
          <button type="button" class="btn btn-success btn-go-forward-story" ng-click="moveStoryForward(selectedStory)" ng-if="selectedStory.status !== 'REJE'">
            Go Story Forward
            <i class="fa fa-chevron-right minus-margin"></i>
            <i class="fa fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="board-control-panel" ng-class="{'opened': boardControlPanelOpen}">
    <div class="control-panel-content">zas</div>
  </div>
</div>

<div class="lateral-menu col-md-2" ng-class="{'opened': lateralMenuOpen}">
  <div class="list-group">
    <button type="button" class="list-group-item" ng-click="goToCurrentSprintInTimeline()">Current sprint</button>
    <button type="button" class="list-group-item" data-toggle="collapse" data-target="#filterTimeline" aria-expanded="false" aria-controls="filterTimeline">
      Filter Timeline
    </button>
    <div id="filterTimeline" class="collapse">
      <div class="well">

        <div class="form-group">
          <label for="type">Type</label>
          <select name="type" id="type" class="form-control" ng-model="timelineFilter.type">
            <option value="">All</option>
            <option value="kanban">Kanban</option>
            <option value="sprint">Sprint</option>
          </select>
        </div>

        <div class="form-group">
          <label for="inputStartDate">Start Date from</label>
          <div class="dropdown start date">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <datetimepicker ng-model="timelineFilter.startDate"
                              datetimepicker-config="{dropdownSelector: '#dropdownStartDate', minView:'day'}"/>
            </ul>
          </div>
          <a class="date dropdown-toggle" id="dropdownStartDate" role="button" data-toggle="dropdown" data-target=".dropdown.start.date">
            <div class="input-group">
              <input type="text" id="inputStartDate" class="form-control" name="startDate" ng-model="timelineFilter.startDate" date-time-input="YYYY-MM-DD"/>
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
          </a>
        </div>

        <div class="form-group">
          <label for="inputEndDate">Start date to</label>
          <div class="dropdown end date">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <datetimepicker ng-model="timelineFilter.endDate"
                              datetimepicker-config="{dropdownSelector: '#dropdownEndDate', minView:'day'}"/>
            </ul>
          </div>
          <a class="date dropdown-toggle" id="dropdownEndDate" role="button" data-toggle="dropdown" data-target=".dropdown.end.date">
            <div class="input-group">
              <input type="text" id="inputEndDate" class="form-control" name="startDate" ng-model="timelineFilter.endDate" date-time-input="YYYY-MM-DD"/>
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
          </a>
        </div>

        <div class="form-group">
          <label for="team">Team</label>
          <select name="team" id="team" class="form-control" ng-model="timelineFilter.team" ng-options="team.name for team in teams track by team.id">
            <option value="">All</option>
          </select>
        </div>

        <div class="form-group">
          <label for="team">Status</label>
          <select name="status" id="status" class="form-control" ng-model="timelineFilter.status">
            <option value="">All</option>
            <option value="PLAN">PLANNED</option>
            <option value="CURR">CURRENT</option>
            <option value="FAIL">FAIL</option>
            <option value="SUCC">SUCCESS</option>
          </select>
        </div>

        <button class="btn btn-primary" type="button" ng-click="filterTimeline()">Filter</button>
        <button class="btn btn-secondary" type="button" ng-click="clearFilterTimeline()">Clear</button>
      </div>
    </div>
  </div>
</div>

<div class="background-modal" ng-class="{'opened': columnExpanded}"></div>