<div class="container-fluid">

  <div class="row timeline" ng-if="boards.length > 0">
    <button type="button" class="btn-scroll-home btn btn-default btn-xs" ng-click="scrollOptions.scrollPosX = 0"><i class="fa fa-chevron-circle-left"></i></button>
    <div class="timeline-events" ng-scrollable="scrollOptions" spy-x="scrollOptions.scrollPosX">
      <div class="timeline-event" ng-repeat="board in boards" ng-class="{'selected': selectedSprint.id === board.id, 'current': board.statusSlug == 'sprint-current'}" ui-sref="boardState({boardId: board.id})">
        <div class="start-date" ng-if="board.type === 'sprint'">
          <div class="month" ng-bind="board.startDateObj.month"></div>
          <div class="day" ng-bind="board.startDateObj.day"></div>
          <div class="year" ng-bind="board.startDateObj.year"></div>
        </div>
        <div class="{{board.type}}-data">
          <div class="{{board.type}}-name" title="{{board.name}}" ng-bind="board.name|limitWithEllipsis:15"></div>
          <div class="stories-quantity"><span ng-bind="board.storiesQuantity"></span>Stories</div>
          <div class="{{board.type}}-status" ng-if="board.type === 'sprint'"><span ng-class="board.statusSlug" ng-bind="board.status"></span></div>
          <div class="{{board.type}}-status" ng-if="board.type === 'kanban'"><span class="kanban">KANBAN</span></div>
          <div class="{{board.type}}-points"><span ng-bind="board.points"></span>Points</div>
        </div>
        <div class="end-date" ng-if="board.type === 'sprint'">
          <div class="month" ng-bind="board.endDateObj.month"></div>
          <div class="day" ng-bind="board.endDateObj.day"></div>
          <div class="year" ng-bind="board.endDateObj.year"></div>
        </div>
      </div>
    </div>
    <button type="button" class="btn-scroll-end btn btn-default btn-xs" ng-click="scrollOptions.scrollPosX = 10000"><i class="fa fa-chevron-circle-right"></i></button>
  </div>

  <div class="row burn-up" ng-if="selectedSprint !== null && selectedSprint.type === 'sprint'">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Burn Up</h3>
        </div>
        <div class="panel-body">
          <div class="col-md-12">
            <i class="fa fa-battery-half fa-2x fa-fw fa-rotate-270"></i><span class="points" ng-class="columnPoint.column | lowercase" ng-repeat="columnPoint in pointsPerColumn">{{columnPoint.point}}</span>
          </div>
          <div class="col-md-12">
            <i class="fa fa-calendar fa-2x fa-fw"></i><span class="day" ng-style="{'width': devDay.points * 20 + 'px'}" ng-class="{'passed': devDay.passed, 'is-today': devDay.isToday}" ng-repeat="devDay in devDays">{{devDay.day}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row board {{selectedSprint.type}}" ng-if="selectedSprint !== null">
    <ng-include ng-repeat="column in columns" src="columnTemplate"></ng-include>

    <div class="popup-complete-story" ng-class="{'opened': completeStoryPopupOpened}">
      <div class="panel panel-default board-panel-story">
        <div class="panel-heading" title="{{selectedStory.statement}}">
          <div class="col-md-12">
            <span class="story-type-name" ng-class="selectedStory.type | lowercase " title="{{selectedStory.typeName}}" ng-bind="selectedStory.typeName"></span>
            <span class="story-module">{{modulesNames[selectedStory.moduleId]}} /</span>
            <span class="story-epic">{{epicsNames[selectedStory.epicId]}} /</span>
            <span class="story-name">{{selectedStory.name}}</span>
            <span class="story-requester" title="Requester"><label class="rq-ow">Rq</label>{{selectedStory.requester.name}}</span>
            <span class="story-owner" title="Owner"><label class="rq-ow">Ow</label>{{selectedStory.owner.name}}</span>
            <span class="story-status" ng-class="selectedStory.status | lowercase" ng-bind="selectedStory.statusName"></span>
            <span class="badge points-{{selectedStory.points}}">{{selectedStory.points}}</span>
            <span class="badge value-points-{{selectedStory.valuePoints}}">{{selectedStory.valuePoints}}</span>
          </div>
        </div>
        <div class="panel-body">
          <div class="story-statement" ng-bind="selectedStory.statement"></div>

          <uib-tabset>
            <uib-tab index="0" select="changeScroll(0)">
              <uib-tab-heading>
                Tasks
                <button ng-if="selectedStoryCurrentTab === 0" type="button" class="btn btn-success btn-sm btn-save-task" ng-click="saveSelectedBoardStoryTasks()"><i class="fa fa-save"></i></button>
              </uib-tab-heading>
              <ul class="list-group story-tasks" as-sortable ng-model="selectedStory.tasks">
                <li class="list-group-item" ng-class="{'list-group-item-success': task.complete, 'list-group-item-warning': !task.complete }" ng-repeat="task in selectedStory.tasks" ng-click="toggleEditStoryTask(task)" as-sortable-item>
                  <div as-sortable-item-handle>
                    <i class="fa fa-fw" ng-click="changeTaskStatus($event, task, $index, selectedStory)" ng-class="{'fa-square-o': !task.changing && !task.complete, 'fa-spinner fa-spin': task.changing, 'fa-check-square-o': !task.changing && task.complete}"></i>
                    <input type="text" ng-model="task.task" ng-show="task.editing" focus-me="task.editing" ng-blur="toggleEditStoryTask(task)" ng-keypress="toggleEditStoryTask(task, $event)"/>
                    <span ng-bind="task.task" ng-if="!task.editing"></span>
                    <button type="button" class="btn btn-default btn-xs btn-remove-item" ng-if="!task.editing" ng-click="removeStoryTask(selectedStory, $index)"><i class="fa fa-trash"></i></button>
                  </div>
                </li>
                <li class="new-item list-group-item" ng-click="addingTaskToStory()">
                  <span ng-show="!newTaskVisible">Add a task</span>
                  <input type="text" ng-model="newTask.task" ng-show="newTaskVisible" focus-me="newTaskVisible" ng-blur="blurInputTaskField($event, selectedStory)"/>
                  <button type="button" class="btn btn-primary btn-xs btn-add-item" ng-show="newTaskVisible" ng-click="addTaskToStory($event, selectedStory)">Add</button>
                  <button type="button" class="btn btn-default btn-xs btn-remove-item" ng-show="newTaskVisible" ng-click="cancelAddTaskToStory($event)"><i class="fa fa-close"></i></button>
                </li>
              </ul>
            </uib-tab>

            <uib-tab index="1" heading="DoD" select="changeScroll(1)">
              <ul class="list-group story-definitions" ng-scrollable>
                <li class="list-group-item" ng-class="{'list-group-item-success': definition.done, 'list-group-item-warning': !definition.done }" ng-repeat="definition in selectedStory.definitionOfDone">
                  <i class="fa fa-fw" ng-click="changeDefinitionStatus(definition, $index, selectedStory)" ng-class="{'fa-square-o': !definition.changing && !definition.done, 'fa-spinner fa-spin': definition.changing, 'fa-check-square-o': !definition.changing && definition.done}"></i>
                  {{ definition.definition }}
                </li>
              </ul>
            </uib-tab>

            <uib-tab index="2" select="changeScroll(2)">
              <uib-tab-heading>
                Comments
                <button ng-if="selectedStoryCurrentTab === 2" type="button" class="btn btn-success btn-sm btn-save-task" ng-click="saveSelectedBoardStoryComments()"><i class="fa fa-save"></i></button>
              </uib-tab-heading>
              <div class="fab-story-comments">
                <md-fab-toolbar md-open="false" md-direction="right">
                  <md-fab-trigger class="align-with-text">
                    <md-button aria-label="menu" class="md-fab md-primary">
                      <md-icon md-font-icon="fa fa-plus"></md-icon>
                    </md-button>
                  </md-fab-trigger>
                  <md-toolbar>
                    <md-fab-actions class="md-toolbar-tools">
                      <md-button class="md-icon-button" ng-click="addingCommentToStory('comment')">
                        <md-icon md-font-icon="fa fa-pencil-square-o"></md-icon>
                      </md-button>
                      <md-button aria-label="comment" class="md-icon-button" ng-click="addingCommentToStory('link')">
                        <md-icon md-font-icon="fa fa-link"></md-icon>
                      </md-button>
                      <md-button aria-label="comment" class="md-icon-button" ng-click="addingCommentToStory('file')">
                        <md-icon md-font-icon="fa fa-image"></md-icon>
                      </md-button>
                    </md-fab-actions>
                  </md-toolbar>
                </md-fab-toolbar>
              </div>

              <ul class="list-group story-comments">
                <li class="list-group-item" ng-repeat="storyComment in selectedStory.comments">
                  <textarea ng-model="storyComment.comment" class="form-control comment-textarea" ng-show="storyComment.editing" focus-me="storyComment.editing" ng-blur="toggleEditStoryComment(storyComment)"></textarea>
                  <div ng-if="!storyComment.editing">
                    <div class="comment-details">
                      <div class="col-md-7">
                        Created by: {{storyComment.creator.name}}
                      </div>
                      <div class="col-md-5">
                        Created at: {{storyComment.createdAt}}
                      </div>
                    </div>
                    <span class="with-break-lines" ng-if="!storyComment.file && storyComment.comment" ng-bind="storyComment.comment"></span>
                    <span class="with-break-lines" ng-if="storyComment.link"><a ng-href="{{storyComment.link}}" ng-bind="storyComment.link" target="_blank"></a> </span>
                    <div class="comment-file" ng-if="storyComment.file">
                      <div class="col-md-2" ng-if="storyComment.file.name">
                        <div>
                          <label>Name:</label> {{storyComment.file.name}}
                        </div>
                        <div>
                          <label>Size:</label> {{storyComment.file.size}}
                        </div>
                        <div>
                          <label>Type:</label> {{storyComment.file.type}}
                        </div>
                      </div>
                      <div class="col-md-3">
                        <a ng-href="{{storyComment.file}}" target="_blank">
                          <img ngf-thumbnail="storyComment.file" />
                        </a>
                      </div>
                      <div class="col-md-5" ng-if="storyComment.comment">
                        <label>Description:</label>
                        <span class="with-break-lines" ng-bind="storyComment.comment"></span>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-default btn-xs btn-remove-item" ng-if="!storyComment.editing" ng-click="removeStoryComment(selectedStory, $index)"><i class="fa fa-trash"></i></button>
                </li>
                <li class="new-item list-group-item" ng-show="newCommentVisible">
                  <textarea ng-model="newComment.comment" class="form-control comment-textarea" rows="3" ng-show="newCommentType === 'comment'" focus-me="newCommentType === 'comment'" ng-blur="blurInputCommentField($event, selectedStory)"></textarea>
                  <input ng-model="newComment.link" ng-show="newCommentType === 'link'" focus-me="newCommentType === 'link'" ng-blur="blurInputCommentField($event, selectedStory)" />
                  <div class="new-attachment" ng-show="newCommentType === 'file'">
                    <div class="col-md-2">
                      <input type="file" ngf-select focus-me="newCommentType === 'file'" ng-model="newComment.file" name="commentFile" accept="image/*" ngf-max-size="3MB">
                    </div>
                    <div class="col-md-4">
                      <textarea ng-model="newComment.comment" class="form-control comment-textarea" rows="3" placeholder="Attachment Description"></textarea>
                    </div>
                  </div>
                  <button type="button" class="btn btn-primary btn-xs btn-add-item" ng-click="addCommentToStory($event, selectedStory)">Add</button>
                  <button type="button" class="btn btn-default btn-xs btn-remove-item" ng-click="cancelAddCommentToStory($event)"><i class="fa fa-close"></i></button>
                </li>
              </ul>
            </uib-tab>

            <uib-tab index="3" select="changeScroll(3)">
              <uib-tab-heading>
                Merge Requests
                <button ng-if="selectedStoryCurrentTab === 3" type="button" class="btn btn-success btn-sm btn-save-task" ng-click="saveSelectedBoardStoryMergeRequests()"><i class="fa fa-save"></i></button>
              </uib-tab-heading>
              <ul class="list-group story-merge-requests" ng-scrollable="scrollMergeRequestOptions">
                <li class="list-group-item" ng-repeat="mergeRequest in selectedStory.mergeRequests" ng-click="toggleEditStoryMergeRequest(mergeRequest)">
                  <input ng-model="mergeRequest.url" ng-show="mergeRequest.editing" focus-me="mergeRequest.editing" ng-blur="toggleEditStoryMergeRequest(mergeRequest)"/>
                  <div ng-if="!mergeRequest.editing">
                    <div class="merge-request-details">
                      <div class="col-md-7">
                        Created by: {{mergeRequest.creator.name}}
                      </div>
                      <div class="col-md-5">
                        Created at: {{mergeRequest.createdAt}}
                      </div>
                    </div>
                    <span class="with-break-lines"><a ng-href="{{mergeRequest.url}}" ng-bind="mergeRequest.url" target="_blank" ng-click="stopPropagation($event)"></a> </span>
                  </div>
                  <button type="button" class="btn btn-default btn-xs btn-remove-item" ng-if="!mergeRequest.editing" ng-click="removeStoryMergeRequest(selectedStory, $index)"><i class="fa fa-trash"></i></button>
                </li>
                <li class="new-item list-group-item" ng-click="addingMergeRequestToStory(story)">
                  <span ng-show="!story.newMergeRequestVisible">Add a merge request</span>
                  <input ng-model="newMergeRequest.url" ng-show="story.newMergeRequestVisible" focus-me="story.newMergeRequestVisible" ng-blur="blurInputMergeRequestField($event, selectedStory)"/>
                  <button type="button" class="btn btn-primary btn-xs btn-add-item" ng-show="story.newMergeRequestVisible" ng-click="addMergeRequestToStory($event, selectedStory)">Add</button>
                  <button type="button" class="btn btn-default btn-xs btn-remove-item" ng-show="story.newMergeRequestVisible" ng-click="cancelAddMergeRequestToStory($event)"><i class="fa fa-close"></i></button>
                </li>
              </ul>
            </uib-tab>
          </uib-tabset>
        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-danger btn-go-back-story" ng-click="moveStoryBack(selectedStory)" ng-if="selectedStory.status !== 'PLAN'">
            <i class="fa fa-chevron-left"></i>
            <i class="fa fa-chevron-left minus-margin"></i>
            Go Story Back
          </button>
          <button type="button" class="btn btn-primary" ui-sref="boardState({boardId: selectedSprint.id})">Close</button>
          <button type="button" class="btn btn-warning" ng-if="selectedStory.status === 'ACCP'" ng-click="archiveStory(selectedStory, true)">Archive</button>
          <button type="button" class="btn btn-success btn-go-forward-story" ng-click="moveStoryForward(selectedStory)" ng-if="selectedStory.status !== 'REJE'">
            Go Story Forward
            <i class="fa fa-chevron-right minus-margin"></i>
            <i class="fa fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="board-control-panel" ng-class="{'opened': boardControlPanelOpen}">
    <div class="control-panel-content">zas</div>
  </div>
</div>

<div class="lateral-menu col-md-2" ng-class="{'opened': lateralMenuOpen}">
  <div class="list-group">
    <button type="button" class="list-group-item" ng-click="goToCurrentSprintInTimeline()">Current sprint</button>
    <button type="button" class="list-group-item" data-toggle="collapse" data-target="#filterTimeline" aria-expanded="false" aria-controls="filterTimeline">
      Filter Timeline
    </button>
    <div id="filterTimeline" class="collapse">
      <div class="well">

        <div class="form-group">
          <label for="type">Type</label>
          <select name="type" id="type" class="form-control" ng-model="timelineFilter.type">
            <option value="">All</option>
            <option value="kanban">Kanban</option>
            <option value="sprint">Sprint</option>
          </select>
        </div>

        <div class="form-group">
          <label for="inputStartDate">Start Date from</label>
          <div class="dropdown start date">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <datetimepicker ng-model="timelineFilter.startDate"
                              datetimepicker-config="{dropdownSelector: '#dropdownStartDate', minView:'day'}"/>
            </ul>
          </div>
          <a class="date dropdown-toggle" id="dropdownStartDate" role="button" data-toggle="dropdown" data-target=".dropdown.start.date">
            <div class="input-group">
              <input type="text" id="inputStartDate" class="form-control" name="startDate" ng-model="timelineFilter.startDate" date-time-input="YYYY-MM-DD"/>
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
          </a>
        </div>

        <div class="form-group">
          <label for="inputEndDate">Start date to</label>
          <div class="dropdown end date">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <datetimepicker ng-model="timelineFilter.endDate"
                              datetimepicker-config="{dropdownSelector: '#dropdownEndDate', minView:'day'}"/>
            </ul>
          </div>
          <a class="date dropdown-toggle" id="dropdownEndDate" role="button" data-toggle="dropdown" data-target=".dropdown.end.date">
            <div class="input-group">
              <input type="text" id="inputEndDate" class="form-control" name="startDate" ng-model="timelineFilter.endDate" date-time-input="YYYY-MM-DD"/>
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
          </a>
        </div>

        <div class="form-group">
          <label for="team">Team</label>
          <select name="team" id="team" class="form-control" ng-model="timelineFilter.team" ng-options="team.name for team in teams track by team.id">
            <option value="">All</option>
          </select>
        </div>

        <div class="form-group">
          <label for="team">Status</label>
          <select name="status" id="status" class="form-control" ng-model="timelineFilter.status">
            <option value="">All</option>
            <option value="PLAN">PLANNED</option>
            <option value="CURR">CURRENT</option>
            <option value="FAIL">FAIL</option>
            <option value="SUCC">SUCCESS</option>
          </select>
        </div>

        <button class="btn btn-primary" type="button" ng-click="filterTimeline()">Filter</button>
        <button class="btn btn-secondary" type="button" ng-click="clearFilterTimeline()">Clear</button>
      </div>
    </div>
  </div>
</div>

<div class="background-modal" ng-class="{'opened': columnExpanded}"></div>