<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Scrum InCeres</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="projects">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Select a Project <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-repeat="project in projects"><a ng-click="viewProject(project)" ng-bind="project.name"></a></li>
          </ul>
        </li>
      </ul>
      <p class="navbar-text" ng-if="selectedProject !== null">
        <strong>Current Project: </strong><span ng-bind="selectedProject.name"></span> /
        <strong>Team: </strong><span ng-bind="selectedProject.team.name"></span>
      </p>
      <button type="button" class="btn btn-default navbar-btn" ng-click="goToCurrentSprintInTimeline()" ng-if="selectedProject !== null">Go to current Sprint</button>
      <form class="navbar-form navbar-left" ng-if="selectedProject !== null">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Stories" ng-model="search.expression">
        </div>
        <button type="button" ng-click="searchStories()" class="btn btn-default">Go!</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello {{loggedUser.name}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ng-click="showMyInfo()">My Info</a></li>
            <li><a ng-click="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row timeline" ng-if="selectedProject !== null">
    <button type="button" class="btn-scroll-home btn btn-default btn-xs" ng-click="scrollOptions.scrollPosX = 0"><i class="fa fa-chevron-circle-left"></i></button>
    <div class="timeline-events" ng-scrollable="scrollOptions" spy-x="scrollOptions.scrollPosX">
      <div class="timeline-event" ng-repeat="sprint in selectedProject.sprints" ng-class="{'selected': selectedSprint.id === sprint.id, 'current': sprint.statusSlug == 'sprint-current'}" ng-click="selectSprint(sprint)">
        <div class="start-date">
          <div class="month" ng-bind="sprint.startDate.month"></div>
          <div class="day" ng-bind="sprint.startDate.day"></div>
          <div class="year" ng-bind="sprint.startDate.year"></div>
        </div>
        <div class="sprint-data">
          <div class="sprint-name" ng-bind="sprint.name"></div>
          <div class="stories-quantity"><span ng-bind="sprint.storiesQuantity"></span>Stories</div>
          <div class="sprint-status"><span ng-class="sprint.statusSlug" ng-bind="sprint.status"></span></div>
          <div class="sprint-points"><span ng-bind="sprint.points"></span>Points</div>
        </div>
        <div class="end-date">
          <div class="month" ng-bind="sprint.endDate.month"></div>
          <div class="day" ng-bind="sprint.endDate.day"></div>
          <div class="year" ng-bind="sprint.endDate.year"></div>
        </div>
      </div>
    </div>
    <button type="button" class="btn-scroll-end btn btn-default btn-xs" ng-click="scrollOptions.scrollPosX = 10000"><i class="fa fa-chevron-circle-right"></i></button>
  </div>
  <!--<div class="row burn-up">-->
    <!--<div class="col-md-12">-->
      <!--<div class="panel panel-default">-->
        <!--<div class="panel-heading">-->
          <!--<h3>Burn Up</h3>-->
        <!--</div>-->
        <!--<div class="panel-body">-->
          <!--<div class="col-md-12">-->
            <!--<i class="fa fa-battery-half fa-2x fa-fw fa-rotate-270"></i><span class="points" ng-class="columnPoint.column" ng-repeat="columnPoint in pointsPerColumn">{{columnPoint.point}}</span>-->
          <!--</div>-->
          <!--<div class="col-md-12">-->
            <!--<i class="fa fa-calendar fa-2x fa-fw"></i><span class="day" ng-style="{'width': devDay.points * 23 + 'px'}" ng-class="{'passed': devDay.passed, 'is-today': devDay.isToday}" ng-repeat="devDay in devDays">{{devDay.day}}</span>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <div class="row board" ng-if="selectedSprint !== null">
    <ng-include ng-repeat="column in columns" src="columnTemplate"></ng-include>

    <div class="popup-complete-story" ng-class="{'opened': completeStoryPopupOpened}">
      <div class="panel panel-default panel-complete-story">
        <div class="panel-heading" title="{{selectedStory.statement}}">
          <div class="col-md-12">
            <span class="story-type-name" ng-class="selectedStory.typeCode | lowercase " title="{{selectedStory.typeName}}" ng-bind="selectedStory.typeName"></span>
            <span class="story-name">{{selectedStory.name}}</span>
            <span class="story-status" ng-class="selectedStory.status | lowercase" ng-bind="selectedStory.statusName"></span>
            <span class="badge badge-{{selectedStory.points}}">{{selectedStory.points}}</span>
          </div>
        </div>
        <div class="panel-body">
          <div class="story-statement" ng-bind="selectedStory.statement"></div>
          <h4>Tasks:</h4>
          <ul class="list-group">
            <li class="list-group-item" ng-class="{'list-group-item-success': task.complete, 'list-group-item-warning': !task.complete }" ng-repeat="task in selectedStory.tasks">
              <i class="fa fa-fw" ng-click="changeTaskStatus(task, $index, selectedStory)" ng-class="{'fa-square-o': !task.changing && !task.complete, 'fa-spinner fa-spin': task.changing, 'fa-check-square-o': !task.changing && task.complete}"></i>
              {{ task.task }}
            </li>
          </ul>
        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-danger btn-go-back-story" ng-click="moveStoryBack(selectedStory)">
            <i class="fa fa-chevron-left"></i>
            <i class="fa fa-chevron-left minus-margin"></i>
            Go Story Back
          </button>
          <button type="button" class="btn btn-primary" ng-click="toggleCompleteStoryPopup(null)">Close</button>
          <button type="button" class="btn btn-success btn-go-forward-story" ng-click="moveStoryForward(selectedStory)">
            Go Story Forward
            <i class="fa fa-chevron-right minus-margin"></i>
            <i class="fa fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
