<div class="container-fluid home">
  <div class="row navigation">
    <div class="col-md-2 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <a ui-sref="boardsState" class="home-navigation"><i class="fa fa-columns"></i> Board</a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <a ui-sref="backlogState" class="home-navigation"><i class="fa fa-th-list"></i> Backlog</a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <a ui-sref="iceBoxState" class="home-navigation"><i class="fa fa-snowflake-o"></i> Icebox</a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <a ui-sref="projectState" class="home-navigation"><i class="fa fa-calendar"></i> Project</a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <a ui-sref="modulesEpicsState" class="home-navigation"><i class="fa fa-folder-open"></i> Modules<br />& Epics</a>
        </div>
      </div>
    </div>
  </div>
</div>
