<div class="container-fluid ice-box main">

  <nav class="navbar navbar-default navbar-fixed-top navbreno">
    <h4 class="module-name"> {{fixedModuleName || groupedStories[0].module.name}} </h4>
    <span class="name-epic"> {{fixedEpicName || groupedStories[0].stories[firstEpicKey][0].epic.name}} </span>
    <div class="fab-general-container" ng-cloak>
      <md-fab-speed-dial md-open="mainFabOpen" md-direction="left" class="md-scale">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-green">
            <md-icon md-font-icon="fa fa-plus"></md-icon>
          </md-button>
        </md-fab-trigger>

        <md-fab-actions>
          <md-button aria-label="Feature" class="md-fab md-raised md-mini" ng-click="addStoryToEpic(null, null, 'FEA', null)">
            <md-tooltip md-direction="left" md-visible="false" md-autohide="false">Feature</md-tooltip>
            <md-icon md-font-icon="fa fa-star"></md-icon>
          </md-button>
          <md-button aria-label="Technical" class="md-fab md-raised md-mini" ng-click="addStoryToEpic(null, null, 'TEC', null)">
            <md-tooltip md-direction="left" md-visible="false" md-autohide="false">Technical</md-tooltip>
            <md-icon md-font-icon="fa fa-cog"></md-icon>
          </md-button>
          <md-button aria-label="Bug" class="md-fab md-raised md-mini" ng-click="addStoryToEpic(null, null, 'BUG', null)">
            <md-tooltip md-direction="left" md-visible="false" md-autohide="false">Bug</md-tooltip>
            <md-icon md-font-icon="fa fa-bug"></md-icon>
          </md-button>
          <md-button aria-label="Chore" class="md-fab md-raised md-mini" ng-click="addStoryToEpic(null, null, 'CHO', null)">
            <md-tooltip md-direction="left" md-visible="false" md-autohide="false">Chore</md-tooltip>
            <md-icon md-font-icon="fa fa-flag"></md-icon>
          </md-button>
          <md-button aria-label="Epic" class="md-fab md-raised md-mini" ng-click="addEpic()">
            <md-tooltip md-direction="left" md-visible="false" md-autohide="false">Epic</md-tooltip>
            <md-icon md-font-icon="fa fa-inbox"></md-icon>
          </md-button>
          <md-button aria-label="Epic" class="md-fab md-raised md-mini" ng-click="addModule()">
            <md-tooltip md-direction="left" md-visible="false" md-autohide="false">Module</md-tooltip>
            <md-icon md-font-icon="fa fa-folder"></md-icon>
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>
    </div>
  </nav>

  <section ng-if="groupedStories">
    <div ng-if="storyGroupedBy !== 'both'" class="row grouped-not-both" ng-repeat="(group, stories) in groupedStories">

      <div class="epic-name">
        <span ng-if="storyGroupedBy === 'module'">
          <epic-title module-name-to-fix="{{stories[0].module.name}}" epic-name-to-fix="{{stories[0].epic.name}}"></epic-title>
        </span>
        <span ng-if="storyGroupedBy === 'epic'">
          <epic-title module-name-to-fix="{{stories[0].module.name}}" epic-name-to-fix="{{stories[0].epic.name}}"></epic-title>
        </span>
        <div class="fab-story-container">
          <md-fab-toolbar md-open="false" md-direction="left">
            <md-fab-trigger class="align-with-text">
              <md-button aria-label="menu" class="md-fab md-primary">
                <md-icon md-font-icon="fa fa-plus"></md-icon>
              </md-button>
            </md-fab-trigger>

            <md-toolbar>
              <md-fab-actions class="md-toolbar-tools">
                <md-button aria-label="Feature" class="md-icon-button" ng-click="addStoryToEpic(stories[0].module, stories[0].epic, 'FEA', storyGroupedBy)">
                  <md-tooltip md-direction="left" md-visible="false" md-autohide="false">Feature</md-tooltip>
                  <md-icon md-font-icon="fa fa-star"></md-icon>
                </md-button>
                <md-button aria-label="Technical" class="md-icon-button" ng-click="addStoryToEpic(stories[0].module, stories[0].epic, 'TEC', storyGroupedBy)">
                  <md-icon md-font-icon="fa fa-cog"></md-icon>
                </md-button>
                <md-button aria-label="Bug" class="md-icon-button" ng-click="addStoryToEpic(stories[0].module, stories[0].epic, 'BUG', storyGroupedBy)">
                  <md-icon md-font-icon="fa fa-bug"></md-icon>
                </md-button>
                <md-button aria-label="Chore" class="md-icon-button" ng-click="addStoryToEpic(stories[0].module, stories[0].epic, 'CHO', storyGroupedBy)">
                  <md-icon md-font-icon="fa fa-flag"></md-icon>
                </md-button>
              </md-fab-actions>
            </md-toolbar>
          </md-fab-toolbar>
        </div>
      </div>

      <table class="table table-story table-hover table-condensed">
        <thead>
        <tr>
          <th ng-if="storyGroupedBy !== 'module' && storyGroupedBy !== 'both'">Module</th>
          <th ng-if="storyGroupedBy !== 'epic' && storyGroupedBy !== 'both'">Epic</th>
          <th>Type</th>
          <th>Name</th>
          <th>Statement</th>
          <th>VP</th>
          <th>SP</th>
          <th>Requester</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="story in stories" ng-click="selectStoryToEdit($event, story, $index)">
          <td class="col-module" ng-if="storyGroupedBy !== 'module' && storyGroupedBy !== 'both'">[{{story.module.acronym || 'NO-MODULE'}}]</td>
          <td class="col-epic" ng-if="storyGroupedBy !== 'epic' && storyGroupedBy !== 'both'">{{story.epic.name || 'NO-EPIC'}}</td>
          <td class="col-type">
            <div class="story-type" ng-class="story.type | lowercase" ng-bind="story.typeName"></div>
          </td>
          <td class="col-name" title="{{story.name}}" ng-bind="story.name|limitWithEllipsis:40"></td>
          <td class="col-statement" title="{{story.statement}}" ng-bind="story.statement|limitWithEllipsis:85"></td>
          <td class="col-points story-point">
            <span class="points-{{story.valuePoints|numberOrText:'null'}}" ng-bind="story.valuePoints|numberOrText"></span>
          </td>
          <td class="col-points story-point">
            <span class="points-{{story.points|numberOrText:'null'}}" ng-bind="story.points|numberOrText"></span>
          </td>
          <td class="col-requester" ng-bind="story.requester.name"></td>
          <td class="col-action">
            <button class="btn btn-primary btn-sm btn-save-story" ng-click="selectStoryToEdit($event, story, $index)"><i class="fa fa-edit"></i></button>
          </td>
          <td class="col-action">
            <button class="btn btn-danger btn-sm btn-save-story" ng-click="deleteUnselectedStory(story)"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div ng-if="storyGroupedBy === 'both'" class="row grouped-both" ng-repeat="(group, modules) in groupedStories">

      <h4 class="module-name">{{modules.module.name}}</h4>

      <div ng-repeat="(group2, stories) in modules.stories">
        <div class="epic-name">
          <epic-title epic-name-to-fix="{{stories[0].epic.name}}" module-name-to-fix="{{modules.module.name}}"></epic-title>
          <div class="fab-story-container">
            <md-fab-toolbar md-open="false" md-direction="left">
              <md-fab-trigger class="align-with-text">
                <md-button aria-label="menu" class="md-fab md-primary">
                  <md-icon md-font-icon="fa fa-plus"></md-icon>
                </md-button>
              </md-fab-trigger>

              <md-toolbar>
                <md-fab-actions class="md-toolbar-tools">
                  <md-button aria-label="comment" class="md-icon-button" ng-click="addStoryToEpic(modules.module, stories[0].epic, 'FEA', storyGroupedBy)">
                    <md-icon md-font-icon="fa fa-star"></md-icon>
                  </md-button>
                  <md-button aria-label="label" class="md-icon-button" ng-click="addStoryToEpic(modules.module, stories[0].epic, 'TEC', storyGroupedBy)">
                    <md-icon md-font-icon="fa fa-cog"></md-icon>
                  </md-button>
                  <md-button aria-label="photo" class="md-icon-button" ng-click="addStoryToEpic(modules.module, stories[0].epic, 'BUG', storyGroupedBy)">
                    <md-icon md-font-icon="fa fa-bug"></md-icon>
                  </md-button>
                  <md-button aria-label="photo" class="md-icon-button" ng-click="addStoryToEpic(modules.module, stories[0].epic, 'CHO', storyGroupedBy)">
                    <md-icon md-font-icon="fa fa-flag"></md-icon>
                  </md-button>
                </md-fab-actions>
              </md-toolbar>
            </md-fab-toolbar>
          </div>
        </div>
        <table class="table table-story table-hover table-condensed">
          <thead>
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Statement</th>
            <th>VP</th>
            <th>SP</th>
            <th>Requester</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="story in stories | orderBy : storiesOrder" ng-click="selectStoryToEdit($event, story, $index)">
            <td class="col-type">
              <div class="story-type" ng-class="story.type | lowercase" ng-bind="story.typeName"></div>
            </td>
            <td class="col-name" title="{{story.name}}">
              <span class="story-draft" ng-if="story.status === 'DRFT'">DRAFT</span>
              <span ng-bind="story.name|limitWithEllipsis:40"></span>
            </td>
            <td class="col-statement" title="{{story.statement}}" ng-bind="story.statement|limitWithEllipsis:85"></td>
            <td class="col-points story-point">
              <span class="points-{{story.valuePoints|numberOrText:'null'}}" ng-bind="story.valuePoints|numberOrText"></span>
            </td>
            <td class="col-points story-point">
              <span class="points-{{story.points|numberOrText:'null'}}" ng-bind="story.points|numberOrText"></span>
            </td>
            <td class="col-requester" ng-bind="story.requester.name"></td>
            <td class="col-action">
              <button class="btn btn-primary btn-sm btn-save-story" ng-click="selectStoryToEdit($event, story, $index)"><i class="fa fa-edit"></i></button>
            </td>
            <td class="col-action">
              <button class="btn btn-danger btn-sm btn-save-story" ng-click="deleteUnselectedStory($event, story)"><i class="fa fa-trash"></i></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </section>

  <section ng-include="'templates/include/story-form.html'"></section>

  <div class="filter-bar" ng-class="{'expanded': filterBarExpanded}">
    <div class="filter-trigger" ng-click="toggleFilterBarExpanded()">
      <div></div>
      <div></div>
    </div>
    <div class="filter-content">
      <div class="row">
        <div class="col-md-1 col-md-offset-1">
          <button type="button" class="btn btn-primary" ng-class="{'activate': filter.status === 'DRFT'}" ng-click="filter.status === 'DRFT' ? selectFilter('status', null) : selectFilter('status', 'DRFT')" data-toggle="button" aria-pressed="false" autocomplete="off">
            Drafts
          </button>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search Stories" ng-model="search.expression" ng-keypress="startSearchStories($event)">
              <div class="input-group-btn">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{search.fieldType.name}} <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a ng-click="setStoryFilterTextType('name')">By Name</a></li>
                  <li><a ng-click="setStoryFilterTextType('statement')">By Statement</a></li>
                </ul>
                <button type="button" ng-click="searchStories()" class="btn btn-primary">Go!</button>
                <button type="button" ng-click="searchStories(true)" class="btn btn-primary">Clear</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          Order by:
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" ng-click="setStoryOrder('type')">
              Type
              <i class="fa" ng-class="{'fa-times': storiesOrderControl.type === null, 'fa-chevron-circle-up': storiesOrderControl.type === '+', 'fa-chevron-circle-down': storiesOrderControl.type === '-'}"></i>
            </button>
            <button type="button" class="btn btn-primary" ng-click="setStoryOrder('name')">
              Name
              <i class="fa" ng-class="{'fa-times': storiesOrderControl.name === null, 'fa-chevron-circle-up': storiesOrderControl.name === '+', 'fa-chevron-circle-down': storiesOrderControl.name === '-'}"></i>
            </button>
            <button type="button" class="btn btn-primary" ng-click="setStoryOrder('statement')">
              Statement
              <i class="fa" ng-class="{'fa-times': storiesOrderControl.statement === null, 'fa-chevron-circle-up': storiesOrderControl.statement === '+', 'fa-chevron-circle-down': storiesOrderControl.statement === '-'}"></i>
            </button>
            <button type="button" class="btn btn-primary" ng-click="setStoryOrder('valuePoints')">
              VP
              <i class="fa" ng-class="{'fa-times': storiesOrderControl.valuePoints === null, 'fa-chevron-circle-up': storiesOrderControl.valuePoints === '+', 'fa-chevron-circle-down': storiesOrderControl.valuePoints === '-'}"></i>
            </button>
            <button type="button" class="btn btn-primary" ng-click="setStoryOrder('points')">
              SP
              <i class="fa" ng-class="{'fa-times': storiesOrderControl.points === null, 'fa-chevron-circle-up': storiesOrderControl.points === '+', 'fa-chevron-circle-down': storiesOrderControl.points === '-'}"></i>
            </button>
            <button type="button" class="btn btn-primary" ng-click="setStoryOrder('requester')">
              Requester
              <i class="fa" ng-class="{'fa-times': storiesOrderControl.requester === null, 'fa-chevron-circle-up': storiesOrderControl.requester === '+', 'fa-chevron-circle-down': storiesOrderControl.requester === '-'}"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <h4 class="filter-title">Type: <span class="label label-success" ng-bind="filter.type.name"></span>
            <button type="button" class="btn btn-xs btn-clear-filter" ng-click="selectFilter('type', null)"><i class="fa fa-eraser"></i></button>
          </h4>
          <div class="filter-bar-list">
            <ul class="list-group">
              <li class="list-group-item {{type.code | lowercase}}" ng-class="{'selected': type.code === filter.type.code}" ng-repeat="type in storyTypes" ng-bind="type.name" ng-click="selectFilter('type', type)"></li>
            </ul>
          </div>
        </div>
        <div class="col-md-1">
          <h4 class="filter-title">VP: <span class="label label-success" ng-bind="filter.valuePoint"></span>
            <button type="button" class="btn btn-xs btn-clear-filter" ng-click="selectFilter('valuePoint', null)"><i class="fa fa-eraser"></i></button>
          </h4>
          <div class="filter-bar-list">
            <ul class="list-group">
              <li class="list-group-item" ng-class="{'selected': 'N' === filter.valuePoint}" ng-click="selectFilter('valuePoint', 'N')">N</li>
              <li class="list-group-item" ng-class="{'selected': valuePoint === filter.valuePoint}" ng-repeat="valuePoint in pointsFilter" ng-bind="valuePoint" ng-click="selectFilter('valuePoint', valuePoint)"></li>
            </ul>
          </div>
        </div>
        <div class="col-md-1">
          <h4 class="filter-title">SP: <span class="label label-success" ng-bind="filter.point"></span>
            <button type="button" class="btn btn-xs btn-clear-filter" ng-click="selectFilter('point', null)"><i class="fa fa-eraser"></i></button>
          </h4>
          <div class="filter-bar-list">
            <ul class="list-group">
              <li class="list-group-item" ng-class="{'selected': 'N' === filter.point}" ng-click="selectFilter('point', 'N')">N</li>
              <li class="list-group-item" ng-class="{'selected': point === filter.point}" ng-repeat="point in pointsFilter" ng-bind="point" ng-click="selectFilter('point', point)"></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <h4 class="filter-title">Module: <span class="label label-success" ng-bind="filter.module.name|limitWithEllipsis:25"></span>
            <button type="button" class="btn btn-xs btn-clear-filter" ng-click="selectFilter('module', null)"><i class="fa fa-eraser"></i></button>
          </h4>
          <div class="filter-bar-list">
            <ul class="list-group">
              <li class="list-group-item" ng-class="{'selected': module.id === filter.module.id}" ng-repeat="module in modules" ng-bind="module.name" ng-click="selectFilter('module', module)"></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <h4 class="filter-title">Epic: <span class="label label-success" ng-bind="filter.epic.name|limitWithEllipsis:25"></span>
            <button type="button" class="btn btn-xs btn-clear-filter" ng-click="selectFilter('epic', null)"><i class="fa fa-eraser"></i></button>
          </h4>
          <div class="filter-bar-list">
            <ul class="list-group">
              <li ng-if="filter.module !== null && filter.module.epics.length > 0" class="list-group-item" ng-class="{'selected': epic.id === filter.epic.id}" ng-repeat="epic in filter.module.epics|orderBy:'name'" ng-click="selectFilter('epic', epic)">
                <epic-name epic="epic"></epic-name>
              </li>
              <li ng-if="filter.module === null || filter.module.epics.length === 0" class="list-group-item" ng-class="{'selected': epic.id === filter.epic.id}" ng-repeat="epic in epics|orderBy:['modules', 'name']" ng-click="selectFilter('epic', epic)">
                <epic-name epic="epic"></epic-name>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <h4 class="filter-title">Requester: <span class="label label-success" ng-bind="filter.requester.name|limitWithEllipsis:17"></span>
            <button type="button" class="btn btn-xs btn-clear-filter" ng-click="selectFilter('requester', null)"><i class="fa fa-eraser"></i></button>
          </h4>
          <div class="filter-bar-list">
            <ul class="list-group">
              <li class="list-group-item" ng-class="{'selected': requester.id === filter.requester.id}" ng-repeat="requester in requesters" ng-bind="requester.name" ng-click="selectFilter('requester', requester)"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="lateral-menu col-md-2" ng-class="{'opened': lateralMenuOpen}">
  <div class="list-group">
    <button type="button" class="list-group-item" ng-click="addNewStory()">New Story</button>

    <div class="list-group-item form-inline">
      <div class="form-group">
        <label for="groupBy">Group by: </label>
        <select name="groupBy" id="groupBy" class="form-control sm" ng-model="storyGroupedBy">
          <option value="both">Both</option>
          <option value="module">Module</option>
          <option value="epic">Epic</option>
        </select>
      </div>
    </div>
  </div>
</div>
