<div class="container-fluid project" ng-class="{'lateral-menu-open': lateralMenuOpen}">
  <div class="project-stories">
    <h2>Stories</h2>
  </div>
  <div class="project-sprints">
    <h2>Sprints</h2>

  </div>
  <div class="project-kanbans">
    <h2>Kanbans</h2>
  </div>
</div>

<div class="lateral-menu col-md-2" ng-class="{'opened': lateralMenuOpen}">
  <div class="list-group">
    <button type="button" class="list-group-item" ng-click="addingProject()">New Project</button>

    <div class="list-group-item form-inline">
      <div class="form-group">
        <label for="groupBy">Group by: </label>
        <select name="groupBy" id="groupBy" class="form-control sm" ng-model="storyGroupedBy">
          <option value="both">Both</option>
          <option value="module">Module</option>
          <option value="epic">Epic</option>
        </select>
      </div>
    </div>

    <div class="list-group-item project-item" ng-class="{'selected': selectedProject.id === project.id}" ng-repeat="project in projects">
      <div class="project-title">
        <span class="project-name" ng-bind="project.name"></span>
        <button class="btn btn-xs btn-primary" title="Open Project" ng-click="openProject(project)"><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></button>
        <button class="btn btn-xs btn-primary" title="Edit Project" ng-click="editingProject(project)"><i class="fa fa-edit"></i></button>
      </div>
      <div class="project-dates">
        <div class="date">
          <date-stamp date="project.startDate"></date-stamp>
        </div>
        <div class="working-days">
          <i class="fa fa-long-arrow-left"></i>
          <span class="number" ng-bind="project.workingDays"></span>
          <i class="fa fa-long-arrow-right"></i>
        </div>
        <div class="date">
          <date-stamp date="project.endDate"></date-stamp>
        </div>
      </div>
    </div>
  </div>
</div>