<div class="container-fluid project" ng-class="{'lateral-menu-open': lateralMenuOpen}">
  <section id="selectedProject" ng-show="selectedProjectOpened">
    <div class="panel panel-default panel-project">
      <div class="panel-heading">Stories</div>
      <ul class="list-group project-stories-list">
        <li class="list-group-item" id="project{{selectedProject.id}}Story{{story.id}}" ng-repeat="story in selectedProject.stories">
          <div class="panel panel-default panel-story">
            <div class="panel-heading" title="{{story.name}}">
              <span class="story-type" ng-class="story.type | lowercase " title="{{story.typeName}}"></span>
              <span class="story-name" ng-show="!story.isOpen" ng-bind="story.name|limitWithEllipsis:60"></span>
              <input type="text" class="story-name" ng-show="story.isOpen" ng-model="story.name" />
              <span ng-click="selectStory(story)" class="story-chevron">
                <i class="fa" ng-class="{'fa-spinner fa-spin': story.loading, 'fa-chevron-up': story.isOpen, 'fa-chevron-down': !story.isOpen}"></i>
              </span>
            </div>
            <div class="panel-body" uib-collapse="!story.isOpen">
              <form name="formStory" class="form-story">
                <div class="form-group">
                  <textarea name="storyStatement" id="storyStatement" placeholder="Statement" ng-model="story.statement" rows="2" class="form-control"></textarea>
                </div>
                <ul class="list-group col-md-6">
                  <li class="list-group-item">
                    <span class="form-story-label">STORY TYPE</span>
                    <div class="form-group with-select">
                      <select id="selectStoryType" ng-model="story.type" required class="select-story-type {{story.type | lowercase}} form-control">
                        <option value="">-- choose --</option>
                        <option ng-value="type.code" ng-repeat="type in storyTypes" ng-bind="type.name"></option>
                      </select>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <span class="form-story-label">STORY POINTS</span>
                    <div class="project-story-points btn-group">
                      <label class="btn btn-primary btn-xs points-null" ng-model="story.points" ng-class="{'active': !story.points && story.points != 0}" uib-btn-radio="null">N</label>
                      <label class="btn btn-primary btn-xs points-{{point}}" ng-model="story.points" ng-class="{'active': point == story.points}" uib-btn-radio="point" ng-repeat="point in points" ng-bind="point"></label>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <span class="form-story-label">VALUE POINTS</span>
                    <div class="project-story-points btn-group">
                      <label class="btn btn-primary btn-xs points-null" ng-model="story.valuePoints" ng-class="{'active': !story.valuePoints && story.valuePoints != 0}" uib-btn-radio="null">N</label>
                      <label class="btn btn-primary btn-xs points-{{point}}" ng-model="story.valuePoints" ng-class="{'active': point == story.valuePoints}" uib-btn-radio="point" ng-repeat="point in points" ng-bind="point"></label>
                    </div>
                  </li>
                </ul>
                <ul class="list-group col-md-6">
                  <li class="list-group-item">
                    <span class="form-story-label">STATUS</span>
                    <div class="project-story-status">
''                  <span class="story-status" ng-class="story.status | lowercase" ng-bind="story.status"></span>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <span class="form-story-label">REQUESTER</span>
                    <div class="story-requester">
                      <span class="story-requester-name-initials" ng-bind="getNameInitials(story.requester.name)"></span>
                      <span class="story-requester-name" ng-bind="story.requester.name"></span>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <span class="form-story-label">OWNER</span>
                    <div class="story-owner">
                      <span class="story-owner-name-initials" ng-bind="getNameInitials(story.owner.name)"></span>
                      <span class="story-owner-name" ng-bind="story.owner.name"></span>
                    </div>
                  </li>
                </ul>
              <!--<div class="col-md-6">{{story.module.name}}</div>-->
              <!--<div class="col-md-6">{{story.epic.name}}</div>-->
              <!--<div class="col-md-6">{{story.requester.name}}</div>-->
              <!--<div class="col-md-6">{{story.owner.name}}</div>-->
              </form>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>

<div class="lateral-menu col-md-2" ng-class="{'opened': lateralMenuOpen}">
  <div class="list-group">
    <button type="button" class="list-group-item" ng-click="addingProject()">New Project</button>

    <div class="list-group-item form-inline">
      <div class="form-group">
        <label for="groupBy">Group by: </label>
        <select name="groupBy" id="groupBy" class="form-control sm" ng-model="storyGroupedBy">
          <option value="both">Both</option>
          <option value="module">Module</option>
          <option value="epic">Epic</option>
        </select>
      </div>
    </div>

    <div class="list-group-item project-item" ng-class="{'selected': selectedProject.id === project.id}" ng-repeat="project in projects">
      <div class="project-title">
        <span class="project-name" ng-bind="project.name"></span>
        <button class="btn btn-xs btn-primary" title="Open Project" ng-click="openProject(project)"><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></button>
        <button class="btn btn-xs btn-primary" title="Edit Project" ng-click="editingProject(project)"><i class="fa fa-edit"></i></button>
      </div>
      <div class="project-dates">
        <div class="date">
          <date-stamp date="project.startDate"></date-stamp>
        </div>
        <div class="working-days">
          <i class="fa fa-long-arrow-left"></i>
          <span class="number" ng-bind="project.workingDays"></span>
          <i class="fa fa-long-arrow-right"></i>
        </div>
        <div class="date">
          <date-stamp date="project.endDate"></date-stamp>
        </div>
      </div>
    </div>
  </div>
</div>