<li class="list-group-item story-filters">
  <div class="panel panel-default panel-story">
    <div class="panel-heading">
      <span><i class="fa fa-filter"></i> Filters: <story-filter-total total-stories="stories.length" filtered-stories="storiesFiltered.length"></story-filter-total></span>
      <span ng-click="openStoryFilter()" class="story-chevron">
        <i class="fa" ng-class="{'fa-chevron-up': porraAngular.storyFilterIsOpen, 'fa-chevron-down': !porraAngular.storyFilterIsOpen}"></i>
      </span>
    </div>
    <div class="panel-body" uib-collapse="!porraAngular.storyFilterIsOpen">
      <form name="formStory" class="form-story">
        <section class="statement-save">
          <div class="form-group col-sm-5">
            <input placeholder="Name" ng-model="storyFilter.name" class="form-control" />
          </div>
          <div class="form-group col-sm-5">
            <input placeholder="Statement" ng-model="storyFilter.statement" class="form-control" />
          </div>
          <div class="col-sm-2">
            <button class="btn btn-xs btn-warning" type="button" ng-click="clearStoryFilter()"><i class="fa fa-refresh"></i></button>
          </div>
        </section>
        <ul class="list-group story-iterations" ng-if="showIteration">
          <li class="list-group-item">
            <span class="form-story-label">ITERATION</span>
            <div class="form-group with-select with-iteration-filter">
              <select ng-model="porraAngular.storyFilterIteration" class="form-control select-iteration-filter" ng-change="setIterationStoryFilter()">
                <option value="">-- All --</option>
                <option value="icebox">-- In Icebox --</option>
                <option value="sprint">-- In Sprint --</option>
                <option value="kanban">-- In Kanban --</option>
              </select>
            </div>
          </li>
        </ul>
        <ul class="list-group col-sm-6">
          <li class="list-group-item">
            <span class="form-story-label">MODULE</span>
            <div class="form-group with-select with-module">
              <select ng-model="storyFilter.moduleId" ng-change="selectModuleStoryFilter()" class="select-module form-control">
                <option value="">-- All --</option>
                <option value="{{module.id}}" ng-bind="module.acronym" ng-repeat="module in $root.modules|orderBy:'acronym' track by module.id"></option>
              </select>
            </div>
          </li>
          <li class="list-group-item">
            <span class="form-story-label">STORY TYPE</span>
            <div class="form-group with-select with-story-type">
              <select ng-model="storyFilter.type" class="select-story-type {{storyFilter.type | lowercase}} form-control">
                <option value="">-- All --</option>
                <option ng-value="type.code" ng-repeat="type in $root.storyTypes" ng-bind="type.name"></option>
              </select>
            </div>
          </li>
          <li class="list-group-item">
            <span class="form-story-label">STORY POINTS</span>
            <div class="project-story-points btn-group">
              <label class="btn btn-danger btn-xs" ng-model="storyFilter.points" ng-class="{'active': false}" uib-btn-radio="">X</label>
              <label class="btn btn-primary btn-xs points-null" ng-model="storyFilter.points" ng-class="{'active': storyFilter.points === null}" uib-btn-radio="null">N</label>
              <label class="btn btn-primary btn-xs points-{{point}}" ng-model="storyFilter.points" ng-class="{'active': point === storyFilter.points}" uib-btn-radio="point" ng-repeat="point in $root.points" ng-bind="point"></label>
            </div>
          </li>
          <li class="list-group-item">
            <span class="form-story-label">VALUE POINTS</span>
            <div class="project-story-points btn-group">
              <label class="btn btn-danger btn-xs" ng-model="storyFilter.valuePoints" ng-class="{'active': false}" uib-btn-radio="">X</label>
              <label class="btn btn-primary btn-xs points-null" ng-model="storyFilter.valuePoints" ng-class="{'active': storyFilter.valuePoints === null}" uib-btn-radio="null">N</label>
              <label class="btn btn-primary btn-xs points-{{point}}" ng-model="storyFilter.valuePoints" ng-class="{'active': point === storyFilter.valuePoints}" uib-btn-radio="point" ng-repeat="point in $root.points" ng-bind="point"></label>
            </div>
          </li>
        </ul>
        <ul class="list-group col-sm-6">
          <li class="list-group-item">
            <span class="form-story-label">EPIC</span>
            <div class="form-group with-select with-epic">
              <select ng-model="storyFilter.epicId" class="select-epic form-control">
                <option value="">-- All --</option>
                <option value="{{epic.id}}" ng-bind="epic.name" ng-repeat="epic in $root.epics|orderBy:'name'|filter:{modules: porraAngular.moduleAcronym} track by epic.id"></option>
              </select>
            </div>
          </li>
          <li class="list-group-item">
            <span class="form-story-label">STATUS</span>
            <div class="form-group with-select with-story-status">
              <select ng-model="storyFilter.status" class="select-story-status {{storyFilter.status | lowercase}} form-control">
                <option value="">-- All --</option>
                <option ng-value="status.code" ng-repeat="status in $root.storyStatus" ng-bind="status.name"></option>
              </select>
            </div>
          </li>
          <li class="list-group-item">
            <span class="form-story-label">REQUESTER</span>
            <div class="form-group with-select with-requester">
              <select ng-model="storyFilter.requesterId" class="select-requester form-control">
                <option value="">-- All --</option>
                <option value="{{requester.id}}" ng-bind="requester.name" ng-repeat="requester in $root.requesters|orderBy:'name' track by requester.id"></option>
              </select>
            </div>
          </li>
          <li class="list-group-item">
            <span class="form-story-label">OWNER</span>
            <div class="form-group with-select with-requester">
              <select ng-model="storyFilter.ownerId" class="select-requester form-control">
                <option value="">-- All --</option>
                <option value="{{owner.id}}" ng-bind="owner.name" ng-repeat="owner in $root.requesters|orderBy:'name' track by owner.id"></option>
              </select>
            </div>
          </li>
        </ul>
      </form>
    </div>
  </div>
</li>
