<div class="{{column.name | lowercase}} column-container" ng-class="{'expanded': column.expanded, 'col-md-3': !column.expanded && column.colSpan === 3, 'col-md-2': !column.expanded && column.colSpan === 2}">
  <div class="panel panel-default">
    <div class="panel-heading board-column-heading">
      <div class="col-md-12">
        <h3>
          <span class="board-column-heading-span" ng-bind="column.label"></span>
          <a class="btn btn-xs btn-success" ng-if="column.name === 'INST'" target="_blank" ng-href="{{getTestPlanUrl()}}" ng-click="$event.stopPropagation()"><i class="fa fa-file-excel-o"></i> Test Plan</a>

          <button class="btn btn-xs btn-default board-column-heading-buttons" ng-click="toggleExpandColumn(column)"><i class="fa" ng-class="{'fa-expand': !column.expanded, 'fa-compress': column.expanded}"></i></button>

          <div class="btn-group dropdown-add-story" uib-dropdown ng-if="selectedSprint.type === 'kanban' && column.name === 'PLAN'">
            <button type="button" id="addStory" class="btn btn-xs btn-primary" uib-dropdown-toggle>
              <span class="fa fa-plus"></span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="addStory">
              <li role="menuitem"><a ng-click="addNewStoryToCurrentIteration('FEA')"><i class="fa fa-star"></i> New Feature</a></li>
              <li role="menuitem"><a ng-click="addNewStoryToCurrentIteration('BUG')"><i class="fa fa-bug"></i> New BUG</a></li>
              <li role="menuitem"><a ng-click="addNewStoryToCurrentIteration('TEC')"><i class="fa fa-cog"></i> New Technical</a></li>
              <li role="menuitem"><a ng-click="addNewStoryToCurrentIteration('CHO')"><i class="fa fa-flag"></i> New Chore</a></li>
            </ul>
          </div>

          <span class="board-column-heading-span badge {{column.name | lowercase }}" title="Total column points" ng-bind="pointsPerStoryTypeStatus[column.name]"></span>
          <span class="board-column-heading-span label label-warning stories-length" title="Total column stories" ng-bind="stories[column.name].length"></span>
        </h3>
      </div>
    </div>
    <div class="panel-body column {{column.name | lowercase}}" ng-scrollable="columnScrollOptions[column.name]">
      <div ng-repeat="story in stories[column.name] | filter:{archived: false}" class="panel panel-default story">
        <div class="panel-heading" title="{{story.statement}}">
          <div class="col-md-12" ui-sref="storyBoardState({boardType: selectedSprint.type, boardId: selectedSprint.id, tabIndex: selectedTab, storyId: story.id})" ng-click="toggleCompleteStoryPopup(story)">
            <span class="story-type" ng-class="story.type | lowercase " title="{{story.typeName}}"></span>
            <span class="story-name" ng-bind="story.name|limitWithEllipsis:22"></span>
            <span class="badge points-{{story.points}}">{{story.points}}</span>
            <span class="badge value-points-{{story.valuePoints}}">{{story.valuePoints}}</span>
          </div>
        </div>
        <div class="panel-body" ng-if="story.hasTasks">
          <ul class="list-group">
            <li class="list-group-item" ng-class="{'list-group-item-success': task.complete, 'list-group-item-warning': !task.complete }" ng-repeat="task in story.tasks">
              <i class="fa fa-fw" ng-if="column.name == 'STAR'" ng-click="changeTaskStatus($event, task, $index, story)" ng-class="{'fa-square-o': !task.changing && !task.complete, 'fa-spinner fa-spin': task.changing, 'fa-check-square-o': !task.changing && task.complete}"></i>
              {{ task.task }}
            </li>
          </ul>
        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-danger btn-xs btn-go-back-story" ng-click="moveStoryBack(story)" ng-if="story.status !== 'PLAN'">
            <i class="fa fa-chevron-left"></i>
            <i class="fa fa-chevron-left minus-margin"></i>
          </button>
          <owner-name story="story"></owner-name>
          <button type="button" title="Archive Story" class="btn btn-warning btn-xs" ng-click="archiveStory(story)" ng-if="story.status === 'ACCP'">
            <i class="fa fa-archive"></i>
          </button>
          <button type="button" class="btn btn-success btn-xs btn-go-forward-story" ng-click="moveStoryForward(story)" ng-if="story.status !== 'REJE'">
            <i class="fa fa-chevron-right minus-margin"></i>
            <i class="fa fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
