<div class="popup-add-dod" ng-class="{'opened': newDefinitionVisible}">
  <div class="panel panel-default panel-add-dod">
    <div class="panel-heading">
      Adding Definition of Done in <span ng-bind="selectedStory.name"></span>
    </div>

    <div class="panel-body">
      <ul class="list-group story-definition-parts" as-sortable ng-model="newDefinition.composed.givens">
        <li class="list-group-item" ng-repeat="given in newDefinition.composed.givens" as-sortable-item>
          <div class="definition-part">
            <span class="definition-part-title" ng-show="$index === 0">Dado que</span>
            <span class="definition-part-title" ng-show="$index !== 0">e dado que</span>
            <input class="definition-part-value" type="text" ng-model="given.value" />
          </div>
          <button type="button" class="btn btn-xs btn-primary btn-add-definition-part" ng-show="$index === newDefinition.composed.givens.length - 1" ng-click="addGivenToNewDoD()">
            <i class="fa fa-plus"></i>
          </button>
          <span class="btn btn-xs btn-default move-definition-part" as-sortable-item-handle><i class="fa fa-arrows-v"></i></span>
        </li>
      </ul>

      <ul class="list-group story-definition-parts" as-sortable ng-model="newDefinition.composed.whens">
        <li class="list-group-item" ng-repeat="when in newDefinition.composed.whens" as-sortable-item>
          <div as-sortable-item-handle>
            <span class="definition-part-title" ng-show="$index === 0">quando</span>
            <span class="definition-part-title" ng-show="$index !== 0">e quando</span>
            <input class="definition-part-value" type="text" ng-model="when.value" />
          </div>
          <button type="button" class="btn btn-xs btn-primary btn-add-definition-part" ng-show="$index === newDefinition.composed.whens.length - 1" ng-click="addWhenToNewDoD()">
            <i class="fa fa-plus"></i>
          </button>
        </li>
      </ul>

      <ul class="list-group story-definition-parts" as-sortable ng-model="newDefinition.composed.thens">
        <li class="list-group-item" ng-repeat="_then in newDefinition.composed.thens" as-sortable-item>
          <div as-sortable-item-handle>
            <span class="definition-part-title" ng-show="$index === 0">então</span>
            <span class="definition-part-title" ng-show="$index !== 0">e então</span>
            <input class="definition-part-value" type="text" ng-model="_then.value" />
          </div>
          <button type="button" class="btn btn-xs btn-primary btn-add-definition-part" ng-show="$index === newDefinition.composed.thens.length - 1" ng-click="addThenToNewDoD()">
            <i class="fa fa-plus"></i>
          </button>
        </li>
      </ul>
    </div>

    <div class="panel-footer">
      <button type="button" class="btn btn-danger" ng-click="cancelAddDefinitionToStory($event)">Never Mind!</button>
      <button type="button" class="btn btn-success" ng-click="addDefinitionToStory($event, selectedStory, true)">Let's Save it!</button>
    </div>
  </div>
</div>
