<div class="modal-header">
  <h3 class="modal-title" id="modalTitle">Add Project</h3>
</div>
<div class="modal-body project-modal-body" id="modalBody">
  <form name="formAdd">
    <div class="form-group col-md-6">
      <label for="projectName">Name</label>
      <input type="text" class="form-control" name="projectName" id="projectName" placeholder="Name" ng-model="project.name" required>
    </div>
    <div class="form-group col-md-6">
      <label for="projectSlug">Slug</label>
      <input type="text" class="form-control" name="projectSlug" id="projectSlug" placeholder="Slug" ng-model="project.slug" required readonly>
    </div>

    <div class="dropdown start date">
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <datetimepicker ng-model="selectedSprint.startDate"
                        datetimepicker-config="{dropdownSelector: '#dropdownStartDate', renderOn: 'end-date-changed', minView:'day'}"
                        on-set-time="startDateOnSetTime()"
                        data-before-render="startDateBeforeRender($dates)"/>
      </ul>
    </div>
    <div class="dropdown end date">
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <datetimepicker ng-model="selectedSprint.endDate"
                        datetimepicker-config="{dropdownSelector: '#dropdownEndDate', renderOn: 'start-date-changed', minView:'day'}"
                        data-on-set-time="endDateOnSetTime()"
                        data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"/>
      </ul>
    </div>

    <div class="project-dates">
      <div class="start-date col-md-4">
        <label for="inputStartDate">Starts:</label>
        <a class="date dropdown-toggle" id="dropdownStartDate" role="button" data-toggle="dropdown" data-target=".dropdown.start.date">
          <div class="input-group">
            <input type="text" id="inputStartDate" class="form-control" name="startDate" ng-model="selectedSprint.startDate" date-time-input="YYYY-MM-DD" required/>
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </a>
      </div>

      <div class="working-days col-md-4">
        <span class="label">working days</span>
        <i class="fa fa-long-arrow-left"></i><span class="number" ng-bind="selectedSprint.workingDays"></span><i class="fa fa-long-arrow-right"></i>
      </div>

      <div class="end-date col-md-4">
        <label for="inputEndDate">Ends:</label>
        <a class="date dropdown-toggle" id="dropdownEndDate" role="button" data-toggle="dropdown" data-target=".dropdown.end.date">
          <div class="input-group">
            <input type="text" id="inputEndDate" class="form-control" name="endDate" ng-model="selectedSprint.endDate" date-time-input="YYYY-MM-DD" required/>
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </a>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="save(formAdd)">Save</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
