<div class="panel panel-default panel-project" ng-controller="SelectedProjectKanbansController">
  <div class="panel-heading project-panel-heading">
    <span ng-bind="columnName"></span>
    <button class="btn btn-xs btn-primary btn-create-kanban" ng-click="addNewKanbanToSelectedProject()" type="button"><i class="fa fa-plus"></i></button>
  </div>
  <ul class="list-group project-kanban-list">
    <li class="list-group-item" ng-if="selectedProject.loading">
      <md-progress-linear md-mode="query"></md-progress-linear>
    </li>

    <li class="list-group-item project-kanban" ng-repeat="kanban in newKanbans">
      <div class="panel panel-default panel-kanban">
        <div class="panel-heading">
          <input type="text" class="kanban-name" required ng-model="kanban.name" />
        </div>
        <div class="panel-body">
          <form name="formKanban" class="form-kanban">
            <section class="kanban-save">
              <div class="form-group col-sm-11">
                <textarea name="kanbanDescription" placeholder="Description" ng-model="kanban.description" rows="3" class="form-control"></textarea>
              </div>
              <div class="col-sm-1">
                <button class="btn btn-xs btn-success" type="button" title="Save kanban changes" ng-disabled="kanban.updating || kanban.loading" ng-click="saveKanban(kanban, $index)">
                  <i class="fa" ng-class="{'fa-spinner fa-spin': kanban.updating || kanban.loading, 'fa-save': !kanban.updating && !kanban.loading}"></i>
                </button>
                <button class="btn btn-xs btn-danger" type="button" title="Cancel new kanban" ng-disabled="kanban.updating" ng-click="cancelNewKanban($index)">
                  <i class="fa fa-close"></i>
                </button>
              </div>
            </section>
            <ul class="list-group story-date">
              <li class="list-group-item">
                <span class="form-story-label">CREATED AT:</span> <span class="project-story-date" ng-bind="kanban.createdAt|formatDateString"></span>
              </li>
              <li class="list-group-multiple-select">
                <div class="project-teams-label">TEAMS</div>
                <div class="project-select-team">
                  <multiple-autocomplete ng-model="kanban.teams" close-after-selected="true" ng-disabled="!kanban.isPlanned" suggestions-arr="teams" object-property="name"></multiple-autocomplete>
                </div>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </li>

    <li class="list-group-item project-kanban" ng-repeat="kanban in selectedProject.kanbans">
      <div class="panel panel-default panel-kanban">
        <div class="panel-heading">
          Kanban: <span class="kanban-name" ng-show="!kanban.isOpen" ng-bind="kanban.name|limitWithEllipsis:60"></span>
          <input type="text" class="kanban-name" required ng-disabled="!kanban.isPlanned" ng-show="kanban.isOpen" ng-model="kanban.name" />
          <span ng-click="openKanban(kanban)" class="kanban-chevron">
            <i class="fa" ng-class="{'fa-spinner fa-spin': kanban.loading, 'fa-chevron-up': kanban.isOpen, 'fa-chevron-down': !kanban.isOpen}"></i>
          </span>
          <a class="open-board" ui-sref="boardState({boardType: kanban.type, boardId: kanban.id, tabIndex: 0})" target="_blank"><i class="fa fa-external-link"></i></a>
        </div>
        <div class="panel-body" uib-collapse="!kanban.isOpen">
          <form name="formKanban" class="form-kanban" ng-if="kanban.isOpen">
            <section class="kanban-save">
              <div class="form-group" ng-class="{'col-sm-11': kanban.isFormOpen, 'col-sm-9': !kanban.isFormOpen}">
                <textarea name="kanbanDescription" id="kanbanDescription" ng-disabled="!kanban.isPlanned" placeholder="Objective" required ng-model="kanban.description" rows="{{kanban.isFormOpen ? 5 : 3}}" class="form-control"></textarea>
              </div>
              <div ng-class="{'col-sm-1': kanban.isFormOpen, 'col-sm-3': !kanban.isFormOpen}">
                <button class="btn btn-xs btn-success" type="button" title="Save kanban changes" ng-disabled="kanban.updating || kanban.loading" ng-click="saveKanban(kanban)">
                  <i class="fa" ng-class="{'fa-spinner fa-spin': kanban.updating || kanban.loading, 'fa-save': !kanban.updating && !kanban.loading}"></i>
                </button>
                <button class="btn btn-xs btn-warning" ng-if="kanban.id" type="button" title="Undo story changes" ng-disabled="kanban.updating || kanban.loading" ng-click="undoKanbanChanges(kanban)">
                  <i class="fa" ng-class="{'fa-spinner fa-spin': kanban.updating || kanban.loading, 'fa-undo': !kanban.updating && !kanban.loading}"></i>
                </button>
                <button class="btn btn-xs btn-danger" ng-if="!kanban.id" type="button" title="Cancel new story" ng-click="cancelNewKanban($index)"><i class="fa fa-close"></i></button>
                <span ng-click="openKanbanForm(kanban)" class="kanban-form-chevron">
                  <i class="fa" ng-class="{'fa-chevron-up': kanban.isFormOpen, 'fa-chevron-down': !kanban.isFormOpen}"></i>
                </span>
              </div>
            </section>
            <ul uib-collapse="!kanban.isFormOpen" class="list-group story-date">
              <li class="list-group-item">
                <span class="form-story-label">CREATED AT:</span> <span class="project-story-date" ng-bind="kanban.createdAt|formatDateString"></span>
              </li>
              <li class="list-group-multiple-select">
                <div class="project-teams-label">TEAMS</div>
                <div class="project-select-team">
                  <multiple-autocomplete ng-model="kanban.teams" close-after-selected="true" ng-disabled="!kanban.isPlanned" suggestions-arr="teams" object-property="name"></multiple-autocomplete>
                </div>
              </li>
            </ul>
            <section uib-collapse="!kanban.isFormOpen" class="kanban-details">
              <ul class="list-group col-sm-6">
                <li class="list-group-item">
                  <span class="form-story-label">TOTAL STORIES</span>
                  <div class="form-group">
                    <span class="sprint-numeric-label" ng-bind="kanban.stories.length"></span>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="form-story-label">STARTED</span>
                  <div class="form-group">
                    <span class="sprint-numeric-label" ng-bind="quantityOf(kanban.stories, 'STAR')"></span>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="form-story-label">ACCEPTED</span>
                  <div class="form-group">
                    <span class="sprint-numeric-label" ng-bind="quantityOf(kanban.stories, 'ACCP')"></span>
                  </div>
                </li>
              </ul>

              <ul class="list-group col-sm-6">
                <li class="list-group-item">
                  <span class="form-story-label">PLANNED</span>
                  <div class="form-group">
                    <span class="sprint-numeric-label" ng-bind="quantityOf(kanban.stories, 'PLAN')"></span>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="form-story-label">FINISHED</span>
                  <div class="form-group">
                    <span class="sprint-numeric-label" ng-bind="quantityOf(kanban.stories, 'FINI')"></span>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="form-story-label">REJECTED</span>
                  <div class="form-group">
                    <span class="sprint-numeric-label" ng-bind="quantityOf(kanban.stories, 'REJE')"></span>
                  </div>
                </li>
              </ul>
            </section>
          </form>

          <div class="panel panel-default panel-kanban-stories">
            <div class="panel-heading">
              <span>Stories</span>

              <div class="btn-group dropdown-add-story" uib-dropdown>
                <button id="simple-btn-keyboard-nav" type="button" class="btn btn-xs btn-primary" uib-dropdown-toggle>
                  Add Story <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                  <li role="menuitem"><a ng-click="addNewStoryToKanban('DRF', kanban)"><i class="fa fa-sticky-note-o"></i> New Draft</a></li>
                  <li class="divider"></li>
                  <li role="menuitem"><a ng-click="addNewStoryToKanban('FEA', kanban)"><i class="fa fa-star"></i> New Feature</a></li>
                  <li role="menuitem"><a ng-click="addNewStoryToKanban('BUG', kanban)"><i class="fa fa-bug"></i> New BUG</a></li>
                  <li role="menuitem"><a ng-click="addNewStoryToKanban('TEC', kanban)"><i class="fa fa-cog"></i> New Technical</a></li>
                  <li role="menuitem"><a ng-click="addNewStoryToKanban('CHO', kanban)"><i class="fa fa-flag"></i> New Chore</a></li>
                </ul>
              </div>
            </div>
            <ul class="list-group kanban-stories-filter" ng-if="kanban.isOpen">
              <li class="list-group-item animate-story new-story" ng-repeat="newStory in kanban.newStories" ng-include="'newStoryPanel'"></li>
            </ul>

            <ul class="list-group kanban-stories-list" ng-if="kanban.isOpen" as-sortable="kanbanStorySortableOptions" ng-model="kanban.stories">
              <li-story-order-group use-order="false" porra-angular="kanban.porraAngular"></li-story-order-group>

              <li-story-filter porra-angular="kanban.porraAngular" story-filter="kanban.storyFilter" show-iteration="false" stories="kanban.stories" stories-filtered="storiesFiltered"></li-story-filter>

              <li class="list-group-item animate-story" ng-if="!selectedProject.loading && !kanban.loading && !kanban.groupedStories" id="project{{selectedProject.id}}Kanban{{kanban.id}}Story{{story.id}}" ng-repeat="story in kanban.stories | filter:kanban.storyFilter as storiesFiltered" as-sortable-item>
                <div ng-include="'storyPanel'" class="kanban-story-sortable" as-sortable-item-handle></div>
              </li>

              <li class="list-group-item" ng-if="!selectedProject.loading && !kanban.loading && kanban.groupedStories && kanban.porraAngular.groupStoryBy !== 'module-epic'" ng-repeat="(group, stories) in kanban.groupedStories">
                <ul class="list-group" ng-init="kanban.storiesGroupOpen[group].isOpen = true">
                  <li class="list-group-item kanban-grouped-stories">
                    <div class="panel panel-default panel-module">
                      <div class="panel-heading module-heading">
                        <span ng-if="kanban.porraAngular.groupStoryBy === 'module'">Module: {{modulesNames[stories[0].moduleId]}}</span>
                        <span ng-if="kanban.porraAngular.groupStoryBy === 'type'">Type: {{stories[0].typeName}}</span>
                        <span ng-if="kanban.porraAngular.groupStoryBy === 'status'">Status: {{stories[0].statusName}}</span>
                        <span class="grouped-total-stories"> - <story-filter-total total-stories="stories.length" filtered-stories="storiesGrupedFiltered.length"></story-filter-total></span>
                        <span ng-click="openGroupedStories(kanban.storiesGroupOpen[group])" class="module-chevron">
                          <i class="fa" ng-class="{'fa-chevron-up': kanban.storiesGroupOpen[group].isOpen, 'fa-chevron-down': !kanban.storiesGroupOpen[group].isOpen}"></i>
                        </span>
                      </div>

                      <div class="panel-body" uib-collapse="!kanban.storiesGroupOpen[group].isOpen">
                        <ul class="list-group">
                          <li class="list-group-item animate-story" ng-if="storiesGrupedFiltered.length === 0">
                            No stories for filter in group
                          </li>
                          <li class="list-group-item animate-story" id="project{{selectedProject.id}}Story{{story.id}}" ng-repeat="story in stories | orderBy:kanban.porraAngular.orderStoryBy | filter:kanban.storyFilter as storiesGrupedFiltered" ng-include="'storyPanel'"></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>

              <li class="list-group-item" ng-if="!selectedProject.loading && !kanban.loading && kanban.groupedStories && kanban.porraAngular.groupStoryBy === 'module-epic'" ng-repeat="(zas, module) in kanban.groupedStories">
                <ul class="list-group" ng-init="module.isOpen = true">
                  <li class="list-group-item kanban-grouped-stories">
                    <div class="panel panel-default panel-module">
                      <div class="panel-heading module-heading">
                        <span>Module: {{modulesNames[module.id]}}</span>
                        <span ng-click="openGroupedStories(module)" class="module-chevron">
                          <i class="fa" ng-class="{'fa-chevron-up': module.isOpen, 'fa-chevron-down': !module.isOpen}"></i>
                        </span>
                      </div>
                      <div class="panel-body" uib-collapse="!module.isOpen">
                        <ul class="list-group">
                          <li class="list-group-item kanban-epic-grouped-stories" ng-repeat="(group, stories) in module.stories">
                            <div class="panel panel-default panel-module" ng-init="kanban.storiesGroupOpen[group].isOpen = true">
                              <div class="panel-heading epic-heading">
                                <span>Epic: {{epicsNames[stories[0].epicId]}}</span>
                                <span class="grouped-total-stories"> - <story-filter-total total-stories="stories.length" filtered-stories="storiesGrupedEpicFiltered.length"></story-filter-total></span>
                                <span ng-click="openGroupedStories(kanban.storiesGroupOpen[group])" class="module-chevron">
                                  <i class="fa" ng-class="{'fa-chevron-up': kanban.storiesGroupOpen[group].isOpen, 'fa-chevron-down': !kanban.storiesGroupOpen[group].isOpen}"></i>
                                </span>
                              </div>
                              <div class="panel-body" uib-collapse="!kanban.storiesGroupOpen[group].isOpen">
                                <ul class="list-group">
                                  <li class="list-group-item animate-story no-story" ng-if="storiesGrupedEpicFiltered.length === 0">
                                    No stories for filter in group
                                  </li>
                                  <li class="list-group-item animate-story" id="project{{selectedProject.id}}Story{{story.id}}" ng-repeat="story in stories | orderBy:kanban.porraAngular.orderStoryBy | filter:kanban.storyFilter as storiesGrupedEpicFiltered" ng-include="'storyPanel'"></li>
                                </ul>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>