<div class="panel panel-default panel-project" ng-controller="SelectedProjectSprintsController" ng-class="{'expanded': selectedProject.sprintPanelExpanded}">
  <div class="panel-heading project-panel-heading">
    <span ng-bind="columnName"></span>
    <button class="btn btn-xs btn-default btn-maximize" ng-click="toggleExpandSprintPanel()" type="button">
      <i class="fa" ng-class="{'fa-window-restore': selectedProject.sprintPanelExpanded, 'fa-window-maximize': !selectedProject.sprintPanelExpanded}"></i>
    </button>
    <button class="btn btn-xs btn-primary btn-create-sprint" ng-click="addNewSprintToSelectedProject()" type="button"><i class="fa fa-plus"></i></button>
  </div>
  <ul class="list-group project-sprint-list">
    <li class="list-group-item" ng-if="selectedProject.loading">
      <md-progress-linear md-mode="query"></md-progress-linear>
    </li>

    <li class="list-group-item project-sprint" ng-repeat="sprint in newSprints">
      <div class="panel panel-default panel-sprint">
        <div class="panel-heading">
          <input type="text" class="sprint-name" required ng-model="sprint.name" />
        </div>
        <div class="panel-body">
          <form name="formSprint" class="form-sprint">
            <section class="sprint-save">
              <div class="form-group col-sm-11">
                <textarea name="sprintObjective" placeholder="Objective" required ng-model="sprint.objective" rows="3" class="form-control"></textarea>
              </div>
              <div class="col-sm-1">
                <button class="btn btn-xs btn-success" type="button" title="Save sprint changes" ng-click="saveSprint(sprint, $index)"><i class="fa fa-save"></i></button>
                <button class="btn btn-xs btn-danger" type="button" title="Cancel new sprint" ng-click="cancelNewSprint($index)"><i class="fa fa-close"></i></button>
              </div>
            </section>
            <ul class="list-group story-date">
              <li class="list-group-item">
                <span class="form-story-label">CREATED AT:</span> <span class="project-story-date" ng-bind="sprint.createdAt|formatDateString"></span>
              </li>
            </ul>
            <section class="sprint-details">
              <ul class="list-group col-sm-6">
                <li class="list-group-item">
                  <span class="form-story-label">START DATE</span>
                  <div class="input-group sprint-date">
                    <input type="text" class="form-control" required ng-disabled="!sprint.isPlanned" uib-datepicker-popup="dd MMM yyyy" alt-input-formats="altInputFormats" ng-change="changeStartDate(sprint)" ng-model="sprint.startDate" is-open="sprint.startDateIsOpen" datepicker-options="startDateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-xs btn-default" ng-disabled="!sprint.isPlanned" ng-click="openStartDate(sprint)"><i class="fa fa-calendar"></i></button>
                    </span>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="form-story-label">WORKING DAYS</span>
                  <div class="form-group">
                    <span class="sprint-numeric-label" ng-bind="sprint.workingDays || 0"></span>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="form-story-label">STATUS</span>
                  <div class="form-group with-select">
                    <select id="selectStatus" ng-model="sprint.status" name="status" required class="select-status form-control">
                      <option value="PLAN" class="sprint-status sprint-planned" ng-disabled="!sprint.isPlanned">PLANNED</option>
                      <option value="CURR" class="sprint-status sprint-current">CURRENT</option>
                      <option value="FAIL" class="sprint-status sprint-failure">FAIL</option>
                      <option value="SUCC" class="sprint-status sprint-success">SUCCESS</option>
                    </select>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="form-story-label">STORY POINTS</span>
                  <div class="form-group">
                    <span class="sprint-numeric-label">{{sprint.storiesPerDay.toFixed(2)}}/day = {{sprint.sumStoriesPoints || 0}}</span>
                  </div>
                </li>
              </ul>

              <ul class="list-group col-sm-6">
                <li class="list-group-item">
                  <span class="form-story-label">END DATE</span>
                  <div class="input-group sprint-date">
                    <input type="text" class="form-control" required ng-disabled="!sprint.isPlanned" uib-datepicker-popup="dd MMM yyyy" alt-input-formats="altInputFormats" ng-change="changeEndDate(sprint)" ng-model="sprint.endDate" is-open="sprint.endDateIsOpen" datepicker-options="endDateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-xs btn-default" ng-disabled="!sprint.isPlanned" ng-click="openEndDate(sprint)"><i class="fa fa-calendar"></i></button>
                    </span>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="form-story-label">STORIES</span>
                  <div class="form-group">
                    <span class="sprint-numeric-label" ng-bind="sprint.stories.length"></span>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="form-story-label">TEAM</span>
                  <div class="form-group with-select">
                    <select ng-model="sprint.team" name="team" required ng-disabled="!sprint.isPlanned" class="select-team form-control" ng-options="team.name for team in teams track by team.id">
                      <option value="">-- Team --</option>
                    </select>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="form-story-label">VALUE POINTS</span>
                  <div class="form-group">
                    <span class="sprint-numeric-label" ng-bind="sprint.sumValuePoints"></span>
                  </div>
                </li>
              </ul>
            </section>
          </form>
        </div>
      </div>
    </li>

    <li class="list-group-item project-sprint" ng-repeat="sprint in selectedProject.sprints">
      <div class="panel panel-default panel-sprint">
        <div class="panel-heading">
          <span class="sprint-name" ng-show="!sprint.isOpen" ng-bind="sprint.name|limitWithEllipsis:60"></span>
          <input type="text" class="sprint-name" required ng-disabled="!sprint.isPlanned" ng-show="sprint.isOpen" ng-model="sprint.name" />
          <span ng-click="openSprint(sprint)" class="sprint-chevron">
            <i class="fa" ng-class="{'fa-chevron-up': sprint.isOpen, 'fa-chevron-down': !sprint.isOpen}"></i>
          </span>
          <a class="open-board" ui-sref="boardState({boardType: sprint.type, boardId: sprint.id, tabIndex: 0})" target="_blank"><i class="fa fa-external-link"></i></a>
        </div>
        <div class="panel-body" uib-collapse="!sprint.isOpen">
          <form name="formSprint" class="form-sprint" ng-if="sprint.isOpen">
            <section class="sprint-save">
              <div class="form-group col-sm-11">
                <textarea name="sprintObjective" id="sprintObjective" ng-disabled="!sprint.isPlanned" placeholder="Objective" required ng-model="sprint.objective" rows="3" class="form-control"></textarea>
              </div>
              <div class="col-sm-1">
                <button class="btn btn-xs btn-success" type="button" title="Save sprint changes" ng-click="saveSprint(sprint)"><i class="fa fa-save"></i></button>
                <button class="btn btn-xs btn-warning" ng-if="sprint.id" type="button" title="Undo story changes" ng-click="undoSprintChanges(sprint)"><i class="fa fa-undo"></i></button>
                <button class="btn btn-xs btn-danger" ng-if="!sprint.id" type="button" title="Cancel new story" ng-click="cancelNewSprint($index)"><i class="fa fa-close"></i></button>
              </div>
            </section>
            <ul class="list-group story-date">
              <li class="list-group-item">
                <span class="form-story-label">CREATED AT:</span> <span class="project-story-date" ng-bind="sprint.createdAt|formatDateString"></span>
              </li>
            </ul>
            <section class="sprint-details">
              <ul class="list-group col-sm-6">
                <li class="list-group-item">
                  <span class="form-story-label">START DATE</span>
                  <div class="input-group sprint-date">
                    <input type="text" class="form-control" required ng-disabled="!sprint.isPlanned" uib-datepicker-popup="dd MMM yyyy" alt-input-formats="altInputFormats" ng-change="changeStartDate(sprint)" ng-model="sprint.startDate" is-open="sprint.startDateIsOpen" datepicker-options="startDateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-xs btn-default" ng-disabled="!sprint.isPlanned" ng-click="openStartDate(sprint)"><i class="fa fa-calendar"></i></button>
                    </span>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="form-story-label">WORKING DAYS</span>
                  <div class="form-group">
                    <span class="sprint-numeric-label" ng-bind="sprint.workingDays"></span>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="form-story-label">STATUS</span>
                  <div class="form-group with-select">
                    <select ng-model="sprint.status" name="status" required class="select-status form-control">
                      <option value="PLAN" class="sprint-status sprint-planned" ng-disabled="!sprint.isPlanned">PLANNED</option>
                      <option value="CURR" class="sprint-status sprint-current">CURRENT</option>
                      <option value="FAIL" class="sprint-status sprint-failure">FAIL</option>
                      <option value="SUCC" class="sprint-status sprint-success">SUCCESS</option>
                    </select>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="form-story-label">STORY POINTS</span>
                  <div class="form-group">
                    <span class="sprint-numeric-label">{{sprint.storiesPerDay.toFixed(2)}}/day = {{sprint.sumStoriesPoints || 0}}</span>
                  </div>
                </li>
              </ul>

              <ul class="list-group col-sm-6">
                <li class="list-group-item">
                  <span class="form-story-label">END DATE</span>
                  <div class="input-group sprint-date">
                    <input type="text" class="form-control" required ng-disabled="!sprint.isPlanned" uib-datepicker-popup="dd MMM yyyy" alt-input-formats="altInputFormats" ng-change="changeEndDate(sprint)" ng-model="sprint.endDate" is-open="sprint.endDateIsOpen" datepicker-options="endDateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-xs btn-default" ng-disabled="!sprint.isPlanned" ng-click="openEndDate(sprint)"><i class="fa fa-calendar"></i></button>
                    </span>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="form-story-label">STORIES</span>
                  <div class="form-group">
                    <span class="sprint-numeric-label" ng-bind="sprint.stories.length"></span>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="form-story-label">TEAM</span>
                  <div class="form-group with-select">
                    <select id="selectTeam" ng-model="sprint.team" name="team" required ng-disabled="!sprint.isPlanned" class="select-team form-control" ng-options="team.name for team in teams track by team.id">
                      <option value="">-- Team --</option>
                    </select>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="form-story-label">VALUE POINTS</span>
                  <div class="form-group">
                    <span class="sprint-numeric-label" ng-bind="sprint.sumValuePoints"></span>
                  </div>
                </li>
              </ul>
            </section>
          </form>

          <div class="panel panel-default panel-sprint-stories">
            <div class="panel-heading">
              <span>Stories</span>

              <div class="btn-group dropdown-add-story" uib-dropdown>
                <button id="simple-btn-keyboard-nav" type="button" class="btn btn-xs btn-primary" uib-dropdown-toggle>
                  Add Story <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                  <li role="menuitem"><a ng-click="addNewStoryToSprint('FEA', sprint)"><i class="fa fa-star"></i> New Feature</a></li>
                  <li role="menuitem"><a ng-click="addNewStoryToSprint('BUG', sprint)"><i class="fa fa-bug"></i> New BUG</a></li>
                  <li role="menuitem"><a ng-click="addNewStoryToSprint('TEC', sprint)"><i class="fa fa-cog"></i> New Technical</a></li>
                  <li role="menuitem"><a ng-click="addNewStoryToSprint('CHO', sprint)"><i class="fa fa-flag"></i> New Chore</a></li>
                </ul>
              </div>
            </div>
            <ul class="list-group sprint-stories-list" ng-if="sprint.isOpen">
              <!--li-story-order-group use-order="false" porra-angular="sprint.porraAngular"></li-story-order-group-->

              <li-story-filter porra-angular="sprint.porraAngular" story-filter="sprint.storyFilter" show-iteration="false" stories="sprint.stories" stories-filtered="storiesFiltered"></li-story-filter>

              <li class="list-group-item animate-story new-story" ng-repeat="newStory in sprint.newStories" ng-include="'newStoryPanel'"></li>

              <li class="list-group-item animate-story" ng-if="!selectedProject.loading && !sprint.loading && !sprint.groupedStories" id="project{{selectedProject.id}}Sprint{{sprint.id}}Story{{story.id}}" ng-repeat="story in sprint.stories | orderBy:sprint.porraAngular.orderStoryBy | filter:sprint.storyFilter as storiesFiltered" ng-include="'storyPanel'"></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>