<div class="panel panel-default panel-project" ng-controller="SelectedProjectAttachmentsController">
  <div class="panel-heading">
    <span ng-bind="columnName"></span>

    <div class="btn-group dropdown-add-story" uib-dropdown>
      <button id="simple-btn-keyboard-nav" type="button" class="btn btn-xs btn-primary" uib-dropdown-toggle>
        Add Attachment <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
        <li role="menuitem"><a ng-click="addingAttachmentToProject('comment')"><i class="fa fa-pencil-square-o"></i> Add Comment</a></li>
        <li role="menuitem"><a ng-click="addingAttachmentToProject('link')"><i class="fa fa-link"></i> Add Link</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a ng-click="addingAttachmentToProject('file', 'I')"><i class="fa fa-image"></i> Add Image</a></li>
        <li role="menuitem"><a ng-click="addingAttachmentToProject('file', 'P')"><i class="fa fa-file-pdf-o"></i> Add PDF</a></li>
        <li role="menuitem"><a ng-click="addingAttachmentToProject('file', 'D')"><i class="fa fa-file-text-o"></i> Add Document</a></li>
        <li role="menuitem"><a ng-click="addingAttachmentToProject('file', 'Z')"><i class="fa fa-file-archive-o"></i> Add Zip</a></li>
      </ul>
    </div>
  </div>
  <ul class="list-group project-attachments-list">
    <li class="list-group-item" ng-if="project.loading">
      <md-progress-linear md-mode="query"></md-progress-linear>
    </li>

    <li class="list-attachment-item" ng-repeat="attachment in project.attachments">
      <textarea ng-model="attachment.comment" class="form-control attachment-textarea" rows="2" ng-show="attachment.editing" focus-me="attachment.editing" ng-blur="toggleEditAttachment(attachment, $event)"></textarea>
      <div ng-if="!attachment.editing">
        <div class="attachment-details">
          <div class="col-sm-7">
            Created by: {{attachment.creator.name}}
          </div>
          <div class="col-sm-5">
            Created at: {{attachment.createdAt}}
          </div>
        </div>
        <div class="attachment-text col-sm-11">
          <span class="with-break-lines" ng-if="!attachment.file && attachment.comment" ng-bind="attachment.comment"></span>
          <span class="with-break-lines" ng-if="attachment.link"><a ng-href="{{attachment.link}}" ng-bind="attachment.link" target="_blank"></a> </span>
          <div class="attachment-file" ng-if="attachment.file">
            <div class="col-sm-12 attachment-file-details" ng-if="attachment.file.name">
              <div class="col-sm-4">
                <label>Name:</label> <span class="with-break-lines" ng-bind="attachment.file.name"></span>
              </div>
              <div class="col-sm-4">
                <label>Size:</label> <span class="with-break-lines" ng-bind="attachment.file.size | formatFileSize:2"></span>
              </div>
              <div class="col-sm-4">
                <label>Type:</label> <span class="with-break-lines" ng-bind="attachment.file.type"></span>
              </div>
            </div>
            <div class="col-sm-5 attachment-filename" ng-if="!attachment.isDirty">
              <a ng-href="{{attachment.file}}" ng-if="attachment.fileType === 'I'" target="_blank" title="Click to open {{attachment.file}}">
                <img ngf-thumbnail="attachment.file" />
              </a>
              <a class="btn btn-xs btn-primary" ng-href="{{attachment.file}}" ng-if="attachment.fileType !== 'I'" target="{{attachment.fileType === 'P' ? '_blank' : ''}}" title="Click to download {{attachment.file}}">
                <i class="fa" ng-class="{'fa-file-text-o': attachment.fileType === 'D', 'fa-file-pdf-o': attachment.fileType === 'P', 'fa-file-archive-o': attachment.fileType === 'Z'}"></i>
                <span class="filename" ng-bind="attachment.file | extractFilename"></span>
              </a>
            </div>
            <div class="col-sm-7 attachment-file-description" ng-if="attachment.comment">
              <label>Description:</label>
              <span class="with-break-lines" ng-bind="attachment.comment"></span>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-danger btn-xs btn-remove-attachment" ng-if="!attachment.editing" ng-click="removeProjectAttachment(attachment, $index)"><i class="fa fa-trash"></i></button>
    </li>

    <li class="new-item list-group-item" ng-show="newAttachmentVisible">
      <textarea ng-model="newAttachment.comment" class="form-control attachment-textarea" rows="3" ng-show="newAttachmentType === 'comment'" focus-me="newAttachmentType === 'comment'"></textarea>
      <input ng-model="newAttachment.link" ng-show="newAttachmentType === 'link'" focus-me="newAttachmentType === 'link'" />
      <div class="new-attachment col-sm-11" ng-show="newAttachmentType === 'file'">
        <div class="col-sm-5">
          <input type="file" class="form-control project-attachments-file" ngf-select focus-me="newAttachmentType === 'file'" ng-model="newAttachment.file" name="attachmentFile" accept="{{newAttachmentFileTypeAccept}}" ngf-max-size="50MB">
        </div>
        <div class="col-sm-7">
          <textarea ng-model="newAttachment.comment" class="form-control attachment-textarea" rows="3" placeholder="Attachment Description"></textarea>
        </div>
      </div>
      <button type="button" class="btn btn-success btn-xs btn-add-attachment" ng-click="addAttachmentToProject($event)"><i class="fa fa-save"></i></button>
      <button type="button" class="btn btn-danger btn-xs btn-remove-attachment" ng-click="cancelAddAttachmentToProject($event)"><i class="fa fa-close"></i></button>
    </li>
  </ul>
</div>