<div class="panel panel-default panel-project" ng-controller="SelectedProjectKanbansController">
  <div class="panel-heading">
    <span ng-bind="columnName"></span>
    <button class="btn btn-xs btn-primary btn-create-kanban" ng-click="addNewKanbanToSelectedProject()" type="button"><i class="fa fa-plus"></i></button>
  </div>
  <ul class="list-group project-kanban-list">
    <li class="list-group-item" ng-if="selectedProject.loading">
      <md-progress-linear md-mode="query"></md-progress-linear>
    </li>

    <li class="list-group-item project-kanban" ng-repeat="kanban in newKanbans">
      <div class="panel panel-default panel-kanban">
        <div class="panel-heading">
          <input type="text" class="kanban-name" required ng-model="kanban.name" />
        </div>
        <div class="panel-body">
          <form name="formKanban" class="form-kanban">
            <section class="kanban-save">
              <div class="form-group col-sm-11">
                <textarea name="kanbanDescription" placeholder="Description" ng-model="kanban.description" rows="3" class="form-control"></textarea>
              </div>
              <div class="col-sm-1">
                <button class="btn btn-xs btn-success" type="button" title="Save kanban changes" ng-click="saveKanban(kanban, $index)"><i class="fa fa-save"></i></button>
                <button class="btn btn-xs btn-danger" type="button" title="Cancel new kanban" ng-click="cancelNewKanban($index)"><i class="fa fa-close"></i></button>
              </div>
            </section>
            <ul class="list-group story-date">
              <li class="list-group-item">
                <span class="form-story-label">CREATED AT:</span> <span class="project-story-date" ng-bind="kanban.createdAt|formatDateString"></span>
              </li>
              <li class="list-group-multiple-select">
                <div class="project-teams-label">TEAMS</div>
                <div class="project-select-team">
                  <multiple-autocomplete ng-model="kanban.teams" close-after-selected="true" ng-disabled="!kanban.isPlanned" suggestions-arr="teams" object-property="name"></multiple-autocomplete>
                </div>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </li>

    <li class="list-group-item project-kanban" ng-repeat="kanban in selectedProject.kanbans">
      <div class="panel panel-default panel-kanban">
        <div class="panel-heading">
          <span class="kanban-name" ng-show="!kanban.isOpen" ng-bind="kanban.name|limitWithEllipsis:60"></span>
          <input type="text" class="kanban-name" required ng-disabled="!kanban.isPlanned" ng-show="kanban.isOpen" ng-model="kanban.name" />
          <span ng-click="openKanban(kanban)" class="kanban-chevron">
            <i class="fa" ng-class="{'fa-chevron-up': kanban.isOpen, 'fa-chevron-down': !kanban.isOpen}"></i>
          </span>
        </div>
        <div class="panel-body" uib-collapse="!kanban.isOpen">
          <form name="formKanban" class="form-kanban" ng-if="kanban.isOpen">
            <section class="kanban-save">
              <div class="form-group col-sm-11">
                <textarea name="kanbanDescription" id="kanbanDescription" ng-disabled="!kanban.isPlanned" placeholder="Objective" required ng-model="kanban.description" rows="3" class="form-control"></textarea>
              </div>
              <div class="col-sm-1">
                <button class="btn btn-xs btn-success" type="button" title="Save kanban changes" ng-click="saveKanban(kanban)"><i class="fa fa-save"></i></button>
                <button class="btn btn-xs btn-warning" ng-if="kanban.id" type="button" title="Undo story changes" ng-click="undoKanbanChanges(kanban)"><i class="fa fa-undo"></i></button>
                <button class="btn btn-xs btn-danger" ng-if="!kanban.id" type="button" title="Cancel new story" ng-click="cancelNewKanban($index)"><i class="fa fa-close"></i></button>
              </div>
            </section>
            <ul class="list-group story-date">
              <li class="list-group-item">
                <span class="form-story-label">CREATED AT:</span> <span class="project-story-date" ng-bind="kanban.createdAt|formatDateString"></span>
              </li>
              <li class="list-group-multiple-select">
                <div class="project-teams-label">TEAMS</div>
                <div class="project-select-team">
                  <multiple-autocomplete ng-model="kanban.teams" close-after-selected="true" ng-disabled="!kanban.isPlanned" suggestions-arr="teams" object-property="name"></multiple-autocomplete>
                </div>
              </li>
            </ul>
            <section class="kanban-details">
              <ul class="list-group col-sm-6">
                <li class="list-group-item">
                  <span class="form-story-label">TOTAL STORIES</span>
                  <div class="form-group">
                    <span class="sprint-numeric-label" ng-bind="kanban.stories.length"></span>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="form-story-label">STARTED</span>
                  <div class="form-group">
                    <span class="sprint-numeric-label" ng-bind="quantityOf(kanban.stories, 'STAR')"></span>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="form-story-label">ACCEPTED</span>
                  <div class="form-group">
                    <span class="sprint-numeric-label" ng-bind="quantityOf(kanban.stories, 'ACCP')"></span>
                  </div>
                </li>
              </ul>

              <ul class="list-group col-sm-6">
                <li class="list-group-item">
                  <span class="form-story-label">PLANNED</span>
                  <div class="form-group">
                    <span class="sprint-numeric-label" ng-bind="quantityOf(kanban.stories, 'PLAN')"></span>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="form-story-label">FINISHED</span>
                  <div class="form-group">
                    <span class="sprint-numeric-label" ng-bind="quantityOf(kanban.stories, 'FINI')"></span>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="form-story-label">REJECTED</span>
                  <div class="form-group">
                    <span class="sprint-numeric-label" ng-bind="quantityOf(kanban.stories, 'REJE')"></span>
                  </div>
                </li>
              </ul>

            </section>
          </form>

          <div class="panel panel-default panel-kanban-stories">
            <div class="panel-heading">
              <span>Stories</span>

              <div class="btn-group dropdown-add-story" uib-dropdown>
                <button id="simple-btn-keyboard-nav" type="button" class="btn btn-xs btn-primary" uib-dropdown-toggle>
                  Add Story <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                  <li role="menuitem"><a ng-click="addNewStoryToKanban('FEA', kanban)"><i class="fa fa-star"></i> New Feature</a></li>
                  <li role="menuitem"><a ng-click="addNewStoryToKanban('BUG', kanban)"><i class="fa fa-bug"></i> New BUG</a></li>
                  <li role="menuitem"><a ng-click="addNewStoryToKanban('TEC', kanban)"><i class="fa fa-cog"></i> New Technical</a></li>
                  <li role="menuitem"><a ng-click="addNewStoryToKanban('CHO', kanban)"><i class="fa fa-flag"></i> New Chore</a></li>
                </ul>
              </div>
            </div>
            <ul class="list-group kanban-stories-list" ng-if="kanban.isOpen">
              <li-story-order-group porra-angular="kanban.porraAngular"></li-story-order-group>

              <li-story-filter porra-angular="kanban.porraAngular" story-filter="kanban.storyFilter" show-iteration="false" stories="kanban.stories" stories-filtered="storiesFiltered"></li-story-filter>

              <li class="list-group-item animate-story new-story" ng-repeat="newStory in kanban.newStories" ng-include="'newStoryPanel'"></li>

              <li class="list-group-item animate-story" ng-if="!selectedProject.loading && !kanban.loading && !kanban.groupedStories" id="project{{selectedProject.id}}Kanban{{kanban.id}}Story{{story.id}}" ng-repeat="story in kanban.stories | orderBy:kanban.porraAngular.orderStoryBy | filter:kanban.storyFilter as storiesFiltered" ng-include="'storyPanel'"></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>