<div class="panel panel-default panel-project" ng-controller="SelectedProjectStoriesController" ng-class="{'expanded': selectedProject.storyPanelExpanded}">
  <div class="panel-heading project-panel-heading">
    <span ng-bind="columnName"></span>

    <button class="btn btn-xs btn-default btn-maximize" ng-click="toggleExpandStoryPanel()" type="button">
      <i class="fa" ng-class="{'fa-window-restore': selectedProject.storyPanelExpanded, 'fa-window-maximize': !selectedProject.storyPanelExpanded}"></i>
    </button>

    <div class="btn-group dropdown-add-story" uib-dropdown>
      <button id="simple-btn-keyboard-nav" type="button" class="btn btn-xs btn-primary" uib-dropdown-toggle>
        Add Story <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
        <li role="menuitem"><a ng-click="addingExistingStoryToSelectedProject()"><i class="fa fa-snowflake-o"></i> From Icebox</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a ng-click="addNewStoryToSelectedProject('FEA')"><i class="fa fa-star"></i> New Feature</a></li>
        <li role="menuitem"><a ng-click="addNewStoryToSelectedProject('BUG')"><i class="fa fa-bug"></i> New BUG</a></li>
        <li role="menuitem"><a ng-click="addNewStoryToSelectedProject('TEC')"><i class="fa fa-cog"></i> New Technical</a></li>
        <li role="menuitem"><a ng-click="addNewStoryToSelectedProject('CHO')"><i class="fa fa-flag"></i> New Chore</a></li>
      </ul>
    </div>
  </div>
  <ul class="list-group project-stories-list">
    <li class="list-group-item" ng-if="selectedProject.loading">
      <md-progress-linear md-mode="query"></md-progress-linear>
    </li>

    <li-story-order-group use-order="true" porra-angular="porraAngular"></li-story-order-group>

    <li-story-filter porra-angular="porraAngular" story-filter="storyFilter" show-iteration="true" stories="selectedProject.stories" stories-filtered="storiesFiltered"></li-story-filter>

    <li class="list-group-item animate-story new-story" ng-repeat="newStory in newStories" ng-include="'newStoryPanel'"></li>

    <li class="list-group-item animate-story" ng-if="!selectedProject.loading && !groupedStories" id="project{{selectedProject.id}}Story{{story.id}}" ng-repeat="story in selectedProject.stories | orderBy:porraAngular.orderStoryBy | filter:storyFilter as storiesFiltered" ng-include="'storyPanel'"></li>

    <li class="list-group-item" ng-if="!selectedProject.loading && groupedStories && porraAngular.groupStoryBy !== 'module-epic'" ng-repeat="(group, stories) in groupedStories">
      <ul class="list-group" ng-init="storiesGroupOpen[group].isOpen = true">
        <li class="list-group-item grouped-module">
          <div class="panel panel-default panel-module">
            <div class="panel-heading module-heading">
              <span ng-if="porraAngular.groupStoryBy === 'module'">Module: {{modulesNames[stories[0].moduleId]}}</span>
              <span ng-if="porraAngular.groupStoryBy === 'module-epic'">Module: {{modulesNames[stories[0].moduleId]}} - {{epicsNames[stories[0].epicId]}}</span>
              <span ng-if="porraAngular.groupStoryBy === 'type'">Type: {{stories[0].typeName}}</span>
              <span ng-if="porraAngular.groupStoryBy === 'status'">Status: {{stories[0].statusName}}</span>
              <span class="grouped-total-stories"> - <story-filter-total total-stories="stories.length" filtered-stories="storiesGrupedFiltered.length"></story-filter-total></span>
              <span ng-click="openGroupedStories(storiesGroupOpen[group])" class="module-chevron">
                <i class="fa" ng-class="{'fa-chevron-up': storiesGroupOpen[group].isOpen, 'fa-chevron-down': !storiesGroupOpen[group].isOpen}"></i>
              </span>
            </div>
            <div class="panel-body" uib-collapse="!storiesGroupOpen[group].isOpen">
              <ul class="list-group">
                <li class="list-group-item animate-story" ng-if="storiesGrupedFiltered.length === 0">
                  No stories for filter in group
                </li>
                <li class="list-group-item animate-story" id="project{{selectedProject.id}}Story{{story.id}}" ng-repeat="story in stories | orderBy:porraAngular.orderStoryBy | filter:storyFilter as storiesGrupedFiltered" ng-include="'storyPanel'"></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </li>

    <li class="list-group-item" ng-if="!selectedProject.loading && groupedStories && porraAngular.groupStoryBy === 'module-epic'" ng-repeat="(zas, module) in groupedStories">
      <ul class="list-group" ng-init="module.isOpen = true">
        <li class="list-group-item">
          <div class="panel panel-default panel-module">
            <div class="panel-heading module-heading">
              <span>Module: {{modulesNames[module.id]}}</span>
              <span ng-click="openGroupedStories(module)" class="module-chevron">
                <i class="fa" ng-class="{'fa-chevron-up': module.isOpen, 'fa-chevron-down': !module.isOpen}"></i>
              </span>
            </div>
            <div class="panel-body" uib-collapse="!module.isOpen">
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="(group, stories) in module.stories">
                  <div class="panel panel-default panel-module" ng-init="storiesGroupOpen[group].isOpen = true">
                    <div class="panel-heading epic-heading">
                      <span>Epic: {{epicsNames[stories[0].epicId]}}</span>
                      <span class="grouped-total-stories"> - <story-filter-total total-stories="stories.length" filtered-stories="storiesGrupedEpicFiltered.length"></story-filter-total></span>
                      <span ng-click="openGroupedStories(storiesGroupOpen[group])" class="module-chevron">
                        <i class="fa" ng-class="{'fa-chevron-up': storiesGroupOpen[group].isOpen, 'fa-chevron-down': !storiesGroupOpen[group].isOpen}"></i>
                      </span>
                    </div>
                    <div class="panel-body" uib-collapse="!storiesGroupOpen[group].isOpen">
                      <ul class="list-group">
                        <li class="list-group-item animate-story no-story" ng-if="storiesGrupedEpicFiltered.length === 0">
                          No stories for filter in group
                        </li>
                        <li class="list-group-item animate-story" id="project{{selectedProject.id}}Story{{story.id}}" ng-repeat="story in stories | orderBy:porraAngular.orderStoryBy | filter:storyFilter as storiesGrupedEpicFiltered" ng-include="'storyPanel'"></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>