<form name="formStory" novalidate>
  <div class="popup-complete-story" ng-class="{'opened': completeStoryPopupOpened}">
    <div class="panel panel-default panel-edit-story">
      <div class="panel-heading" title="{{selectedStory.statement}}">
        <div class="col-md-2">
          <div class="form-group">
            <select id="selectModule" ng-model="selectedStory.module" required class="select-module form-control" ng-options="module.acronym for module in modules track by module.id">
              <option value="">-- Module --</option>
            </select>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <select id="selectEpic" ng-model="selectedStory.epic" required class="select-epic form-control" ng-options="epic.modules ? '[{modules}] {name}'.format(epic) : epic.name for epic in epics|orderBy:['modules', 'name'] track by epic.id">
              <option value="">-- Epic --</option>
            </select>
          </div>
        </div>

        <div class="col-md-6">
          <input class="story-name" placeholder="Name" ng-model="selectedStory.name" />
        </div>
        <button type="button" class="heading-close" ng-click="cancelSaveSelectedStory()"><i class="fa fa-close"></i></button>
      </div>

      <div class="panel-body">
        <div class="story-data">
          <div class="col-md-3">
            <div class="form-group">
              <select id="selectStoryType" ng-model="selectedStory.type" required class="select-story-type {{selectedStory.type | lowercase}} form-control">
                <option value="">-- choose --</option>
                <option ng-value="type.code" ng-repeat="type in storyTypes" ng-bind="type.name"></option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="points btn-group">
              <label class="really-label">VP:</label>
              <label class="btn btn-primary btn-sm points-null" ng-model="selectedStory.valuePoints" ng-class="{'active': !selectedStory.valuePoints && selectedStory.valuePoints != 0}" uib-btn-radio="null">N</label>
              <label class="btn btn-primary btn-sm points-{{point}}" ng-model="selectedStory.valuePoints" ng-class="{'active': point == selectedStory.valuePoints}" uib-btn-radio="point" ng-repeat="point in points" ng-bind="point"></label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="points btn-group">
              <label class="really-label">SP:</label>
              <label class="btn btn-primary btn-sm points-null" ng-model="selectedStory.points" ng-class="{'active': !selectedStory.points && selectedStory.points != 0}" uib-btn-radio="null">N</label>
              <label class="btn btn-primary btn-sm points-{{point}}" ng-model="selectedStory.points" ng-class="{'active': point == selectedStory.points}" uib-btn-radio="point" ng-repeat="point in points" ng-bind="point"></label>
            </div>
          </div>
        </div>

        <div class="story-statement">
          <textarea rows="3" ng-model="selectedStory.statement" placeholder="Statement" required></textarea>
        </div>

        <uib-tabset active="activeJustified" justified="true">
          <uib-tab index="0" heading="Tasks" select="changeScroll(0)">
            <ul class="list-group story-tasks" as-sortable ng-model="selectedStory.tasks">
              <li class="list-group-item" ng-repeat="task in selectedStory.tasks" ng-click="toggleEditStoryTask(task)" as-sortable-item>
                <div as-sortable-item-handle>
                  <input type="text" ng-model="task.task" ng-show="task.editing" focus-me="task.editing" ng-blur="toggleEditStoryTask(task)" ng-keypress="toggleEditStoryTask(task, $event)" />
                  <span ng-bind="task.task" ng-if="!task.editing"></span>
                  <button type="button" class="btn btn-default btn-xs btn-remove-item" ng-if="!task.editing" ng-click="removeStoryTask(selectedStory, $index)"><i class="fa fa-trash"></i></button>
                </div>
              </li>
              <li class="new-item list-group-item" ng-click="addingTaskToStory()">
                <span ng-show="!newTaskVisible">Add a task</span>
                <input type="text" ng-model="newTask.task" ng-show="newTaskVisible" focus-me="newTaskVisible" ng-blur="blurInputTaskField($event, selectedStory)" />
                <button type="button" class="btn btn-primary btn-xs btn-add-item" ng-show="newTaskVisible" ng-click="addTaskToStory($event, selectedStory)">Add</button>
                <button type="button" class="btn btn-default btn-xs btn-remove-item" ng-show="newTaskVisible" ng-click="cancelAddTaskToStory($event)"><i class="fa fa-close"></i></button>
              </li>
            </ul>
          </uib-tab>
          <uib-tab index="1" heading="DoD" select="changeScroll(1)">
            <ul class="list-group story-definitions" ng-scrollable="scrollOptions">
              <li class="list-group-item" ng-repeat="definition in selectedStory.definitionOfDone" ng-click="toggleEditStoryDefinition(definition)">
                <input type="text" ng-model="definition.definition" ng-show="definition.editing" focus-me="definition.editing" ng-blur="toggleEditStoryDefinition(definition)" ng-keypress="toggleEditStoryDefinition(task, $event)" />
                <span ng-bind="definition.definition" ng-if="!definition.editing"></span>
                <button type="button" class="btn btn-default btn-xs btn-remove-item" ng-if="!definition.editing" ng-click="removeStoryDefinition(selectedStory, $index)"><i class="fa fa-trash"></i></button>
              </li>
              <li class="new-item list-group-item" ng-click="addingDefinitionToStory()">
                <span ng-show="!newDefinitionVisible">Add a definition</span>
                <input type="text" ng-model="newDefinition.definition" ng-show="newDefinitionVisible" focus-me="newDefinitionVisible" ng-blur="addDefinitionToStory($event, selectedStory)" />
                <button type="button" class="btn btn-default btn-xs btn-remove-item" ng-show="newDefinitionVisible" ng-click="cancelAddDefinitionToStory($event)"><i class="fa fa-close"></i></button>
                <button type="button" class="btn btn-primary btn-xs btn-add-item" ng-show="newDefinitionVisible" ng-click="addDefinitionToStory($event, selectedStory)">Add</button>
              </li>
            </ul>
          </uib-tab>
          <uib-tab index="2" heading="Comments" select="changeScroll(2)">
            <ul class="list-group story-comments" ng-scrollable="scrollCommentOptions">
              <li class="list-group-item" ng-repeat="storyComment in selectedStory.comments" ng-click="toggleEditStoryComment(storyComment)">
                <textarea ng-model="storyComment.comment" ng-show="storyComment.editing" focus-me="storyComment.editing" ng-blur="toggleEditStoryComment(storyComment)"></textarea>
                <div>
                  <div class="comment-details" ng-if="!storyComment.editing">
                    <div class="col-md-7">
                      Created by: {{storyComment.creator.name}}
                    </div>
                    <div class="col-md-5">
                      Created at: {{storyComment.createdAt}}
                    </div>
                  </div>
                  <span class="with-break-lines" ng-bind="storyComment.comment"></span>
                </div>
                <button type="button" class="btn btn-default btn-xs btn-remove-item" ng-if="!storyComment.editing" ng-click="removeStoryComment(selectedStory, $index)"><i class="fa fa-trash"></i></button>
              </li>
              <li class="new-item list-group-item" ng-click="addingCommentToStory()">
                <span ng-show="!newCommentVisible">Add a comment</span>
                <textarea ng-model="newComment.comment" rows="3" ng-show="newCommentVisible" focus-me="newCommentVisible" ng-blur="blurInputCommentField($event, selectedStory)"></textarea>
                <button type="button" class="btn btn-primary btn-xs btn-add-item" ng-show="newCommentVisible" ng-click="addCommentToStory($event, selectedStory)">Add</button>
                <button type="button" class="btn btn-default btn-xs btn-remove-item" ng-show="newCommentVisible" ng-click="cancelAddCommentToStory($event)"><i class="fa fa-close"></i></button>
              </li>
            </ul>
          </uib-tab>
        </uib-tabset>
      </div>

      <div class="panel-footer">
        <button type="button" class="btn btn-warning" ng-click="cancelSaveSelectedStory()"><i class="fa fa-close"></i> Cancel</button>
        <button type="button" class="btn btn-danger" ng-if="selectedStory.id" ng-click="deleteSelectedStory()"><i class="fa fa-trash"></i> Delete </button>
        <button type="button" class="btn btn-success" ng-click="saveSelectedStory(formStory, false, updateIcebox)"><i class="fa fa-save"></i> Save</button>
        <button type="button" class="btn btn-info" ng-click="saveSelectedStory(formStory, true, updateIcebox)"><i class="fa fa-save"></i> Save and Close</button>
      </div>
    </div>
  </div>
</form>
