<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <link rel="icon" href="/img/inceres.ico">
    <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>

    <!-- injector:css -->
    <!-- endinjector -->

    <title>Scrum Inceres | Home</title>

  </head>
  <body ng-app="scrumInCeres">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Scrum InCeres</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active"><a ui-sref="boardState"><i class="fa fa-columns"></i> Board</a></li>
            <li ui-sref-active="active"><a ui-sref="backlogState"><i class="fa fa-th-list"></i> Backlog</a></li>
            <li ui-sref-active="active"><a ui-sref="iceBoxState"><i class="fa fa-snowflake-o"></i> Ice Box</a></li>
            <li ng-if="currentController === 'BoardController'">
              <button type="button" class="btn btn-default navbar-btn" ng-click="goToCurrentSprintInTimeline()">Go to current Sprint</button>
            </li>
            <li ng-if="currentController === 'IceBoxController'">
              <form class="navbar-form navbar-left">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Stories" ng-model="search.expression">
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{search.fieldType.name}} <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a ng-click="setStoryFilterTextType('name')">By Name</a></li>
                        <li><a ng-click="setStoryFilterTextType('statement')">By Statement</a></li>
                      </ul>
                      <button type="button" ng-click="searchStories()" class="btn btn-default">Go!</button>
                    </div>
                  </div>
                </div>
              </form>
            </li>
            <li ng-if="currentController === 'IceBoxController'">
              <button type="button" class="btn btn-default navbar-btn" ng-click="addNewStory()">New Story</button>
            </li>
            <li ng-if="['BacklogController', 'IceBoxController'].indexOf(currentController) !== -1">
              <div class="btn-group navbar-btn btn-story-view-type">
                <label class="btn btn-default" ng-model="itemsView.mode" title="View in list" uib-btn-radio="'list'"><i class="fa fa-th-list"></i></label>
                <label class="btn btn-default" ng-model="itemsView.mode" title="View in box" uib-btn-radio="'box'"><i class="fa fa-th"></i></label>
              </div>
            </li>
            <li ng-if="currentController === 'IceBoxController'">
              <div class="btn-group btn-group-story" uib-dropdown>
                <button id="single-button" type="button" class="btn btn-default navbar-btn" uib-dropdown-toggle>
                  Group By: {{storyGroupedBy}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                  <li role="menuitem"><a ng-click="setStoryGroupBy('None')">None</a></li>
                  <li role="menuitem"><a ng-click="setStoryGroupBy('Module')">Module</a></li>
                  <li role="menuitem"><a ng-click="setStoryGroupBy('Epic')">Epic</a></li>
                </ul>
              </div>
            </li>
            <li ng-if="currentController === 'BacklogController'" class="btn-add-sprint">
              <button type="button" class="btn btn-default navbar-btn" ng-click="addNewSprint()">New Sprint</button>
            </li>
            <li ng-if="currentController === 'BacklogController'" class="btn-add-kanban">
              <button type="button" class="btn btn-default navbar-btn" ng-click="addNewKanban()">New Kanban</button>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello {{loggedUser.name}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a ng-click="showMyInfo()">My Info</a></li>
                <li><a ui-sref="logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <ui-view></ui-view>

    <div inform class="inform-fixed inform-center inform-shadow inform-animate"></div>

    <!-- injector:js -->
    <!-- endinjector -->

    @@liveReload
  </body>
</html>