<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <link rel="icon" href="/img/yamapbord.ico">
    <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <script src="https://js.pusher.com/5.1/pusher.min.js"></script>

    <!-- injector:css -->
    <!-- endinjector -->

    <title>Gestão Ágil | Home</title>

  </head>
  <body ng-app="yamapBord">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <button type="button" class="navbar-toggle hamburguer-menu" ng-class="{'active': lateralMenuOpen}" ng-click="toggleLateralMenu()">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Gestão Ágil</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active"><a ui-sref="boardsState"><i class="fa fa-columns"></i> Board</a></li>
            <li ui-sref-active="active"><a ui-sref="backlogState"><i class="fa fa-th-list"></i> Backlog</a></li>
            <li ui-sref-active="active"><a ui-sref="iceBoxState"><i class="fa fa-snowflake-o"></i> Ice Box</a></li>
            <li ui-sref-active="active"><a ui-sref="projectState"><i class="fa fa-calendar"></i> Project</a></li>
            <li ng-if="currentController === 'BacklogController'">
              <div class="btn-group btn-group-story" uib-dropdown>
                <button id="view-as" type="button" class="btn btn-default navbar-btn" uib-dropdown-toggle>
                  View as: {{itemsView.mode}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="view-as">
                  <li role="menuitem"><a ng-click="setViewAs('list')">List</a></li>
                  <li role="menuitem"><a ng-click="setViewAs('card')">Card</a></li>
                  <li role="menuitem"><a ng-click="setViewAs('table')">Table</a></li>
                </ul>
              </div>
            </li>
            <li ng-if="currentController === 'BacklogController'" class="btn-add-sprint">
              <button type="button" class="btn btn-default navbar-btn" ng-click="addNewSprint()">New Sprint</button>
            </li>
            <li ng-if="currentController === 'BacklogController'" class="btn-add-kanban">
              <button type="button" class="btn btn-default navbar-btn" ng-click="addNewKanban()">New Kanban</button>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello {{loggedUser.name}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a ui-sref="meState">My Info</a></li>
                <li><a ui-sref="logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <ui-view></ui-view>

    <div inform class="inform-fixed inform-center inform-shadow inform-animate"></div>

    <!-- injector:js -->
    <!-- endinjector -->

    @@liveReload
  </body>
</html>