<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <link rel="icon" href="/img/inceres.ico">
    <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>

    <!-- injector:css -->
    <!-- endinjector -->

    <title>Scrum Inceres | Home</title>

  </head>
  <body ng-app="scrumInCeres">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Scrum InCeres</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active"><a ui-sref="boardState"><i class="fa fa-columns"></i> Board</a></li>
            <li ui-sref-active="active"><a ui-sref="backlogState"><i class="fa fa-th-list"></i> Backlog</a></li>
            <li ui-sref-active="active"><a ui-sref="iceBoxState"><i class="fa fa-snowflake-o"></i> Ice Box</a></li>
            <li class="projects" ng-if="currentController == 'BoardController'">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Select a Project <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li ng-repeat="project in projects"><a ng-click="viewProject(project)" ng-bind="project.name"></a></li>
              </ul>
            </li>
            <li ng-if="selectedProject !== null">
              <p class="navbar-text">
                <strong>Current Project: </strong><span ng-bind="selectedProject.name"></span> /
                <strong>Team: </strong><span ng-bind="selectedProject.team.name"></span>
              </p>
            </li>
            <li ng-if="currentController === 'IceBoxController'">
              <form class="navbar-form navbar-left">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Stories" ng-model="search.expression">
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{storyFilterTextType === null ? 'By Name' : storyFilterTextType.name}} <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a ng-click="setStoryFilterTextType('name')">By Name</a></li>
                        <li><a ng-click="setStoryFilterTextType('statement')">By Statement</a></li>
                        <li><a ng-click="setStoryFilterTextType('task')">By Task</a></li>
                        <li><a ng-click="setStoryFilterTextType('definition')">By Definition</a></li>
                      </ul>
                      <button type="button" ng-click="searchStories()" class="btn btn-default">Go!</button>
                    </div>
                  </div>
                </div>
              </form>
            </li>
            <li ng-if="selectedProject !== null">
              <button type="button" class="btn btn-default navbar-btn" ng-click="goToCurrentSprintInTimeline()">Go to current Sprint</button>
            </li>
            <li class="dropdown" ng-if="currentController === 'IceBoxController'">
              <a class="dropdown-toggle story-type {{currentStoryTypeFilter !== null ? currentStoryTypeFilter.code.toLowerCase() : ''}}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{currentStoryTypeFilter === null ? 'Filter by Type' : currentStoryTypeFilter.name}} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a ng-click="filterByStoryType(null)">All Stories</a></li>
                <li role="separator" class="divider"></li>
                <li ng-repeat="type in storyTypes"><a ng-click="filterByStoryType(type)" class="story-type-option" ng-class="type.code | lowercase" ng-bind="type.name"></a></li>
              </ul>
            </li>
            <li ng-if="currentController === 'IceBoxController'">
              <button type="button" class="btn btn-default navbar-btn" ng-click="addNewStory()">New Story</button>
            </li>
            <li ng-if="currentController === 'BacklogController'">
              <button type="button" class="btn btn-default navbar-btn" ng-click="addNewSprint()">New Sprint</button>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello {{loggedUser.name}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a ng-click="showMyInfo()">My Info</a></li>
                <li><a ui-sref="logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <ui-view></ui-view>

    <div inform class="inform-fixed inform-center inform-shadow inform-animate"></div>

    <!-- injector:js -->
    <!-- endinjector -->

    @@liveReload
  </body>
</html>